-
	const sectionOrderReserve = {
		data: {
		title: 'Резерв',
		reserve: '1. Резерв товара на складе',
		room: '№1605221-RSRV',
		infoWay: 'Выберите удобный для вас способ резерва',
		infoPeriodDays: 'Резерв (3дня)',
		infoPeriodImg: '/icon-warning.svg',
		infoPeriodAlt: 'Time',
		infoPeriodDate: '25.05.2022 - 28.05.2022',
		itemBtn: 'Сохранить',
		},
		elem: {
			Card: {
				elemArr: [
					{
						data: {
							text: 'TESTING PERSONAL AREAD TEST Sashat1',
							desc: '123',
							buttonText: 'Button23',
							//- order: 'Заказ №210522/1-MT',
							firm: 'ИП Петров Иван',
							sum: '6 233 944 ',
							weight: '≈ 4,548 т',
							count: 'Всего наименований (12)\n на сумму 6 233 944 руб.\n (в том числе НДС 20%)',
							numberInWords: 'Сто пятьдесят восемь миллионов двести\n тридцать три тысячи девятьсот сорок четыре\n руб. 00 копеек',
							description:'Копия документов на оплату отправлена на вашу электронную почту. В течении ближайшего времени с вами свяжеться менеджер, чтобы обсудить делали заказа.',
							date: '(действителен до 21.05.2022)'
						},
						elem: {
							TextOrder: {
								data: {
									text: 'Заказ №210522/1-MT'
								},
								bem: {
									size: 'fs-28',
									color: 'wet-asphalt'
								}
							}
						},
						opt: {
							link: true,
						},
						dataArr: {
							linkPdf: [
								{
									data: {
									href: '#',
									linkText: 'Скачать счет PDF',
									date: '(действителен до 21.05.2022)'
									}
								},
								{
									data: {
										href: '#',
										linkText: 'Бланк заказа PDF',
										date: '(действителен до 21.05.2022)'
									}
								}
							]
						}
					},
					{
						data: {
							text: 'TESTING PERSONAL AREAD TEST Sashat1',
							desc: '123',
							buttonText: 'Button23',
							order: 'Заказ №210522/2-MT',
							firm: 'Петров Иван',
							sum: '6 233 944',
							weight: '≈ 4,548 т',
							count: 'Всего наименований (12)\n на сумму 6 233 944 руб.\n (в том числе НДС 20%)',
							numberInWords: 'Сто пятьдесят восемь миллионов двести\n тридцать три тысячи девятьсот сорок четыре\n руб. 00 копеек',
							description:'Копия документов на оплату отправлена на вашу электронную почту. В течении ближайшего времени с вами свяжеться менеджер, чтобы обсудить делали заказа.',
						},
						elem: {
							TextOrder: {
								data: {
									text: 'Заказ №210522/2-MT'
								},
								bem: {
									size: 'fs-28',
									color: 'wet-asphalt'
								}
							}
						},
						dataArr: {
							linkPdf: [
								{
									data: {
										href: '#',
										linkText: 'Бланк заказа PDF',
										date: '(действителен до 21.05.2022)'
									}
								}
							]
						}
					},
					{
						data: {
							text: 'TESTING PERSONAL AREAD TEST Sashat1',
							desc: '123',
							buttonText: 'Button23',
							order: 'Заказ №210522/1-MT',
							firm: 'ООО «Черномор»',
							sum: '6 233 944 ',
							weight: '≈ 4,548 т',
							count: 'Всего наименований (12)\n на сумму 6 233 944 руб.\n (в том числе НДС 20%)',
							numberInWords: 'Сто пятьдесят восемь миллионов двести\n тридцать три тысячи девятьсот сорок четыре\n руб. 00 копеек',
							description:'Копия документов на оплату отправлена на вашу электронную почту. В течении ближайшего времени с вами свяжеться менеджер, чтобы обсудить делали заказа.',
							date: '(действителен до 21.05.2022)'
						},
						elem: {
							TextOrder: {
								data: {
									text: 'Заказ №210522/1-MT'
								},
								bem: {
									size: 'fs-28',
									color: 'wet-asphalt'
								}
							}
						},
						opt: {
							link: true,
						},
						bem: {
							hide: 'hide'
						},
						dataArr: {
							linkPdf: [
								{
									data: {
									href: '#',
									linkText: 'Скачать счет PDF',
									date: '(действителен до 21.05.2022)'
									}
								},
								{
									data: {
										href: '#',
										linkText: 'Бланк заказа PDF',
										date: '(действителен до 21.05.2022)'
									}
								}
							]
						}
					},
				]
			}
		},
		//- данные секции
		dataArr:{
				reserve:[
						{
							data:{
								title:"Резерв (1 день)",
								text:"Резерв товаров из заказа на складе сроком на 24 часа, 1 календарный день.",
								sum:"10 000 /р.",
								add:"Добавить",
							},
						},
						{
							data:{
							title:"Резерв (3 дня)",
							text:"Резерв товаров из заказа на складе сроком на 72 часа, 3 календарных дня.",
							sum:"15 000 /р.",
							add:"Добавить",
							},
						},
					],
				warning:[
						{
							data:{
								img: '/icon-warning.svg',
								alt:"Warning",
								text:"Заранее согласовывайте время самовывоза с менеджером",
							},
						},
						{
							data:{
								img: '/icon-warning.svg',
								alt:"Warning",
								text:"Самовывоз осуществляется собственными силами",
							},
						},
						{
							data:{
								img: '/icon-warning.svg',
								alt:"Warning",
								text:"На манипуляторы с «Катюшей» погрузка не осуществляется",
							},
						},
					]
				}
	};
