//- инстанст функции для дробления store на отдельные секции
- let orderReserve = addSections();

//- секция SECTION-BREADCRUMBS
include order-reserve-section-breadcrumbs
- orderReserve.section = 'sectionBreadcrumbs';

//- секция SECTION-ORDER-RESERVE
include order-reserve-section-order-reserve
- orderReserve.section = 'sectionOrderReserve';
