-
	const sectionOrderReserve = {
		data: {
			title: 'Резерв',
			orderTitle: 'Заказ №210522/1-MT',
			CompletionReserveRoom: 'Заказ №210522/1-MT',
			CompletionReserveName: 'ИП Петров Иван',
			reserve: '1. Резерв товара на складе',
			personalData: '2. Личные данные',
			decor: '3. Заверешение оформления',
			room: '№1605221-RSRV',
			infoWay: 'Выберите удобный для вас способ резерва',
			infoDetails: 'Заполните данные для оформления заказа',
			infoPeriodDays: 'Резерв (3дня)',
			infoPeriodImg: 'icon-time.svg',
			infoPeriodAlt: 'Time',
			infoPeriodDate: '25.05.2022 - 28.05.2022',
			placeholderInn: 'ИНН*',
			placeholderCompanyName: 'Название компании',
			placeholderName: 'Имя*',
			placeholderSurname: 'Фамилия*',
			placeholderTel: 'Моб. телефон*',
			placeholderDeliveryAddress: 'Адрес доставки',
			placeholderEmail: 'E-mail',
			itemBtn: 'Сохранить',
			icon: '/basket.svg',
			qr: '/icon-qr.svg',
			iconAlt: 'Icon',
			reserveConditionTitle: 'Условия резерва',
			reserveConditionText: 'Резерв товаров из вашего списка товаров на складе сроком на 14 суток. Приобретая услугу Вы соглашаетесь с тем, что стоимость товара на момент окончания срока резерва может изменится. По окончанию срока резерва товара на складе мы не гарантируем его последующее наличие. Цены не являются публичной офертой, содержит ориентировочный уровень цен. Окончательную цену (и уровень скидок) - оговаривайте с менеджером. Приобретая услугу Вы соглашаетесь с тем, что стоимость товара на момент окончания срока резерва может изменится. Резерв товаров из вашего списка товаров на складе сроком на 14 суток. Приобретая услугу Вы соглашаетесь с тем, что стоимость товара на момент окончания срока резерва может изменится. По окончанию срока резерва товара на складе мы не гарантируем его последующее наличие.',
			reservePersonalData: 'Конфеденциальность личных данных',
			reservePersonalText: 'Резерв товаров из вашего списка товаров на складе сроком на 14 суток. Приобретая услугу Вы соглашаетесь с тем, что стоимость товара на момент окончания срока резерва может изменится. По окончанию срока резерва товара на складе мы не гарантируем его последующее наличие. Цены не являются публичной офертой, содержит ориентировочный уровень цен. Окончательную цену (и уровень скидок) - оговаривайте с менеджером. Приобретая услугу Вы соглашаетесь с тем, что стоимость товара на момент окончания срока резерва может изменится. Резерв товаров из вашего списка товаров на складе сроком на 14 суток. Приобретая услугу Вы соглашаетесь с тем, что стоимость товара на момент окончания срока резерва может изменится. По окончанию срока резерва товара на складе мы не гарантируем его последующее наличие.',
		},
		elem: {
			ContactInformationFooter : {
				elemArr: [
					{
						data: {
						title: 'Metaloteka',
						subtitle: 'Металлопрокат оптом и в розницу',
						},
						opt: {
							heading: true,
							subtitle: true
						},
						dataArr: {
							texts: [
								{
									data: {
										text: 'QR-код для загрузки\n реквизитов в мобильное\n приложение банка'
									},
								}
							]
						}
					},
					{
						data: {
								link: '+7 495 545 64 20',
								href: 'tel:+74955456420',
						},
						opt: {
							link: true,
						},
						dataArr: {
							texts: [
								{
									data: {
										text: 'Телефон клиентской\n поддержки',
									},

								},
								{
									data: {
										text: 'Онлайн заявки и заказы обрабатываем с 9:00-18:00',
									},
									bem: {
										weihgt: 'bold'
									}
								}
							]
						}
					},
					{
						data: {
							link: 'info@metaloteka.ru',
							href: 'mailto:info@metaloteka.ru'
						},
						opt: {
							link: true,
						},
						dataArr: {
							texts: [
								{
									data: {
										text: 'Напишите нам\n и мы постараемся ответить на все\n ваши вопросы'
									}
								}
							]
						}
					}
				]
			},
			AccordionDeliveryMethod: {
				data: {
					title: 'Способ доставки',
				}
			},
			AccordionPersonalData: {
				data: {
					title: 'Личные данные',
				}
			},
			AccordionCompletionRegistration: {
				data: {
					title: 'Завершение оформления',
				}
			},
			AccordionOrderList: {
				data: {
					title: 'Состав заказа',
				}
			},
			Tabs: {
				bem: {
					modifierTabs: 'button'
				},
				dataArr: {
					tabButtons: [
						{
							data: {
								tabButton: 'Юрид. лицо',
								dataTabButton: '1'
							}
						},
						{
							data: {
								tabButton: 'Физ. лицо',
								dataTabButton: '2'
							}
						}
					],
					tabContents: [
						{
							data: {
								tabContent: 'Один',
								dataTabContent: '1'
							}
						},
						{
							data: {
								tabContent: 'Два',
								dataTabContent: '2'
							}
						}
					]
				}
			},
		},
		//- данные секции
		dataArr:{
				reserve:[
						{
							data:{
								title:"Резерв (1 день)",
								text:"Резерв товаров из заказа на складе сроком на 24 часа, 1 календарный день.",
								sum:"10 000 /р.",
								add:"Добавить",
							},
						},
						{
							data:{
							title:"Резерв (3 дня)",
							text:"Резерв товаров из заказа на складе сроком на 72 часа, 3 календарных дня.",
							sum:"15 000 /р.",
							add:"Добавить",
							},
						},
					],
				warning:[
						{
							data:{
								img: '/icon-warning.svg',
								alt:"Warning",
								text:"Заранее согласовывайте время самовывоза с менеджером",
							},
						},
						{
							data:{
								img: '/icon-warning.svg',
								alt:"Warning",
								text:"Самовывоз осуществляется собственными силами",
							},
						},
						{
							data:{
								img: '/icon-warning.svg',
								alt:"Warning",
								text:"На манипуляторы с «Катюшей» погрузка не осуществляется",
							},
						},
					],
					compound:[
						{
							data:{
								name: 'Круг алюминиевый 1,5 мм АМГ6',
								thickness:"1,5",
								size:"3000",
								weight:"1,558 т.",
								sum:"3 472 549 / р.",
							},
						},
						{
							data:{
								name: 'Круг алюминиевый 1,5 мм АМГ6',
								thickness:"1,5",
								size:"3000",
								weight:"0,958 т.",
								sum:"2 472 549 / р.",
							},
						},
						{
							data:{
								name: 'Круг алюминиевый 2 мм АМГ6',
								thickness:"2",
								size:"3000",
								weight:"0,200 т.",
								sum:"500 549 / р.",
							},
						},
						{
							data:{
								name: 'Круг алюминиевый 6 мм АМГ6',
								thickness:"6",
								size:"3000",
								weight:"2,200 т. / 320 м",
								sum:"50 549 / р.",
							},
						},
						{
							data:{
								name: 'Круг алюминиевый 8 мм АМГ6',
								thickness:"8",
								size:"3000",
								weight:"0,065 т.",
								sum:"18 549 / р.",
							},
						},
						{
							data:{
								name: 'Просечно-вытяжной лист, 16 мм (изготавливается по технологии горячекатного листа)',
								thickness:"10",
								size:"1500 x 600",
								weight:"1,200 т.",
								sum:"32 549 / р.",
							},
						},
						{
							data:{
								name: 'Доставка (Борт 10т, 10м, зона МКАД)',
								amount:"2 шт.",
								sum:"32 549 / р.",
							},
						},
					]
				}
	};
