//- инстанст функции для дробления store на отдельные секции
- let orderReserve = addSections();

//- секция SECTION-BREADCRUMBS
include order-reserve-section-breadcrumbs
- orderReserve.section = 'sectionBreadcrumbs';
