.popup-registration {
	width: 368px;
	padding: 51px 42px 44px;

	&__title {
		margin-bottom: 24px;

		text-align: left;
		letter-spacing: normal;

		color: $wet-asphalt;

		font-size: $fs-38;
		font-weight: 900;
		line-height: 1;
	}

	&__line {
		width: 100%;
		max-width: 284px;
		height: 9px;
		margin-bottom: 40px;

		border: none;
		background: var(--blue-gradient);
	}

	&__form {
		display: flex;
		flex-direction: column;

		width: 100%;
		max-width: 500px;

		border-radius: 20px;
	}

	&__field-item {
		position: relative;

		display: block;

		width: 100%;
		height: 64px;
		margin-bottom: 21px;

		opacity: 0.38;
		border: solid 1px #464646;
		border-radius: 14px;
		background-color: #fcfcfc;
	}

	&__field-item-inn {
		&__field-item-inn::placeholder {
			opacity: 1;
		}
	}

	&__field-item input {
		position: absolute;
		bottom: 0;

		width: 100%;
		height: 64px;
		padding: 20px 15px 0 32px;

		letter-spacing: normal;

		opacity: 0.9;
		color: #464646;

		border: none;
		outline: none;
		background: transparent;

		font-size: $fs-big;
		font-weight: 700;
		line-height: 1;
	}

	&__field-item span {
		position: absolute;
		top: 23px;
		left: 32px;

		cursor: text;
		transition: 0.2s;
		letter-spacing: normal;

		opacity: 0.78;
		color: $wet-asphalt;

		font-size: $fs-big;
		font-weight: 500;
		line-height: 1;
	}

	&__field-item--radio label{
		color: $wet-asphalt;

		font-size: 1.6rem;;
		font-weight: 500;
		line-height: 1;
	}

	&__field-item input:focus + span,
	&__field-item input:valid + span {
		top: 16px;
		left: 32px;

		font-size: $fs-small;
	}

	&__button-password {
		width: 100%;
		max-width: 284px;
		height: 64px;
		margin-top: 21px;
		margin-bottom: 35px;
		padding: 25px 12px;

		cursor: pointer;
		text-align: center;
		letter-spacing: normal;

		color: $white;
		border: none;
		border-radius: 14px;
		outline: none;
		background: $blue-gradient;

		font-family: var(--font-default);
		font-size: $fs-20;
		font-weight: 800;
		line-height: 1;
	}

	&__button-data {
		width: 100%;
		max-width: 284px;
		height: 64px;
		padding: 23px 10px 23px;

		cursor: pointer;
		text-align: center;
		letter-spacing: normal;

		color: $white;

		border: none;
		border-radius: 14px;
		outline: none;
		background: var(--blue-gradient);

		font-size: $fs-big;
		font-weight: 800;
		line-height: 1;
	}

	&__subtitle {
		max-width: 284px;
		margin-bottom: 16px;

		letter-spacing: normal;

		color: $wet-asphalt;

		font-size: $fs-18;
		font-weight: 800;
		line-height: 1.11;
	}

	&__text {
		padding: 0 40px;

		letter-spacing: normal;

		color: $wet-asphalt;

		font-weight: 300;
		line-height: 1.14;
	}

	&__reserve-condition-title {
		margin-bottom: 15px;
	}

	&__reserve-condition-text {
		margin-bottom: 15px;
	}

	& .tabs__body {
		& .tabs__content {
			padding-bottom: 0;
		}
	}

	& .tabs__buttons {
		column-gap: 10px;

		margin-bottom: 10px;

		& .tabs__button {
			width: 130px;
		}
	}

	//@include media('xs') {
	//	&__form {
	//		margin-bottom: 52px;
	//	}
	//}
}


