//- инстанст функции для дробления store на отдельные секции
- let catalog = addSections();

//- секция SECTION-BREADCRUMBS
include catalog-section-breadcrumbs
- catalog.section = 'sectionBreadcrumbs';

//- секция SECTION-BREADCRUMBS
include catalog-section-catalog
- catalog.section = 'sectionCatalog';
