-
	const sectionCatalog = {
		data: {
			text: 'Каталог'
		},
		dataArr: {
			category: [
				{
					data: {
						title: "Трубный прокат",
						href: "#"
					}
				},
				{
					data: {
						title: "Арматурный прокат",
						href: "#"
					}
				},
				{
					data: {
						title: "Метизная продукция",
						href: "#"
					}
				},
				{
					data: {
						title: "Листовой прокат",
						href: "#"
					}
				},
				{
					data: {
						title: "Нержавеющая сталь",
						text: "Трубный прокат с высокой волатильностью отпускных цен комбинатов актуальные цены на металл",
						subtitle: "В каталог",
						amount: "2560"
					}
				},
				{
					data: {
						title: "Цветные металлы",
						href: "#"
					}
				},
				{
					data: {
						title: "Сортовой прокат",
						href: "#"
					}
				},
			]
		}
	}
