.section-metal {
	padding-top: 59px;
	padding-bottom: 90px;

	background: linear-gradient(306deg, #636267, #47474b 0%);

	&__title {
		max-width: 738px;
		margin-bottom: 36px;

		word-break: break-word;

		font-size: $fs-title3;
		font-weight: 800;
		line-height: 0.78;
	}

	&__subtitle {
		display: none;
	}

	&__metal-production {
		display: none;

		font-size: $fs-18;
		font-weight: 200;
		line-height: 1.44;

		&.active {
			display: -webkit-box;
			overflow: hidden;

			text-overflow: ellipsis;
			-webkit-line-clamp: 6;
			line-clamp: 20;
			-webkit-box-orient: vertical;
		}

		&.opened {
			display: block;
		}
	}

	&__button {
		display: block;

		margin-top: 28px;

		color: $white;
		border: none;
		background: none;

		font-size: $fs-default;
		line-height: 1.14;
	}

	&__line {
		// margin-right: -23px;
		// margin-bottom: 38px;
		// margin-left: -23px;

		opacity: 0.21;
		border-bottom: solid 8px $white;
	}

	&__metal-steel {
		margin-bottom: 40px;

		font-size: $fs-24;
		font-weight: 400;
		line-height: 1.08;
	}

	&__metal-list {
		margin-bottom: 52px;

		font-size: $fs-18;
		font-weight: 200;
		line-height: 1.44;
	}

	&__metal-delivery {
		font-size: $fs-18;
		font-weight: 200;
		line-height: 1.44;
	}

	&__metal-info {
		display: none;

		font-size: $fs-18;
		font-weight: 200;
		line-height: 1.44;
	}

	@include media(xs) {
		&__title {
			max-width: 738px;
			margin-bottom: 40px;

			word-break: break-word;

			font-size: $fs-title1;
			font-weight: 800;
			line-height: 0.79;
		}

		&__subtitle {
			display: block;

			margin-top: 33px;
			margin-bottom: 33px;

			font-size: 38px;
			font-weight: 800;
			line-height: 1;
		}

		&__line {
			margin-right: 0;
			margin-bottom: 46px;
			margin-left: 0;

			opacity: 0.21;
			border-bottom: solid 8px $white;
		}

		&__metal-steel {
			max-width: 550px;
			margin-bottom: 60px;
		}

		&__metal-list {
			display: none;
		}

		&__metal-info {
			display: block;

			margin-bottom: 33px;

			font-size: $fs-18;
			font-weight: 200;
			line-height: 1.44;
		}

		&__metal-production {
			margin-bottom: 33px;

			font-size: $fs-18;
			font-weight: 200;
			line-height: 1.44;
		}

		&__button {
			display: none;
		}
	}
}

@include media(xs) {
	.section-metal {
		padding-top: 103px;
		padding-bottom: 10px;
	}
}
