extends ../../layout/main

block store
	include store/order-reserve.store.pug

append head
	title Оформление резерва

block main

	//- подключение и вызов секции SECTION-BREADCRUMBS
	include ../../sections/section-breadcrumbs/section-breadcrumbs
	+section-breadcrumbs(orderReserve.sectionBreadcrumbs)

	//- подключение и вызов секции SECTION-ORDER-RESERVE
	include ../../sections/section-order-reserve/section-order-reserve
	+section-order-reserve(orderReserve.sectionOrderReserve)
