extends ../../layout/main

block store
	include store/order-reserve.store.pug

append head
	title Оформление резерва

block main

	//- подключение и вызов секции SECTION-BREADCRUMBS
	include ../../sections/section-breadcrumbs/section-breadcrumbs
	+section-breadcrumbs(orderReserve.sectionBreadcrumbs)
