include ../../../node_modules/bempug/index
-
	BEMPUG.modifier = '_';
	BEMPUG.afterParse[''] = function (block) {
		block.classes = [];
	}

let a = 'fff'

doctype html
html
	head
		title qqqqqqqqq
	body
		+b('profile')

			h1 Hellosds Hyruzzled sdsdsdsd

		+b('ddd')(title='#{a}')
			+e('ddeee')
