//- инстанст функции для дробления store на отдельные секции
- let categories = addSections();

//- секция SECTION-BREADCRUMBS
include categories-section-breadcrumbs
- categories.section = 'sectionBreadcrumbs';

//- секция SECTION-BREADCRUMBS
include categories-section-categories
- categories.section = 'sectionCategories';
