.footer {
	//Mobile

	display: block;

	margin-top: 200px;
	padding-top: 45px;
	padding-bottom: 33px;

	background: linear-gradient(306deg, #636267, #47474b 0%);

	//-Иконки-----------------------------
	&__footer-icons {
		display: flex;
		flex-direction: column;
	}

	&__metaloteka-icons {
		// border: none;
	}

	&__metaloteka-logo {
		display: flex;

		margin-bottom: 42px;
		padding: 0 10px 0 30px;

		border: none;
	}

	&__icons-font {
		display: none;
	}

	&__metaloteka-logo_item {
		width: 100%;
		max-width: 130px;
	}

	&__social {
		display: none;
	}

	&__social-item {
		max-width: 21.5px;
		max-height: 21.5px;

		cursor: pointer;
	}

	//-Клиентам----------------------------

	&__clients {
		display: flex;
		flex-direction: column;

		margin-bottom: 21px;
		padding: 0 44px 0;

		color: $white;

		font-size: 9px;
		font-weight: 300;
		line-height: 1.11;
		gap: 12px;
	}

	&__title {
		margin-bottom: 18px;

		color: $white;

		font-size: 19px;
		font-weight: 800;
		line-height: 0.68;
	}

	//-Каталог----------------------------

	&__catalog {
		display: flex;
		flex-direction: column;

		margin-bottom: 42px;
		padding: 0 44px 0;

		color: $white;

		font-size: 13px;
		font-weight: 700;
		line-height: 1.08;

		gap: 24px;
	}

	//-Контакты-----------------------------------

	&__contacts {
		margin-bottom: 29px;
	}

	&__address-wrapper {
		display: flex;
		flex-direction: column;
		gap: 5px;

		margin-bottom: 28px;
		padding: 0 40px 0;
	}

	&__subtitle {
		color: $white;

		font-size: 13px;
		font-weight: 800;
		line-height: 1;
	}

	&__adress-subtitle {
		color: $white;

		font-size: 9px;
		font-weight: 300;
		line-height: 1.11;
	}

	&__messenger-subtitle {
		color: $white;

		font-size: 7px;
		font-weight: 300;
		line-height: 1.14;
	}

	&__messenger {
		display: flex;
		flex-direction: column;

		margin-bottom: 28px;
		padding: 0 40px 0;

		color: $white;

		font-size: 26px;
		font-weight: 800;
		line-height: 1;
	}

	//-Реквезиты---------------------------------------

	&__requesites {
		display: flex;
		overflow-x: scroll;

		flex-wrap: wrap;
		justify-content: center;

		margin-bottom: 21px;
		padding: 18.5px 26.5px 19px 38.5px;
		gap: 20px;
	}

	&__requesites-info {
		display: none;
	}

	&__requesites-img {
		max-width: 30px;
	}

	&__sber-icons {
		display: flex;
		flex: 1 268px;
		flex-direction: row;
		// flex-wrap: wrap;
		justify-content: center;
		gap: 14px;
	}

	&__logo-sberbank {
		flex: 1 1 140px;

		max-width: 100px;
	}

	&__logo-payment {
		flex: 1 1 190px;

		max-width: 54px;
	}

	&__logo-mir {
		flex: 1 1 190px;

		max-width: 50px;
	}

	&__button-wrapper {
		display: flex;
		align-items: center;
		justify-content: center;

		margin-bottom: 21px;
	}

	&__button {
		max-width: 242px;
		max-height: 62px;
		padding: 10px;
		padding: 10px 40px;

		text-align: center;

		color: $white;
		border: solid 1px $white;
		background: none;

		font-size: 18px;
		font-weight: 800;
		line-height: 1;
	}

	&__individuals {
		display: flex;
		flex-direction: column;
		gap: 14px;
	}

	&__title-individuals {
		color: $white;

		font-size: 10px;
		font-weight: 800;
		line-height: 0.9;
	}

	&__subtitle-individuals {
		color: $white;

		font-size: 7px;
		font-weight: 300;
		line-height: 1.14;
	}

	&__legal-entities {
		display: flex;
		flex-direction: column;
		gap: 14px;

		font-size: 20px;
		font-weight: 700;
		line-height: 0.9;
	}

	//-Информация---------------------------------------

	&__info-metaloteka {
		display: inline-block;

		margin-bottom: 42px;
		padding: 0 20px 0;

		color: $white;

		font-size: 8px;
		font-weight: 200;
		line-height: 1.29;
	}

	//-Политика конфидициальности------------------------

	&__privacy-policy-wrapper {
		display: grid;
		grid-template-columns: 1fr;
	}

	&__privacy-policy_item {
		display: flex;
		flex: 1 1 330px;

		padding: 33px 64px 33px 66px;

		color: $white;
	}

	&__privacy-policy-info {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: center;

		margin-bottom: 14px;
		padding: 0 20px 0;

		color: $white;

		font-size: 8px;
		font-weight: 300;
		line-height: 1.13;
		gap: 14px;
	}

	&__privacy-policy {
		display: flex;
		flex: 1 1 100px;
		justify-content: center;
	}

	&__privacy-policy-map {
		display: flex;
		flex: 1 1 100px;
		justify-content: center;
	}

	&__privacy-policy-img-wrapper {
		display: none;
	}

	&__privacy-policy-web {
		display: flex;
		align-items: center;
		justify-content: center;

		padding: 0 20px 0;

		text-align: right;

		color: $white;

		font-size: 8px;
		font-weight: 300;
		line-height: 1.13;
	}

	//Desctop

	@include media(xs) {
		//-Иконки-----------------------------

		&__footer-icons {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;

			border-top: 0.5px solid #d9d8d8;
			border-left: 0.5px solid #d9d8d8;
		}

		&__metaloteka-icons {
			flex: 1 1 193px;

			border-right: 0.5px solid #d9d8d8;
			border-bottom: 0.5px solid #d9d8d8;
		}

		&__metaloteka-logo {
			justify-content: center;

			margin-bottom: 0;

			padding: 49px 62px 55px 64px;

			border-top: solid 0.5px #d9d8d8;
			border-bottom: solid 0.5px #d9d8d8;
		}

		&__icons-font {
			display: flex;
			flex-direction: column;
			justify-content: center;

			padding: 68px 62px 68px 64px;

			text-align: center;

			color: $white;

			gap: 9px;

			font-size: 7px;
			font-weight: 400;
			line-height: 1;
		}

		&__metaloteka-logo_item {
			width: 100%;
			max-width: 260px;
		}

		&__social {
			display: flex;
			justify-content: center;
			gap: 10px;

			padding: 46px 53px;
		}

		&__clients {
			flex: 1 1 143px;

			margin-bottom: 0;

			padding: 34px 21.5px 50px 22px;

			border-right: 0.5px solid #d9d8d8;
			border-bottom: 0.5px solid #d9d8d8;
		}

		&__catalog {
			flex: 1 1 165px;

			margin-bottom: 0;
			padding: 34px 21.5px 44px 22px;

			color: $white;

			border-right: 0.5px solid #d9d8d8;
			border-bottom: 0.5px solid #d9d8d8;

			font-size: 13px;
			font-weight: 200;
			line-height: 1.08;
		}

		//-Контакты-----------------------------------

		&__contacts {
			flex: 1 1 278px;

			margin-bottom: 0;

			border-right: 0.5px solid #d9d8d8;
			border-bottom: 0.5px solid #d9d8d8;
		}

		&__address-wrapper {
			margin-bottom: 0;
			padding: 35px;
		}

		&__messenger {
			margin-bottom: 42px;
			margin-bottom: 0;
			padding: 35px;

			border-top: solid 0.5px #d9d8d8;
			gap: 5px;
		}

		//-Реквезиты---------------------------------------

		&__requesites {
			// display: grid;
			overflow: hidden;
			align-items: center;
			flex-wrap: wrap;

			margin-bottom: 0;
			padding: 46px 53px;

			color: $white;
			border-right: solid 0.5px #d9d8d8;

			border-left: solid 0.5px #d9d8d8;
			gap: 22px;
		}

		&__requesites-info {
			display: flex;
			align-items: center;
			flex: 1 1 476px;
			justify-content: center;
			gap: 16px;
		}

		&__sber-icons {
			display: flex;
			flex: 1 268px;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
			gap: 14px;
		}
	

		&__button-wrapper {
			display: flex;
			align-items: center;

			margin-bottom: 0;
			padding-top: 10px;
			padding-right: 30px;
			padding-bottom: 10px;
			padding-left: 30px;
		}

		//-Информация---------------------------------------

		&__info-metaloteka {
			margin-bottom: 0;
			padding: 27px 56px 30px 55px;

			border-top: solid 0.5px #d9d8d8;

			border-right: solid 0.5px #d9d8d8;
			border-left: solid 0.5px #d9d8d8;
		}

		//-Политика конфидициальности------------------------

		&__privacy-policy-wrapper {
			display: flex;
			flex-wrap: wrap;

			border-top: 0.5px solid #d9d8d8;
			border-left: 0.5px solid #d9d8d8;
		}

		&__privacy-policy-info {
			flex: 1 1 330px;
			justify-content: space-between;

			margin-bottom: 0;

			padding-right: 64px;
			padding-left: 55px;

			border-right: 0.5px solid #d9d8d8;
			border-bottom: 0.5px solid #d9d8d8;
		}

		&__privacy-policy-img-wrapper {
			display: flex;
			align-items: center;
			flex: 1 1 330px;
			justify-content: center;

			padding-top: 35px;
			padding-bottom: 34px;

			border-right: 0.5px solid #d9d8d8;
			border-bottom: 0.5px solid #d9d8d8;
		}

		&__privacy-policy-img {
			max-width: 130px;
		}

		&__privacy-policy-web {
			flex: 1 1 330px;

			border-right: 0.5px solid #d9d8d8;
			border-bottom: 0.5px solid #d9d8d8;
		}

	
	}
}

@include media(xs) {
	.footer {
		padding-top: 103px;
		padding-bottom: 107px;
	}
}
