.footer {
	//Mobile
	display: block;

	padding-top: 105px;
	padding-bottom: 70px;

	&__footer-top {
		display: flex;
		flex-direction: column;
	}

	//-Иконки-----------------------------
	&__metaloteka-logo {
		display: flex;

		margin-bottom: 40px;
		padding-inline: 40px;

		border: none;
	}

	&__icons-font {
		display: none;
	}

	&__metaloteka-logo_item {
		width: 100%;
		max-width: 288px;
	}

	&__social {
		display: none;
	}

	//-Клиентам----------------------------

	&__clients {
		display: flex;
		align-items: flex-start;
		flex-direction: column;

		margin-bottom: 40px;
		padding-inline: 45px;

		font-size: $fs-18;
		line-height: 1.11;
		gap: 12px;
	}

	&__clients-item {
		text-decoration: none;
	}

	&__clients-title {
		margin-bottom: 25px;

		font-size: 38px;
		font-weight: 800;
		line-height: 0.68;
	}

	&__catalog-title {
		margin-bottom: 11px;

		letter-spacing: normal;

		color: $white;

		font-size: 38px;
		font-weight: 800;
		line-height: 0.68;
	}

	//-Каталог----------------------------

	&__catalog {
		display: flex;
		align-items: flex-start;
		flex-direction: column;

		margin-bottom: 45px;
		padding: 0 39px 0 46px;

		font-size: $fs-26;
		font-weight: 400;
		line-height: 1.08;

		gap: 24px;
	}

	&__catalog-item {
		text-decoration: none;
	}

	//-Контакты-----------------------------------

	&__contacts {
		margin-bottom: 30px;
		padding: 0 35px 0 5px;
	}

	&__address-wrapper {
		display: flex;
		flex-direction: column;
		gap: 5px;

		margin-bottom: 22px;
		padding: 0 40px 0;
	}

	&__subtitle {
		text-decoration: underline;
		word-break: break-word;

		font-size: $fs-26;
		font-weight: 800;
		line-height: 1;
	}

	&__adress-subtitle {
		font-size: $fs-18;
		font-weight: 300;
		line-height: 1.11;
	}

	&__messenger-title {
		font-size: $fs-18;
		font-weight: 300;
		line-height: 1.11;
	}

	&__messenger-subtitle {
		font-weight: 300;
		line-height: 1.14;
	}

	&__messenger {
		display: flex;
		flex-direction: column;
		gap: 5px;

		margin-bottom: 27px;
		padding: 0 30px 0 40px;

		font-size: $fs-26;
		font-weight: 800;
		line-height: 1;
	}

	//-Реквезиты---------------------------------------

	&__requesites {
		display: grid;
		grid-template-areas:
			'a'
			'b';
		padding-inline: 25px;

		margin-bottom: 45px;
	}

	&__requesites-info {
		display: none;
	}

	&__requesites-img {
		max-width: 54px;
		margin-right: 28px;
	}

	&__bank-icons {
		display: flex;
		overflow-x: scroll;
		align-items: center;
		flex-wrap: nowrap;

		width: 260px;

		margin-bottom: 20px;

		transform: translate(30px) scale(1.2);
		gap: 30px;

		&::-webkit-scrollbar {
			width: 0;
		}
	}

	&__button {
		display: flex;
		align-items: center;
		justify-content: center;

		width: 100%;
		padding-block: 12px;

		cursor: pointer;
		transition: all 0.3s;
		text-align: center;

		color: $white;

		border: solid 1px $white;
		background: none;

		font-size: $fs-36;
		font-weight: 700;
		line-height: 1;

		&:hover {
			opacity: 0.8;
		}
	}

	&__individuals {
		display: flex;
		flex-direction: column;
		gap: 14px;

		margin-right: 17px;
	}

	&__title-individuals {
		font-size: $fs-20;
		font-weight: 800;
		line-height: 0.9;
	}

	&__subtitle-individuals {
		font-size: $fs-default;
		font-weight: 300;
		line-height: 1.14;
	}

	&__legal-entities {
		display: flex;
		flex-direction: column;
		gap: 14px;

		font-size: $fs-20;
		font-weight: 700;
		line-height: 0.9;
	}

	//-Информация---------------------------------------

	&__info-metaloteka {
		margin-bottom: 26px;
		padding: 0 30px 0 25px;

		word-break: break-word;

		font-weight: 200;
		line-height: 1.29;
	}

	//-Политика конфидициальности------------------------

	&__privacy-policy-wrapper {
		display: grid;
		grid-template-columns: 1fr;

		padding: 0 30px 0 23px;
	}

	&__privacy-policy_item {
		display: flex;
		flex: 1 1 330px;

		padding: 33px 64px 33px 66px;
	}

	&__privacy-policy-info {
		display: grid;
		grid-template-columns: minmax(20px, 220px) minmax(20px, 81px);

		align-items: center;
		flex-wrap: wrap;
		gap: 14px;

		margin-bottom: 14px;

		font-size: $fs-default;
		font-weight: 300;
		line-height: 1.13;
	}

	&__privacy-policy {
		display: flex;
		flex: 1 1 190px;

		text-decoration: none;

		font-size: $fs-big;
	}

	&__privacy-policy-map {
		display: flex;
		flex: 1 1 100px;

		text-decoration: none;

		font-size: $fs-big;
	}

	&__privacy-policy-img-wrapper {
		display: none;
	}

	&__privacy-policy-web {
		display: flex;
		align-items: center;

		padding-left: 12px;

		text-decoration: none;

		font-size: $fs-big;
		font-weight: 300;
		line-height: 1.13;
	}

	//Desctop

	@include media(xs) {
		padding-top: 70px;
		padding-bottom: 110px;

		&__footer-top {
			flex-direction: row;
			flex-wrap: wrap;

			border-top: 0.5px solid #d9d8d8;
			border-left: 0.5px solid #d9d8d8;
		}

		//-Иконки-----------------------------
		&__metaloteka-icons {
			flex: 1 1 386px;

			border-right: 0.5px solid #d9d8d8;
			border-bottom: 0.5px solid #d9d8d8;
		}

		&__metaloteka-logo {
			justify-content: center;

			margin-bottom: 0;
			padding-block: 50px;

			border-top: solid 0.5px #d9d8d8;
			border-bottom: solid 0.5px #d9d8d8;
		}

		&__icons-font {
			display: block;
			padding-block: 67px;

			text-align: center;
		}

		&__icon-subtitle {
			margin-top: 10px;

			font-weight: 400;
			line-height: 1;
		}

		&__metaloteka-logo_item {
			width: 100%;
			max-width: 260px;
		}

		&__social {
			display: flex;
			justify-content: center;
			gap: 20px;
			padding-block: 50px;
		}

		&__social-item {
			max-width: 43px;
			max-height: 43px;

			cursor: pointer;
		}

		&__clients {
			flex: 1 1 287px;

			margin-bottom: 0;
			padding: 70px 40px 80px;

			border-right: 0.5px solid #d9d8d8;
			border-bottom: 0.5px solid #d9d8d8;
		}

		&__catalog {
			flex: 1 1 327px;

			margin-bottom: 0;
			padding: 70px 45px 86px;

			border-right: 0.5px solid #d9d8d8;
			border-bottom: 0.5px solid #d9d8d8;

			font-size: $fs-24;
			gap: 26px;
		}

		//-Контакты-----------------------------------

		&__contacts {
			flex: 1 1 356px;

			margin-bottom: 0;
			padding: 0;

			border-right: 0.5px solid #d9d8d8;
			border-bottom: 0.5px solid #d9d8d8;
		}

		&__address-wrapper {
			margin-bottom: 0;
			padding: 39px 50px 27px 45px;
			gap: 4px;

			border-bottom: 0.5px solid #d9d8d8;

			&:last-child {
				border-bottom: none;
			}
		}

		&__subtitle {
			margin-bottom: 0;

			text-decoration: none;
		}

		&__messenger {
			margin-bottom: 0;
			padding: 35px 50px 35px 45px;

			border-top: solid 0.5px #d9d8d8;
			gap: 5px;
		}

		//-Реквезиты---------------------------------------

		&__requesites {
			display: flex;
			overflow: hidden;
			align-items: center;
			flex-wrap: wrap;
			justify-content: center;

			margin-bottom: 0;
			padding: 30px 20px 30px 75px;

			border-right: solid 0.5px #d9d8d8;

			border-left: solid 0.5px #d9d8d8;
			gap: 22px;
		}

		&__requesites-info {
			display: flex;
			align-items: center;
			flex: 1 1 326px;
			justify-content: center;
			gap: 6px;

			max-width: 470px;
		}

		&__bank-icons {
			overflow-x: hidden;
			flex: 1 318px;
			flex-wrap: wrap;
			justify-content: center;

			width: 100%;

			margin-bottom: 0;

			transform: none;
		}

		&__button {
			max-width: 270px;
			margin-right: 35px;
			margin-left: 20px;
		}

		//-Информация---------------------------------------

		&__info-metaloteka {
			margin-bottom: 0;
			padding: 30px 55px 30px 55px;

			border-top: solid 0.5px #d9d8d8;
			border-right: solid 0.5px #d9d8d8;
			border-left: solid 0.5px #d9d8d8;
		}

		//-Политика конфидициальности------------------------

		&__privacy-policy-wrapper {
			display: flex;
			flex-wrap: wrap;

			padding: 0;

			border-top: 0.5px solid #d9d8d8;
			border-left: 0.5px solid #d9d8d8;
		}

		&__privacy-policy-info {
			display: flex;
			flex: 1 1 322px;
			justify-content: space-between;

			margin-bottom: 0;
			padding-left: 66px;

			border-right: 0.5px solid #d9d8d8;
			border-bottom: 0.5px solid #d9d8d8;
		}

		&__privacy-policy-img-wrapper {
			display: flex;
			align-items: center;
			flex: 1 1 326px;
			justify-content: center;

			padding: 35px 0;

			border-right: 0.5px solid #d9d8d8;
			border-bottom: 0.5px solid #d9d8d8;
		}

		&__privacy-policy {
			flex: 1 1 82px;

			font-size: $fs-big;
		}

		&__privacy-policy-map {
			flex: 1 1 0;

			padding-left: 0;

			font-size: $fs-big;
		}

		&__privacy-policy-img {
			max-width: 208px;
		}

		&__privacy-policy-web {
			flex: 1 1 324px;
			justify-content: center;

			padding-left: 5px;

			border-right: 0.5px solid #d9d8d8;
			border-bottom: 0.5px solid #d9d8d8;
		}
	}

	@include media('lg', 'within') {
		&__metaloteka-icons {
			display: none;
		}
	}
}

.section-metal + .footer {
	padding-top: 0;
}
