.contacts {
	position: relative;

	padding: 56px;

	color: #464646;
	border-radius: 37px;
	background-color: #fcfcfc;

	&__circle {
		position: absolute;
		top: -50px;
		right: 62px;

		display: flex;
		align-items: center;
		justify-content: center;

		width: 94px;
		height: 94px;

		color: $white;
		border-radius: 50%;
		background-color: #b66060;

		font-size: 36px;
		font-weight: 600;
	}

	&__title {
		width: 222px;

		border-bottom: 10px solid #ce7f65;

		font-size: 54px;
		font-weight: 500;
		line-height: 54px;
	}

	&__sub-title {
		display: flex;
		align-items: center;

		margin-bottom: 53px;
		column-gap: 16px;
	}

	&__map {
		margin-bottom: 62px;
	}

	&__town {
		font-size: 30px;
		line-height: 30px;
	}

	&__icon {
		width: 32px;
		height: 40px;
	}

	&__wrapper {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;

		margin-bottom: 48px;
	}

	&__item-description {
		display: flex;
		flex-direction: column;

		width: 320px;
		row-gap: 22px
	}

	&__adress {
		font-size: 22px;
		line-height: 24px;
	}

	&__schedule {
		font-size: 18px;
		font-weight: 500;
		line-height: 24px;
	}

	&__location {
		font-size: 14px;
		line-height: 16px;
	}

	&__link {
		color: #464646;

		font-size: 18px;
		font-weight: 500;
		line-height: 24px;
	}

	&__item-contact-info {
		display: flex;
		flex-direction: column;

		width: 300px;
		row-gap: 8px;
	}

	&__phone {
		color: #464646;

		font-size: 20px;
		line-height: 24px;
	}

	&__mail {
		color: #464646;

		font-size: 20px;
		line-height: 24px;
	}

	&__tabs {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		column-gap: 24px;
	}

	&__choice {
		margin-bottom: 23px;

		font-size: 18px;
		font-weight: 500;
		line-height: 20px;

		&:active {
			border-bottom: 4px solid #586e8b;
		}
	}

	&__content {
		margin-bottom: 95px;
	}

	&__footer {
		display: flex;
		align-items: flex-start;
		flex-direction: row;
		justify-content: space-between;

		&-name{
			width: 176px;
		}

		&-title {
			font-size: 32px;
			font-weight: 800;
			line-height: 32px;
		}

		&-text {
			margin-bottom: 12px;

			font-size: 12px;
			line-height: 14px;
		}

		&-text_bold {
			font-weight: bold;
		}

		&-phone {
			width: 146px;
		}

		&-number {
			font-size: 20px;
			line-height: 20px;
		}

		&-letter {
			width: 162px;
		}

		&-mail {
			font-size: 20px;
			line-height: 20px;
		}

		&-range {
			height: 2px;
			margin: 11px 0;

			border-width: 6px;
			border-style: solid;
			border-image-source: linear-gradient(271deg, #ce7f65, #b66060);
			border-image-slice: 1;
		}
	}
}