extends ../../layout/main

block main

	//- подключение и вызов секции SECTION-NAV (BREADCRUMBS)
	include ../../sections/section-bread-crumbs/section-bread-crumbs
	+section-bread-crumbs

	include ../../sections/section-contact/section-contact
	+section-contact
