mixin ProductSlider(props)
	+b('product-swiper', {b: 'gallery-top'}, 'div')
		+b('swiper-wrapper', {}, 'div')
			+b('swiper-slide', {}, 'div')
				img(src='https://swiperjs.com/demos/images/nature-1.jpg' alt='img')
			+b('swiper-slide', {}, 'div')
				img(src='https://swiperjs.com/demos/images/nature-2.jpg' alt='img')
			+b('swiper-slide', {}, 'div')
				img(src='https://swiperjs.com/demos/images/nature-3.jpg' alt='img')
		+b('swiper-button-next', {}, 'div')
		+b('swiper-button-prev', {}, 'div')
	+b('product-swiper', {b: 'gallery-thumbs'}, 'div')
		+b('swiper-wrapper', {}, 'div')
			+b('swiper-slide', {}, 'div')
				img(src='https://swiperjs.com/demos/images/nature-1.jpg' alt='img')
			+b('swiper-slide', {}, 'div')
				img(src='https://swiperjs.com/demos/images/nature-2.jpg' alt='img')
			+b('swiper-slide', {}, 'div')
				img(src='https://swiperjs.com/demos/images/nature-3.jpg' alt='img')
