mixin popup-password-recovery(section)
	//- проверка данных получаемых из section
	include ../../shared/helpers/pug/shortcut-check-store

	//- верстка секции
	+Popup(S_ELEM('Popup'))
		+e('title', {}, 'div') #{S_DATA('title')}
		+e('line', {}, 'div')
		+e('form', {}, 'form')
			+e('field-item', {m: S_BEM('fieldItemS')}, 'label')
				+e('', {}, 'input')(required type='email')
				+e('', {}, 'span') #{S_DATA('placeholderLogin')}
		+e('button-password', {}, 'button') #{S_DATA('buttonEnter')}
		+Text(S_ELEM('TextReservePersonalData'))
		+Text(S_ELEM('TextReservePersonalText'))
