.block-layout {
	display: flex;
	flex-direction: column;
	row-gap: 24px;

	&__left {
		position: relative;

		width: 100%;
		max-width: 896px;
		margin-right: 0;
		padding: 25px 42px 54px;

		border-radius: 37px;
		background-color: #fcfcfc;
	}



	&__right {
		display: none;
	}

	@include media('xs') {
		&__left {
			margin-right: 40px;
			padding: 62px 53px 69px;
		}

		&__right {
			--wet-asphalt: #464646;

			display: block;

			width: 100%;
			max-width: 368px;
			padding: 51px 42px;
	
			border-radius: 30px;
			background-color: #fcfcfc;
			box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.03);
		}
	}
}
