.contacts {
	&__left {
		position: relative;

		max-width: 900px;
		padding: 56px;

		color: #464646;
		border-radius: 37px;
		background-color: #fcfcfc;
	}

	&__right {
		display: flex;
		align-items: center;
		justify-content: center;

		width: 370px;
		height: 620px;

		border-radius: 30px;
		background-color: $wet-asphalt;
	}

	&__circle {
		position: absolute;
		top: -50px;
		right: 62px;

		display: none;
		align-items: center;
		justify-content: center;

		width: 94px;
		height: 94px;

		color: $white;
		border-radius: 50%;
		background-color: #b66060;

		font-size: $fs-36;
		font-weight: 600;
	}

	&__appellation {
		display: block;

		font-size: $fs-24;
		line-height: 0.84;
	}

	&__title {
		width: 222px;

		border-bottom: 10px solid #ce7f65;

		font-size: $fs-title2;
		font-weight: 500;
		line-height: 0.82;
	}

	&__map {
		display: none;
	}

	&__tabs {
		display: flex;
		overflow: auto;
		flex-direction: row;
		justify-content: flex-start;

		margin-right: -22%;
		column-gap: 24px;
	}

	&__choice {
		margin-bottom: 23px;

		white-space: nowrap;

		font-size: $fs-18;
		font-weight: 500;
		line-height: 1.1;

		&.active {
			border-bottom: 4px solid #586e8b;
		}

	}

	&__button {
		display: block;

		color:$wet-asphalt;
		border: none;
		background-color: $white;

		font-size: $fs-default;
		line-height: 1.14;

	}

	&__footer {
		display: none;
	}
	
	&__content-wrapper {
		margin-bottom: 14px;
	}

	&__content {
		display: none;

		&.active {
			display: -webkit-box;
			overflow: hidden;

			text-overflow: ellipsis;
			-webkit-line-clamp: 20;
			line-clamp: 20;
			-webkit-box-orient: vertical;
		}

		&.opened {
			display: block;
		}
	}

	@include media('xs') {
		&__circle {
			display: flex;
		}

		&__appellation {
			display: none;
		}

		&__title {
			margin-bottom: 80px;

			line-height: 100%;
		}

		&__map {
			display: block;

			width: 100%;
			max-width: 790px;
			height: 310px;
			margin-bottom: 62px;
		}

		&__tabs {
			overflow: auto;

			margin-right: 0;

			&::-webkit-scrollbar {
				display: none;
			}
		}

		&__button {
			display: none;
		}

		&__footer {
			display: flex;
			align-items: flex-start;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: flex-start;
			column-gap: 35px;
		}

		&__content {
			&.active {
				display: block;
			}
		}

	}
}
