mixin section-contact
	+b('contacts', {}, 'section')
		+e('circle', {}, 'div') MT
		+e('appellation', {}, 'div') Металотека
		+e('title', {}, 'div') Контакты
		+e('map', {}, 'div')
		include ../../components/contactInformation/contactInformation
		+ContactInformation(main.contact)
			+e('wrapper', {}, 'div')
				+e('item-description', {}, 'div')
					+e('adress', {}, 'div') #{'Московская обл., \n г.Дзержинский, \n	ул.Алексеевская, д.5А'}
					+e('schedule', {}, 'div')
						| 9:30-18:00 (пн.-пт.)
						br
						| 9:30-15:00 (сб.,вс.)
					+e('location', {}, 'div') Территория склада располагается рядом с торговым центро «Триал Маркет». Территория склада располагается рядом с торговым центро «Триал Маркет»
				+e('item-link', {}, 'div')
					+e('link', {}, 'a')(href='#') На карте
				+e('item-contact-info')
					+e('phone', {}, 'a')(href='tel:+74952231141') 8 (495) 223-11-41
					+e('mail',{}, 'a')(href='mailto:msk@metaloteka.ru') msk@metaloteka.ru
			+e('wrapper', {}, 'div')
				+e('item-description', {}, 'div')
					+e('adress', {}, 'div')
						|	г.Москва
						br
						|	ул.Алексеевская, д.5А
					+e('schedule', {}, 'div')
						| 9:30-18:00 (пн.-пт.)
						br
						| 9:30-15:00 (сб.,вс.)
					+e('location', {}, 'div') Территория склада располагается рядом с торговым центро «Триал Маркет»
				+e('item-link', {}, 'div')
					+e('link', {}, 'a')(href='#') На карте
				+e('item-contact-info')
					+e('phone', {b: 'block'}, 'a')(href='tel:+79884002030') 8 (988) 400-20-30
					+e('phone', {b:'block'}, 'a')(href='tel:+79994002030') 8 (999) 400-20-30
					+e('mail',{}, 'a')(href='mailto:alekseev.anton@metaloteka.ru') alekseev.anton@metaloteka.ru
		+e('city', {m:'block'}, 'div')
			+e('sub-title', {}, 'div')
				+e('icon', {}, 'img')(src='../../layout/assets/images/icon-pin-map.svg')
				+e('town', {}, 'div') Краснодар
			+e('wrapper', {}, 'div')
				+e('item-description', {}, 'div')
					+e('adress', {}, 'div')
						|	г.Краснодар
						br
						|	ул.Алексеевская, д.5А
					+e('schedule', {}, 'div')
						| 9:30-18:00 (пн.-пт.)
						br
						| 9:30-15:00 (сб.,вс.)
					+e('location', {}, 'div') Территория склада располагается рядом с торговым центро «Триал Маркет»
				+e('item-link', {}, 'div')
					+e('link', {}, 'a')(href='#') На карте
				+e('item-contact-info')
					+e('phone', {}, 'a')(href='tel:+79884002030') 8 (988) 400-20-30
					+e('phone', {}, 'a')(href='tel:+79994002030') 8 (999) 400-20-30
					+e('mail',{}, 'a')(href='mailto:alekseev.anton@metaloteka.ru') alekseev.anton@metaloteka.ru
		+e('tabs', {}, 'div')
			+e('choice js-tab active' , {}, 'div') Самовывоз
			+e('choice js-tab', {}, 'div') Оплата и доставка
			+e('choice js-tab', {}, 'div') Резерв товара
			+e('choice js-tab', {}, 'div') Реквизиты
		+e('content-wrapper', {}, 'div')
			+e('content js-tab-content active opened')
				p Арматура А240/А-I – гладкая арматура, относится к классу А-I, представляет собой металлический профиль, для изготовления которого используется легированная сталь с пониженным количеством углерода. Это единственная разновидность арматуры, которая не имеет рифления. Арматура А240 трактуется так: А - обозначает горячекатаный прокат, 240 – указывает на предел текучести металла и составляет 240 Н/мм2. Производится такая арматура методом горячей прокатки с дополнительным низкотемпературным отпуском, и именно благодаря этому достигается красивая ровная гладкая поверхность. Готовая арматура должна быть ровной, гладкой, без трещин и пятен, с правильной геометрией, не должно быть сколов и ржавчины.
				p Арматура А240/А-I – гладкая арматура, относится к классу А-I, представляет собой металлический профиль, для изготовления которого используется легированная сталь с пониженным количеством углерода. Это единственная разновидность арматуры, которая не имеет рифления. Арматура А240 трактуется так: А - обозначает горячекатаный прокат, 240 – указывает на предел текучести металла и составляет 240 Н/мм2. Производится такая арматура методом горячей прокатки с дополнительным низкотемпературным отпуском, и именно благодаря этому достигается красивая ровная гладкая поверхность. Готовая арматура должна быть ровной, гладкой, без трещин и пятен, с правильной геометрией, не должно быть сколов и ржавчины.
			+e('content js-tab-content')
				p Арматура А240/А-I – гладкая арматура, относится к классу А-I, представляет собой металлический профиль, для изготовления которого используется легированная сталь с пониженным количеством углерода. Это единственная разновидность арматуры, которая не имеет рифления. Арматура А240 трактуется так: А - обозначает горячекатаный прокат, 240 – указывает на предел текучести металла и составляет 240 Н/мм2. Производится такая арматура методом горячей прокатки с дополнительным низкотемпературным отпуском, и именно благодаря этому достигается красивая ровная гладкая поверхность. Готовая арматура должна быть ровной, гладкой, без трещин и пятен, с правильной геометрией, не должно быть сколов и ржавчины.
			+e('content js-tab-content')
				p Арматура А240/А-I – гладкая арматура, относится к классу А-I, представляет собой металлический профиль, для изготовления которого используется легированная сталь с пониженным количеством углерода. Это единственная разновидность арматуры, которая не имеет рифления. Арматура А240 трактуется так: А - обозначает горячекатаный прокат, 240 – указывает на предел текучести металла и составляет 240 Н/мм2. Производится такая арматура методом горячей прокатки с дополнительным низкотемпературным отпуском, и именно благодаря этому достигается красивая ровная гладкая поверхность. Готовая арматура должна быть ровной, гладкой, без трещин и пятен, с правильной геометрией, не должно быть сколов и ржавчины.
			+e('content js-tab-content')
				p Арматура А240/А-I – гладкая арматура, относится к классу А-I, представляет собой металлический профиль, для изготовления которого используется легированная сталь с пониженным количеством углерода. Это единственная разновидность арматуры, которая не имеет рифления. Арматура А240 трактуется так: А - обозначает горячекатаный прокат, 240 – указывает на предел текучести металла и составляет 240 Н/мм2. Производится такая арматура методом горячей прокатки с дополнительным низкотемпературным отпуском, и именно благодаря этому достигается красивая ровная гладкая поверхность. Готовая арматура должна быть ровной, гладкой, без трещин и пятен, с правильной геометрией, не должно быть сколов и ржавчины.
				p Арматура А240/А-I – гладкая арматура, относится к классу А-I, представляет собой металлический профиль, для изготовления которого используется легированная сталь с пониженным количеством углерода. Это единственная разновидность арматуры, которая не имеет рифления. Арматура А240 трактуется так: А - обозначает горячекатаный прокат, 240 – указывает на предел текучести металла и составляет 240 Н/мм2. Производится такая арматура методом горячей прокатки с дополнительным низкотемпературным отпуском, и именно благодаря этому достигается красивая ровная гладкая поверхность. Готовая арматура должна быть ровной, гладкой, без трещин и пятен, с правильной геометрией, не должно быть сколов и ржавчины.
		+e('button', {}, 'button')(id='btn') Развернуть
		+e('footer', {}, 'div')
			+e('qr', {}, 'img')(src='../../layout/assets/images/qr.svg')
			+e('footer-name', {}, 'div')
				+e('footer-title', {}, 'div') Metaloteka
				+e('footer-text', {}, 'div') Металлопрокат оптом и в розницу
				+e('footer-range', {}, 'div')
				+e('footer-text', {}, 'div') QR-код для загрузки реквизитов в мобильное приложение банка
			+e('footer-phone', {}, 'div')
				+e('footer-number', {}, 'a') +7 495 545 64 20
				+e('footer-range', {}, 'div')
				+e('footer-text', {}, 'div') Телефон клиентской поддержки
				+e('footer-text', {m:'bold'}, 'div') Онлайн заявки и заказы обрабатываем с 9:00-18:00
			+e('footer-letter', {}, 'div')
				+e('footer-mail', {}, 'a') info@metaloteka.ru
				+e('footer-range', {}, 'div')
				+e('footer-text', {}, 'div') Напишите нам и мы постараемся ответить на все ваши вопросы
