mixin section-contact(section)
	//- проверка данных получаемых из section
	include ../../shared/helpers/pug/shortcut-check-store

	//- верстка секции
	+b('contacts', {}, 'section')
		+Row(S_ELEM('Row'))
			+e('left')
				+e('circle', {}, 'div') MT
				+e('appellation', {}, 'div') #{S_DATA('textMobile')}
				+e('title', {}, 'div') Контакты
				+e('map', {}, 'img')(src='../../layout/assets/images/map.jpg')

				for item in S_ELEM_ARR('ContactInformation')
					+ContactInformation(item)

				for item in S_ELEM_ARR('ContactTabs')
					+Tabs(item)
				+e('button js-collapse', {}, 'button') Развернуть
				+e('footer', {b: 'cg-20'}, 'div')
					+e('qr', {}, 'img')(src=`${pathFile}/icon-qr.svg`)
					for item in S_ELEM_ARR('ContactInformationFooter')
						+ContactInformationFooter(item)
			+e('right', {}, 'div') slider
