mixin section-contact(section)
	//- проверка данных получаемых из section
	include ../../shared/helpers/pug/shortcut-check-store

	//- верстка секции
	+b('contacts', {}, 'section')
		+Row(S_ELEM('Row'))
			+e('left')
				+e('circle', {}, 'div') MT
				+e('appellation', {}, 'div') #{S_DATA('textMobile')}
				+e('title', {}, 'div') Контакты
				+e('map', {}, 'img')(src='../../layout/assets/images/map.jpg')

				for item in S_ELEM_ARR('ContactInformation')
					+ContactInformation(item)

				+e('tabs', {}, 'div')
					+e('choice js-tab active' , {}, 'div') Самовывоз
					+e('choice js-tab', {}, 'div') Оплата и доставка
					+e('choice js-tab', {}, 'div') Резерв товара
					+e('choice js-tab', {}, 'div') Реквизиты
				+e('content-wrapper', {}, 'div')
					+e('content js-tab-content active opened')
						p Арматура А240/А-I – гладкая арматура, относится к классу А-I, представляет собой металлический профиль, для изготовления которого используется легированная сталь с пониженным количеством углерода. Это единственная разновидность арматуры, которая не имеет рифления. Арматура А240 трактуется так: А - обозначает горячекатаный прокат, 240 – указывает на предел текучести металла и составляет 240 Н/мм2. Производится такая арматура методом горячей прокатки с дополнительным низкотемпературным отпуском, и именно благодаря этому достигается красивая ровная гладкая поверхность. Готовая арматура должна быть ровной, гладкой, без трещин и пятен, с правильной геометрией, не должно быть сколов и ржавчины.
						p Арматура А240/А-I – гладкая арматура, относится к классу А-I, представляет собой металлический профиль, для изготовления которого используется легированная сталь с пониженным количеством углерода. Это единственная разновидность арматуры, которая не имеет рифления. Арматура А240 трактуется так: А - обозначает горячекатаный прокат, 240 – указывает на предел текучести металла и составляет 240 Н/мм2. Производится такая арматура методом горячей прокатки с дополнительным низкотемпературным отпуском, и именно благодаря этому достигается красивая ровная гладкая поверхность. Готовая арматура должна быть ровной, гладкой, без трещин и пятен, с правильной геометрией, не должно быть сколов и ржавчины.
					+e('content js-tab-content')
						p Арматура А240/А-I – гладкая арматура, относится к классу А-I, представляет собой металлический профиль, для изготовления которого используется легированная сталь с пониженным количеством углерода. Это единственная разновидность арматуры, которая не имеет рифления. Арматура А240 трактуется так: А - обозначает горячекатаный прокат, 240 – указывает на предел текучести металла и составляет 240 Н/мм2. Производится такая арматура методом горячей прокатки с дополнительным низкотемпературным отпуском, и именно благодаря этому достигается красивая ровная гладкая поверхность. Готовая арматура должна быть ровной, гладкой, без трещин и пятен, с правильной геометрией, не должно быть сколов и ржавчины.
					+e('content js-tab-content')
						p Арматура А240/А-I – гладкая арматура, относится к классу А-I, представляет собой металлический профиль, для изготовления которого используется легированная сталь с пониженным количеством углерода. Это единственная разновидность арматуры, которая не имеет рифления. Арматура А240 трактуется так: А - обозначает горячекатаный прокат, 240 – указывает на предел текучести металла и составляет 240 Н/мм2. Производится такая арматура методом горячей прокатки с дополнительным низкотемпературным отпуском, и именно благодаря этому достигается красивая ровная гладкая поверхность. Готовая арматура должна быть ровной, гладкой, без трещин и пятен, с правильной геометрией, не должно быть сколов и ржавчины.
					+e('content js-tab-content')
						p Арматура А240/А-I – гладкая арматура, относится к классу А-I, представляет собой металлический профиль, для изготовления которого используется легированная сталь с пониженным количеством углерода. Это единственная разновидность арматуры, которая не имеет рифления. Арматура А240 трактуется так: А - обозначает горячекатаный прокат, 240 – указывает на предел текучести металла и составляет 240 Н/мм2. Производится такая арматура методом горячей прокатки с дополнительным низкотемпературным отпуском, и именно благодаря этому достигается красивая ровная гладкая поверхность. Готовая арматура должна быть ровной, гладкой, без трещин и пятен, с правильной геометрией, не должно быть сколов и ржавчины.
						p Арматура А240/А-I – гладкая арматура, относится к классу А-I, представляет собой металлический профиль, для изготовления которого используется легированная сталь с пониженным количеством углерода. Это единственная разновидность арматуры, которая не имеет рифления. Арматура А240 трактуется так: А - обозначает горячекатаный прокат, 240 – указывает на предел текучести металла и составляет 240 Н/мм2. Производится такая арматура методом горячей прокатки с дополнительным низкотемпературным отпуском, и именно благодаря этому достигается красивая ровная гладкая поверхность. Готовая арматура должна быть ровной, гладкой, без трещин и пятен, с правильной геометрией, не должно быть сколов и ржавчины.
				+e('button', {}, 'button')(id='btn') Развернуть

				for item in S_ELEM_ARR('ContactInformationFooter')
					+ContactInformationFooter(item)
			+e('right', {}, 'div') slider
