.tabs {
	$self: &;

	&_mb-14 {
		margin-bottom: 14px;
	}

	&__buttons {
		display: flex;
		overflow: scroll;
		column-gap: 24px;

		margin-bottom: 25px;

		&::-webkit-scrollbar {
			display: none;
		}
	}

	&__button {
		position: relative;

		padding-bottom: 7px;

		transition: all 0.3s;

		white-space: nowrap;

		color: $wet-asphalt;

		border: 0;
		background: none;

		font-family: $font-default;
		font-size: $fs-18;
		font-weight: 800;
		line-height: 1.1;

		&:hover {
			--wet-asphalt: #464646c5;
			cursor: pointer;

			color: $wet-asphalt;
		}

		&.js-active::after {
			position: absolute;
			bottom: 0;

			display: block;

			width: 100%;
			height: 4px;

			content: '';

			background: linear-gradient(269deg, #678c92, #586e8b);
		}
	}

	&__body {
		position: relative;

		display: flex;

		&::after {
			position: absolute;
			right: 0;
			bottom: 0;
			left: 0;

			height: 40px;

			content: "";
			text-align: right;

			background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(255 255 255 / 85%) 100%);
		}
	}

	&__content {
		display: -webkit-box;
		overflow: auto;

		width: 0;
		height: 0;
		padding-bottom: 40px;

		transition: opacity 0.3s;

		text-overflow: ellipsis;

		opacity: 0;
		-webkit-line-clamp: 5;
		-webkit-box-orient: vertical;

		&::-webkit-scrollbar {
			width: 3px;

			background: $white;
		}

		&::-webkit-scrollbar-track {
			--white: #efefef;
			background: $white;
		}

		&::-webkit-scrollbar-thumb {
			border-radius: 10px;
			background: $wet-asphalt;
		}

		&.js-active {
			width: 100%;
			height: max-content;

			opacity: 1;
		}

		&.opened {
			display: block;
		}
	}

	&_button-dev {
		#{$self}__button {
			width: 134px;
			margin: 5px;
			padding: 21px 9px 23px;

			letter-spacing: normal;

			color: $wet-asphalt;
			border-radius: 14px;
			outline: solid 1px #46464662;

			font-family: 'BlissPro', sans-serif;

			font-size: 20px;
			font-weight: 800;
			line-height: 1;
		}

		.js-active {
			display: block;

			// border-radius: 14px;

			&#{$self}__button {
				outline: solid 4px #ce7f65;
			}
		}

		.js-active::after {
			display: none;
		}
	}

	&_button {
		#{$self}__button {
			width: 134px;
			margin: 4px;
			padding: 21px 9px 23px;

			letter-spacing: normal;

			color: $wet-asphalt;
			border-radius: 14px;
			outline: solid 1px #46464662;

			font-family: 'BlissPro', sans-serif;

			font-size: 20px;
			font-weight: 800;
			line-height: 1;
		}

		.js-active {
			display: block;

			border-radius: 14px;

			&#{$self}__button {
				outline: solid 4px #ce7f65;
			}
		}

		.js-active::after {
			display: none;
		}
	}

	@include media('xs') {
		&__content {
			overflow-y: auto;

			height: 0;
			-webkit-line-clamp: 20;
		}

		&_button {
			.js-active {
				#{$self}__content {
					height: 100%;
				}
			}

			#{$self}__button {
				width: 170px;
				margin-bottom: 33px;
				padding: 21px 20px 23px;

				color: #464646;
			}
		}

		&_button-dev {
			.js-active {
				#{$self}__content {
					height: 100%;
				}
			}

			#{$self}__button {
				width: 170px;
				margin-bottom: 22px;
				padding: 21px 20px 23px;

				color: #464646;
			}
		}
	}
}
