.tabs {
	$self: &;

	&__buttons {
		display: flex;
		overflow-x: scroll;
		column-gap: 10px;

		margin-bottom: 25px;

		&::-webkit-scrollbar {
			display: none;
		}
	}

	&__button {
		position: relative;

		padding-bottom: 7px;

		transition: all 0.3s;

		white-space: nowrap;

		border: 0;
		background: none;

		font-size: $fs-18;
		font-weight: 800;
		line-height: 1.1;

		&:hover {
			--wet-asphalt: #464646c5;
			cursor: pointer;

			color: $wet-asphalt;
		}

		&.js-active::after {
			position: absolute;
			bottom: 0;

			display: block;

			width: 100%;
			height: 4px;

			content: '';

			background: linear-gradient(269deg, #678c92, #586e8b);
		}
	}

	&__body {
		display: flex;
	}

	&__content {
		display: -webkit-box;
		overflow: hidden;

		width: 0;
		height: 0;

		transition: opacity 0.3s;

		text-overflow: ellipsis;

		opacity: 0;
		-webkit-line-clamp: 20;
		-webkit-box-orient: vertical;

		&::-webkit-scrollbar {
			width: 3px;

			background: $white;
		}

		&::-webkit-scrollbar-track {
			--white: #efefef;
			background: $white;
		}

		&::-webkit-scrollbar-thumb {
			border-radius: 10px;
			background: $wet-asphalt;
		}

		&.js-active {
			width: 100%;
			height: max-content;

			opacity: 1;
		}

		&.opened {
			display: block;
		}
	}

	&_button {
		#{$self}__button {
			width: 134px;
			margin: 5px;
			padding: 21px 9px 23px;

			letter-spacing: normal;

			color: $wet-asphalt;
			border-radius: 14px;
			outline: solid 1px #46464662;

			font-size: 20px;
			font-weight: 800;
			line-height: 1;
		}

		.js-active {
			display: block;

			border-radius: 14px;

			&#{$self}__button {
				outline: solid 4px #ce7f65;
			}
		}

		.js-active::after {
			display: none;
		}
	}

	@include media('xs') {
		&__content {
			overflow-y: auto;

			height: 210px;
		}

		&_button {
			.js-active {
				#{$self}__content {
					height: 100%;
				}
			}

			#{$self}__button {
				width: 170px;
				margin-bottom: 33px;
				padding: 21px 20px 23px;

				color: #464646;

			}
		}

		&__buttons {
			column-gap: 8px;
		}
	}
}
