.tabs {
	//display: flex;
	//overflow-x: scroll;
	//
	//margin-right: -16%;
	//column-gap: 29px;
	//-ms-overflow-style: none;
	//scrollbar-width: none;
	//
	//&::-webkit-scrollbar {
	//	display: none;
	//}

	&__button {
		display: flex;
		overflow-x: scroll;

		margin-right: -16%;
		column-gap: 29px;
		-ms-overflow-style: none;
		scrollbar-width: none;

		&::-webkit-scrollbar {
			display: none;
		}
	}

	&__choice {
		margin-bottom: 23px;

		white-space: nowrap;

		font-size: $fs-18;
		font-weight: 800;
		line-height: 1.1;

		&:hover {
			--wet-asphalt: rgba(70,70,70,0.77647);
			cursor: pointer;

			color: $wet-asphalt;
		}

		&.active {
			padding-bottom: 5px;

			border-bottom: 4px solid #586e8b;
		}
	}

	&__content {
		display: none;

		&.active {
			display: -webkit-box;
			overflow: hidden;

			text-overflow: ellipsis;
			-webkit-line-clamp: 20;
			line-clamp: 20;
			-webkit-box-orient: vertical;
		}

		&.opened {
			display: block;
		}
	}

	&__body {
		padding-bottom: 52px;

		border-bottom: none;
	}

	@include media('xs') {
		&__button {
			overflow: auto;

			margin-right: 0;
			padding-top: 23px;
		}

		&__body {
			border-bottom: 1px solid #efefef;
		}

		&__content {
			&.active {
				display: block;
			}
		}
	}
}

