mixin Tabs(props)
	//- проверка данных получаемых из props
	include ../../shared/helpers/pug/shortcut-check-store

	//- верстка компонента
	+b('tabs', {}, 'div')
		for item, index in DATA_ARR('tabs')
			//- проверка данных получаемых из item
			include ../../shared/helpers/pug/shortcut-check-store

			+e(`choice js-tab ${index === 0 ? 'active' : ''}`, {}, 'div') #{I_DATA('tabName')}

	+e('content-wrapper', {}, 'div')
		for item, index in DATA_ARR('tabs')
			//- проверка данных получаемых из item
			include ../../shared/helpers/pug/shortcut-check-store

			+e(`content js-tab-content ${index === 0 ? 'active' : ''}`) #{I_DATA('tabContent')}
