//- инстанст функции для дробления store на отдельные секции
- let cartPage = addSections();

//- секция SECTION-BREADCRUMBS
include cart-page-section-breadcrumbs
- cartPage.section = 'sectionBreadcrumbs';

//- секция SECTION-CART
include cart-page-section-cart
- cartPage.section = 'sectionCart';

//- секция SECTION-CATALOG
include cart-page-section-catalog
- cartPage.section = 'sectionCatalog';
