.section-cart {
	$self: &;

	display: flex;
	flex-direction: column;

	&__icon {
		display: none;
	}

	&__title {
		margin-bottom: 13px;

		letter-spacing: normal;

		color: $wet-asphalt;

		font-size: 54px;
		font-weight: 900;
		line-height: 1;
	}

	&__line-big {
		max-width: 160px;
		height: 9px;
		margin-bottom: 20px;

		border: none;
		background: var(--blue-gradient);
	}

	&__room {
		margin-top: 12px;
		margin-bottom: 42px;

		color: $wet-asphalt;

		font-size: $fs-28;
		font-weight: 400;
		line-height: 1;
	}

	&__number {
		color: $wet-asphalt;

		font-size: $fs-28;
		font-weight: 800;
		line-height: 0.86;

		&_underline {
			margin-right: 4px;
			padding-bottom: 4px;

			border-bottom: 4px solid;
			border-image: linear-gradient(271deg, #ce7f65, #b66060);
			border-image-slice: 1;

			font-size: 38px;
			font-weight: 800;
			line-height: 0.63;
		}
	}

	&__rub {
		font-size: 38px;
		font-weight: 800;
		line-height: 0.63;
	}

	&__input{
		display: none;
	}

	&__line-small {
		height: 2px;
		margin-top: 19px;
		margin-right: -42px;
		margin-bottom: 10px;
		margin-left: -42px;

		background-color: #efefef;

		&_top {
			margin-top: 0;
			margin-bottom: 32px;
		}

		&_bottom {
			display: none;
		}
	}

	&__call {
		row-gap: 0;

		margin-bottom: 40px;
	}

	&__summ {
		&_left{
			width: 100%;
		}

		&_center {
			margin-bottom: 42px;
		}

		&_right {
			display: flex;
			flex-direction: row;

			margin-top: 0;
			padding: 0;
			gap: 16px;
		}
	}

	&__total{
		display: flex;
		flex-direction: row;

		margin-bottom: 12px;

		white-space: pre-line;

		color: $wet-asphalt;

		font-size: $fs-big;
		line-height: 1.45;

		&_summ {
			padding-bottom: 0;

			font-size: $fs-28;
			line-height: 0.86;
		}

		&_days{
			font-size: $fs-20;
		}

		&_bold{
			width: 180px;

			font-size: $fs-big;
			font-weight: bold;

			line-height: 1.25;
		}

		&_small{
			width: 232px;

			font-size: 12px;
			font-weight: 300;
			line-height: 1.33;
		}

		&_mini {
			margin-top: 0;
			margin-bottom: 0;

			font-size: 10px;
			font-weight: 300;
			line-height: 1.2;
		}

		&_wrap {
			row-gap: 10px;
		}
	}

	&__warning-img {
		width: 34px;
		height: 34px;
	}

	&__warning-text {
		letter-spacing: normal;

		color: $wet-asphalt;

		font-size: 16px;
		font-weight: 300;
		line-height: 1;
	}

	&__btn-cart {
		width: 100%;
		margin-bottom: 10px;
		padding: 21px 0 23px;

		cursor: pointer;

		color: $white;

		border: 0;
		border-radius: 14px;
		background-image: linear-gradient(275deg, #ce7f65, #b66060);

		font-family: $font-default;
		font-size: $fs-20;
		font-weight: 800;

		&_reserve {
			background-image: linear-gradient(275deg, #678c92, #586e8b);
		}
	}

	&__txt-onclick {
		margin-top: 10px;

		text-align: center;

		color: $wet-asphalt;

		font-family: $font-default;
		line-height: 1.14;

		&_none {
			display: block;
		}
	}

	&__footer {
		display: none;
		gap: 35px;
	}

	&__order-list {
		display: flex;
		flex-direction: column;

		margin-top: 32px;
	}

	&__order-list-name {
		display: flex;
		align-items: flex-start;
		order: 1;

		margin-bottom: 8px;

		text-decoration: none;

		color: $wet-asphalt;

		font-size: $fs-20;
		line-height: 1.1;

		&:hover {
			color: $wet-asphalt;
		}
	}

	&__order-list-size {
		display: none
	}

	&__order-list-weight {
		display: flex;
		justify-content: flex-start;
		order: 2;

		margin-bottom: 29px;

		color: $wet-asphalt;

		font-size: 18px;
		font-weight: bold;
		line-height: 1.33;
	}

	&__order-list-sum {
		display: flex;
		justify-content: flex-start;
		order: 3;

		margin-bottom: 13px;

		color: $wet-asphalt;

		font-size: $fs-26;
		font-weight: bold;
		line-height: 1.08;
	}

	&__order-list-wrap {
		display: flex;
		justify-content: space-between;
		order: 4;
	}

	&__order-list-changes {
		display: flex;
		justify-content: flex-start;
		order: 4;

		margin-bottom: 30px;

		cursor: pointer;
		text-decoration: underline;

		letter-spacing: normal;

		color: $wet-asphalt;
		border: 0;
		background: none;

		font-family: "BlissPro", sans-serif;
		font-size: $fs-20;
		font-weight: bold;
		line-height: 1.1;
	}

	&__order-list-btn {
		display: none;
	}

	&__line-order-list {
		height: 2px;
		margin-right: -42px;

		margin-left: -42px;

		background-color: #efefef;

		&:last-child {
			display: none;
		}
	}

	.accordion__body {
		// stylelint-disable-next-line declaration-no-important
		max-height: max-content !important;
	}

	@include media('xs') {
		&__icon {
			position: absolute;
			top: -43px;
			right: 53px;

			display: block;

			width: 94px;
			height: 94px;
			padding: 35px 29px 26px 26px;

			border-radius: 50%;
			background-image: linear-gradient(45deg, #b66060 0%, #ce7f65);
		}

		&__icon svg {
			width: 39px;
			height: 28px;

			color: $white;
		}

		&__top {
			display: flex;
			justify-content: space-between;
		}

		&__room {
			margin-top: 12px;
			margin-bottom: 0;

			font-size: 20px;
			line-height: 1.2;
		}

		&__line-small {
			display: block;

			margin-top: 0;
			margin-right: -53px;
			margin-bottom: 10px;
			margin-left: -53px;

			&_top {
				margin-bottom: 42px;
			}

			&_bottom {
				margin-top: 26px;
				margin-bottom: 42px;
			}

			&_fat {
				margin: 26px -42px 24px -42px;

				opacity: 0.35;
				border: solid 4px #efefef;
			}
		}

		&__order {
			display: flex;
			align-items: flex-end;
			justify-content: space-between;

			margin-bottom: 18px;

			&_col {
				align-items: start;
				flex-direction: column;
				gap: 2px;
			}
		}

		&__number {
			color: $wet-asphalt;

			font-size: $fs-28;
			font-weight: 800;
			line-height: 0.86;

			&_summ {
				margin-right: 8px;
				padding-bottom: 8px;

				border-bottom: 4px solid;
				border-image: linear-gradient(271deg, #ce7f65, #b66060);
				border-image-slice: 1;

				font-size: 38px;
				font-weight: 800;
				line-height: 0.63;
			}
		}

		&__rub {
			font-size: $fs-28;

			&_fs-38 {
				font-size: 38px;
			}
		}

		&__input{
			display: block;

			padding: 21px 57px 23px;

			cursor: pointer;

			color: $wet-asphalt;
			border: 0;
			border-radius: 14px;
			background-color: rgba(70, 70, 70, 0.03);

			font-family: $font-default;
			font-size: 20px;
			font-weight: 800;
			line-height: 1;
		}

		&__call {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			margin-bottom: 61px;
			padding: 0;
			row-gap: 12px;

			&_col {
				flex-direction: column;

				margin-bottom: 31px;
			}
		}

		&__summ {
			display: flex;
			flex-direction: column;

			&_left{
				width: 155px;
				padding: 0;
				gap: 6px;
			}

			&_center{
				width: 252px;
				margin-bottom: 0;
				padding: 0;
				gap: 12px;
			}

			&_right{
				flex-direction: row;

				width: 333px;
			}

			&_top{
				width: 100%;
				padding: 0;
				gap: 12px;
			}
		}

		&__total{
			margin-bottom: 0;

			&_summ{
				font-size: 38px;
				font-weight: 800;
				line-height: 0.63;
			}

			&_days{
				font-size: $fs-big;
			}

			&_small14px {
				width: 95%;

				font-size: 14px;
				line-height: 1.14;
			}

			&_mini{
				margin-bottom: 10px;

				font-size: 12px;
				font-weight: 300;
				line-height: 1.33;
			}

			&_wrap{
				display: flex;
				flex-direction: column;
				row-gap: 26px;
			}
		}

		&__txt-onclick {
			&_none {
				display: none;
			}
		}

		&__footer {
			display: flex;

			margin-top: 44px;

			color: $wet-asphalt;
		}

		&__qr {
			width: 110px;
			height: 110px;
			margin-right: 0;
		}

		&__order-list {
			flex-direction: row;
			justify-content: space-between;
			gap: 15px;

			margin-top: 19px;
			margin-bottom: 19px;

			&:first-child {
				margin-top: 45px;
			}
		}

		&__order-list-name {
			align-items: center;
			flex: 1 0 34%;
			order: 1;

			margin: 0;

			text-decoration: underline;

			font-size: 18px;
			font-weight: 500;
			line-height: 1.22;
		}

		&__order-list-size {
			display: flex;
			align-items: center;
			flex: 1 0 11%;
			justify-content: center;
			order: 2;

			text-align: center;

			color: $wet-asphalt;

			font-size: 18px;
			font-weight: 300;
			line-height: 1.33;
		}

		&__order-list-weight {
			align-items: center;
			flex: 1 0 14%;
			justify-content: center;
			order: 3;

			margin: 0;

			text-align: center;
			text-decoration: underline;
		}

		&__order-list-changes {
			align-items: center;
			flex: 1 0 9%;
			justify-content: center;
			order: 4;

			margin: 0;

			font-size: 14px;
			line-height: 1.14;
		}

		&__order-list-changes_delete {
			display: none;
		}

		&__order-list-sum {
			align-items: center;
			flex: 1 0 17%;
			justify-content: right;
			order: 5;

			margin: 0;

			font-size: 18px;
			font-weight: 700;
			line-height: 1.33;
		}

		&__order-list-btn {
			display: flex;
			align-items: center;
			flex: 1 0 2%;
			justify-content: center;
			order: 6;
		}

		&__order-list-del {
			cursor: pointer;

			opacity: 0.2;
			color: $wet-asphalt;
			border: 0;
			background: none;

			font-weight: 900;
		}

		&__line-order-list {
			// margin: 0;

			&:last-child {
				display: none;
			}
		}



		/* Important functional styles */

		&__tab__block {
			display: none;
		}

		&__tab__block.active {
			display: block;
		}

	}
}
