//- инстанст функции для дробления store на отдельные секции
- let privacyPolicy = addSections();

//- секция SECTION-BREADCRUMBS
include privacy-policy-section-breadcrumbs
- privacyPolicy.section = 'sectionBreadcrumbs';

//- секция SECTION-PRIVACY-POLICY
include privacy-policy-section-privacy-policy
- privacyPolicy.section = 'sectionPrivacyPolicy';

//- секция SECTION-CATALOG
include privacy-policy-section-catalog
- privacyPolicy.section = 'sectionCatalog';
