-
	const sectionBreadcrumbs = {
			data: {
				prevPage: 'Главная',
				prevPageHref: '/',
				page: 'Политика конфиденциальности',
				back: 'Назад',
				backHref: '#',
				separation: '/'
			},
	};
