extends ../../layout/main

append variables
	+includeComponents(['ContactInformationFooter', 'Accordion', 'AccordionList', 'TableProductRow', 'Pagination', 'ProductItem', 'ProductItemDetails', 'Select', 'BlockLayout', 'Tabs'])

block store
	include store/popups.store.pug

append head
	title Оформление заказа

block main

	//- подключение и вызов секции SECTION-BREADCRUMBS
	include ../../sections/section-breadcrumbs/section-breadcrumbs
	+section-breadcrumbs(popups.sectionBreadcrumbs)

	//- подключение и вызов секции SECTION-BREADCRUMBS
	include ../../sections/section-popup-list/section-popup-list
	+section-popup-list(popups.sectionPopupList)

append popup
	//- подключение и вызов попапа POPUP-PAYMENT и POPUP-PAYENTITY
	include ../../sections/popup-payment/popup-payment
	+popup-payment(popups.popupPayment)
	+popup-payment(popups.popupPaymentEntity)
	+popup-payment(popups.popupPaymentIndividual)

	//- подключение и вызов попапа POPUP-METHOD
	include ../../sections/popup-pay-method/popup-pay-method
	+popup-pay-method(popups.popupPayMethod)

	//- подключение и вызов попапа POPUP-CHECK
	include ../../sections/popup-pay-check/popup-pay-check
	+popup-pay-check(popups.popupPayCheck)
	+popup-pay-check(popups.popupThanks)

	//- подключение и вызов попапа REGISTRATION
	include ../../sections/popup-registration/popup-registration
	+popup-registration(popups.popupRegistration)

	//- подключение и вызов попапа AUTHENTICATION
	include ../../sections/popup-authentication/popup-authentication
	+popup-authentication(popups.popupAuthentication)

	//- подключение и вызов попапа PASSWORD-RECOVERY
	include ../../sections/popup-password-recovery/popup-password-recovery
	+popup-password-recovery(popups.popupPasswordRecovery)

	//- подключение и вызов попапа SEND-PASSWORD
	include ../../sections/popup-send-password/popup-send-password
	+popup-send-password(popups.popupSendPassword)

	//- подключение и вызов секции SECTION-CATALOG
	include ../../sections/section-catalog/section-catalog
	+section-catalog(popups.sectionCatalog)
