mixin ContactInformationFooter(props)
	//- проверка данных получаемых из props
	include ../../shared/helpers/pug/shortcut-check-store

	//- верстка компонента
	+b('contact-information-footer', {b: BEM('margin')}, 'div')
		+e('letter', {}, 'div')
			if OPT('heading')
				+e('heading', {}, 'span') #{DATA('text')}
			if OPT('link')
				+e('link', {}, 'a')(href=DATA('href')) #{DATA('text')}
			if OPT('name')
				+e('name') NAME
			+e('range', {}, 'div')
			for item in DATA_ARR('texts')
				//- проверка данных получаемых из item
				include ../../shared/helpers/pug/shortcut-check-store

				+e('text', {m: I_BEM('weihgt')}, 'p') #{I_DATA('text')}
