.container {
	width: 100%;
	max-width: container-width(xs);
	margin-inline: auto;
	padding-inline: 23px;

	@include media(xs) {
		max-width: container-width(lg);
	}

	@include media(lg) {
		max-width: container-width(xl);
	}
}
