-
	const sectionSlider = {
		data: {
			text: 'Заголовок',
			id: 's1'
			//- текстовые данные, id, пути к картинка, data атрибуты и все атрибуты
		},
		bem: {
			textAlign: 'center'
			//- классы стилей
		},
		opt: {
			button: true
			//- boolean значения
		},
		elem: {
			//- готовые компоненты
			row: {
				data: {
					text: 'Привет'
					//- текстовые данные, id, пути к картинка, data атрибуты и все атрибуты
				},
				bem: {
					margin: 'center'
					//- классы стилей
				},
			},
		}
	}
