-
	const sectionMetal = {
		data: {
			title: "Оформите \n металлопрокат"
		},
		dataArr: {
			metalInfo: [
				{
					data: {
						text: "Выгодная доставка"
					},
					elem: {
						Text: {
							data: {
								text: "Обширная сфера применения обусловлена тем, что при производстве листа можно использовать очень широкий перечень марок стали, за счет чего лист будет обладать различными и нужными заказчику физическими и химическими свойствами. Такие листы имеют широкий диапазон толщин, получают методом прессования разогретой горячей заготовки при температуре от 250-400 градусов. Горячекатаные листы, по сути, имеют вид большого металлического прямоугольника, которые для удобства упаковывают в пачки или поставляют в рулонах (возможно, с последующей размоткой). Горячекатаный лист отличается простотой производства, для обработки заготовки и получения плоского изделия не нужно сложное и дорогостоящее оборудование."
							},
							bem: {
								size: 'fs-18',
								fw: 'fw-200',
								elementClassIndividual: 'metal-info'
							},
							opt: {
								isElementClass: true
							}
						}
					}
				},
				{
					data: {
						text: "Возможность резерва товара на складе"
					},
					elem: {
						Text: {
							data: {
								text: "Обширная сфера применения обусловлена тем, что при производстве листа можно использовать очень широкий перечень марок стали, за счет чего лист будет обладать различными и нужными заказчику физическими и химическими свойствами. Такие листы имеют широкий диапазон толщин, получают методом прессования разогретой горячей заготовки при температуре от 250-400 градусов. Горячекатаные листы, по сути, имеют вид большого металлического прямоугольника, которые для удобства упаковывают в пачки или поставляют в рулонах (возможно, с последующей размоткой). Горячекатаный лист отличается простотой производства, для обработки заготовки и получения плоского изделия не нужно сложное и дорогостоящее оборудование."
							},
							bem: {
								fs: 'fs-18',
								fw: 'fw-200',
								elementClassIndividual: 'metal-info'
							},
							opt: {
								isElementClass: true
							}
						}
					}
				}
			]
		},
		elem: {
			TextMetalSteel: {
				data: {
					text: 'Обширная сфера применения обусловлена тем, что \n при производстве листа можно использовать очень \n широкий перечень марок стали',
				},
				bem: {
					size: 'fs-24',
					elementClassIndividual: 'metal-steel'
				},
				opt: {
					p: true,
					isElementClass: true
				}
			}
		}
	}
