-
	const sectionMetal = {
		data: {
			text: 'Заголовок',
			id: 's1',
			//- текстовые данные, id, пути к картинка, data атрибуты и все атрибуты
			title:"Оформите металлопрокат",
			metalSteel:"Обширная сфера применения обусловлена тем, что при производстве листа можно использовать очень широкий перечень марок стали",
			metalDelivery:"Выгодная доставка",
			metalSphere:"Обширная сфера применения обусловлена тем, что при производстве листа можно использовать очень широкий перечень марок стали, за счет чего лист будет обладать различными и нужными заказчику физическими и химическими свойствами. Такие листы имеют широкий диапазон толщин, получают методом прессования разогретой горячей заготовки при температуре от 250-400 градусов. Горячекатаные листы, по сути, имеют вид большого металлического прямоугольника, которые для удобства упаковывают в пачки или поставляют в рулонах (возможно, с последующей размоткой). Горячекатаный лист отличается простотой производства, для обработки заготовки и получения плоского изделия не нужно сложное и дорогостоящее оборудование.",
			metalReserve:"Возможность резерва товара на складе",
			metalProduction:"Обширная сфера применения обусловлена тем, что при производстве листа можно использовать очень широкий перечень марок стали, за счет чего лист будет обладать различными и нужными заказчику физическими и химическими свойствами. Такие листы имеют широкий диапазон толщин, получают методом прессования разогретой горячей заготовки при температуре от 250-400 градусов. Горячекатаные листы, по сути, имеют вид большого металлического прямоугольника, которые для удобства упаковывают в пачки или поставляют в рулонах (возможно, с последующей размоткой). Горячекатаный лист отличается простотой производства, для обработки заготовки и получения плоского изделия не нужно сложное и дорогостоящее оборудование.",
		},
		bem: {
			textAlign: 'center'
			//- классы стилей
		},
		opt: {
			button: true
			//- boolean значения
		},
		elem: {
			//- готовые компоненты
			row: {
				data: {
					text: 'Привет'
					//- текстовые данные, id, пути к картинка, data атрибуты и все атрибуты
				},
				bem: {
					margin: 'center'
					//- классы стилей
				},
			},
		}
	}
