-
	const sectionInformationCategory = {
		data: {
			text: 'Заголовок',
			logo: '/logo.svg',
			id: 's1'
			//- текстовые данные, id, пути к картинка, data атрибуты и все атрибуты
		},
		bem: {
			textAlign: 'center'
			//- классы стилей
		},
		opt: {
			button: true
			//- boolean значения
		},
		elem: {
			//- готовые компоненты
			row: {
				data: {
					text: 'Привет'
					//- текстовые данные, id, пути к картинка, data атрибуты и все атрибуты
				},
				bem: {
					margin: 'center'
					//- классы стилей
				},
			},
		},
		dataArr:{
				proba:[
						{
							data:{
								name:"Ренат",
								time:"1111111111111111111111111111",
								msg:"г.Москва, Ленина, 23",
								prof:"Тестировщик",
								//- logo4: '/logo.svg',
								logo4: './../../../layout/assets/images/logo.svg',
							}
						},
						{
							data:{
								name:"Дима",
								time:"2222222222222222222222",
								msg:"г.Казань, Мусина, 45",
								prof:"Журналист",
							}
						},
						{
							data:{
								name:"Саша",
								time:"3333333333333333333333333",
								msg:"г.Орел, Гагарина, 68",
								prof:"Актёр",
							}
						},
					]
				},
	}
