-
	const sectionInformationCategory2 = {
		data: {
			text: 'Заголовок',
			logo: '/logo.svg',
			//- img: '/category.svg',
			id: 's1'
			//- текстовые данные, id, пути к картинка, data атрибуты и все атрибуты
		},
		bem: {
			textAlign: 'center'
			//- классы стилей
		},
		opt: {
			button: true
			//- boolean значения
		},
		elem: {
			//- готовые компоненты
			row: {
				data: {
					text: 'Привет'
					//- текстовые данные, id, пути к картинка, data атрибуты и все атрибуты
				},
				bem: {
					margin: 'center'
					//- классы стилей
				},
			},
		},
		dataArr:{
			size: [
					{
						data: {
							text: "Арматура 8мм",
						}
					},
					{
						data: {
							text: "Арматура 9мм"
						}
					},
					{
						data: {
							text: "Арматура 10мм"
						}
					},
					{
						data: {
							text: "Арматура 24мм"
						}
					},
				],
				category:[
						{
							data:{
								subtitle:"Металотека",
								title:"Арматурный прокат",
								text:"Арматура, профиль, трубный прокат и другие товары",
								textLogo:"Металлопрокат оптом и в розницу с доставкой по Москве и московской области",
								logo: '/logo.svg',
								img: '/category2.jpg',
								titleRight:"Популярный металопрокат",
							}
						}
						//- {
						//- 	data:{
						//- 		name:"Дима",
						//- 		time:"2222222222222222222222",
						//- 		msg:"г.Казань, Мусина, 45",
						//- 		prof:"Журналист",
						//- 		logo: '/logo.svg',

						//- 	}
						//- },
						//- {
						//- 	data:{
						//- 		name:"Саша",
						//- 		time:"3333333333333333333333333",
						//- 		msg:"г.Орел, Гагарина, 68",
						//- 		prof:"Актёр",
						//- 		logo: '/logo-vk.svg',

						//- 	}
						//- },
					]
				},

	}
