-
	const sectionMetal = {
		data: {
			title: "Оформите \n металлопрокат",
			metalSteel: "Обширная сфера применения обусловлена тем, что \n при производстве листа можно использовать очень \n широкий перечень марок стали",
			metalLisMobile: "Лист г/к — вид листового плоского металлопроката, самое популярное изделие среди данного вида проката, имеет относительно небольшую стоимость. На долю листа горячекатаного приходится практически 50% от общего объема производства, с тенденцией постоянного роста спроса.",
			metalDelivery: "Выгодная доставка",
			metalSphere: "Обширная сфера применения обусловлена тем, что при производстве листа можно использовать очень широкий перечень марок стали, за счет чего лист будет обладать различными и нужными заказчику физическими и химическими свойствами. Такие листы имеют широкий диапазон толщин, получают методом прессования разогретой горячей заготовки при температуре от 250-400 градусов. Горячекатаные листы, по сути, имеют вид большого металлического прямоугольника, которые для удобства упаковывают в пачки или поставляют в рулонах (возможно, с последующей размоткой). Горячекатаный лист отличается простотой производства, для обработки заготовки и получения плоского изделия не нужно сложное и дорогостоящее оборудование.",
			metalReserve:"Возможность резерва товара на складе",
			metalProduction:"Обширная сфера применения обусловлена тем, что при производстве листа можно использовать очень широкий перечень марок стали, за счет чего лист будет обладать различными и нужными заказчику физическими и химическими свойствами. Такие листы имеют широкий диапазон толщин, получают методом прессования разогретой горячей заготовки при температуре от 250-400 градусов. Горячекатаные листы, по сути, имеют вид большого металлического прямоугольника, которые для удобства упаковывают в пачки или поставляют в рулонах (возможно, с последующей размоткой). Горячекатаный лист отличается простотой производства, для обработки заготовки и получения плоского изделия не нужно сложное и дорогостоящее оборудование.",
		},
		bem: {
			textAlign: 'center'
		},
		opt: {
			button: true
		},
		elem: {
			TextMetalSteel: {
				data: {
					text: 'Обширная сфера применения обусловлена тем, что \n при производстве листа можно использовать очень \n широкий перечень марок стали',
				},
				bem: {
					size: 'fs-24',
					elementClassIndividual: 'metal-steel'
				},
				opt: {
					p: true,
					isElementClass: true
				}
			}
		}
	}
