-
	const sectionInformationCategory2 = {
		data: {
			text: 'Заголовок',
			logo: '/logo.svg',
			id: 's1'
			//- текстовые данные, id, пути к картинка, data атрибуты и все атрибуты
		},
		bem: {
			textAlign: 'center',
			color: 'category2'
			//- классы стилей
		},
		opt: {
			button: true
			//- boolean значения
		},
		elem: {
			//- готовые компоненты
			row: {
				data: {
					text: 'Привет'
					//- текстовые данные, id, пути к картинка, data атрибуты и все атрибуты
				},
				bem: {
					margin: 'center'
					//- классы стилей
				},
			},
		},
		dataArr:{
			size: [
					{
						data: {
							text: "Арматура 8мм",
						}
					},
					{
						data: {
							text: "Арматура 9мм"
						}
					},
					{
						data: {
							text: "Арматура 10мм"
						}
					},
					{
						data: {
							text: "Арматура 24мм"
						}
					},
				],
				category:[
						{
							data:{
								subtitle:"Металотека",
								title:"Арматурный прокат",
								text:"Арматура, профиль, трубный прокат и другие товары",
								textLogo:"Металлопрокат оптом и в розницу с доставкой по Москве и московской области",
								logo: '/logo.svg',
								img: '/category2.png',
								minImg: '/min-category2.png',
								titleRight:"Популярный металопрокат",
							}
						}
					]
				},

	}
