-
	const sectionCategoryTypes = {
		data: {
			text: 'Заголовок',
			logo: '/logo.svg',
			//- img: '/category.svg',
			id: 's1'
			//- текстовые данные, id, пути к картинка, data атрибуты и все атрибуты
		},
		bem: {
			textAlign: 'center',
			color: 'wet-asphalt'
			//- классы стилей
		},
		opt: {
			button: true
			//- boolean значения
		},
		elem: {
			//- готовые компоненты
			row: {
				data: {
					text: 'Привет'
					//- текстовые данные, id, пути к картинка, data атрибуты и все атрибуты
				},
				bem: {
					margin: 'center'
					//- классы стилей
				},
			},
		},
		dataArr:{
			category:[
						{
							data:{
								title:"Арматурный прокат",
								text:"Трубный прокат с высокой волатильностью отпускных цен комбинатов актуальные цены на металл",
								subtitle:"В каталог",
								amount:"115"
							}
						},
						{
							data:{
								title:"Трубный прокат",
								text:"Трубный прокат с высокой волатильностью отпускных цен комбинатов актуальные цены на металл",
								subtitle:"В каталог",
								amount:"75"
							}
						},
						{
							data:{
								title:"Листовой прокат",
								text:"Трубный прокат с высокой волатильностью отпускных цен комбинатов актуальные цены на металл",
								subtitle:"В каталог",
								amount:"255"
							}
						},
						{
							data:{
								title:"Сортовой прокат",
								text:"Трубный прокат с высокой волатильностью отпускных цен комбинатов актуальные цены на металл",
								subtitle:"В каталог",
								amount:"389"
							}
						},
						{
							data:{
								title:"Крепежные элементы",
								text:"Трубный прокат с высокой волатильностью отпускных цен комбинатов актуальные цены на металл",
								subtitle:"В каталог",
								amount:"2560"
							}
						}
					]
				}
	}
