//- инстанст функции для дробления store на отдельные секции
- let index = addSections();

//- секция SECTION-SLIDER
include index-section-slider
- index.section = 'sectionSlider';

//- секция SECTION-INFORMATION-CATEGORY
include index-section-information-category1
- index.section = 'sectionInformationCategory1';
include index-section-information-category2
- index.section = 'sectionInformationCategory2';
include index-section-information-category3
- index.section = 'sectionInformationCategory3';
//- секция SECTION-METAL
include index-section-metal
- index.section = 'sectionMetal';

//- секция SECTION-CATALOG
include index-section-catalog
- index.section = 'sectionCatalog';

//- секция SECTION-CATEGORY_TYPES
include index-section-category-types
- index.section = 'sectionCategoryTypes';
