extends ../../layout/main

append variables
	+includeComponents(['Popup', 'ContactInformationFooter', 'Accordion', 'AccordionList', 'TableProductRow', 'Pagination', 'ProductItem', 'ProductItemDetails', 'Select', 'BlockLayout', 'Tabs'])

block store
	include store/order-processing.store.pug

append head
	title Оформление заказа

block main

	//- подключение и вызов секции SECTION-BREADCRUMBS
	include ../../sections/section-breadcrumbs/section-breadcrumbs
	+section-breadcrumbs(orderProcessing.sectionBreadcrumbs)

	//- подключение и вызов секции SECTION-ORDER-PROCESSING
	include ../../sections/section-order-processing/section-order-processing
	+section-order-processing(orderProcessing.testingPug)

block popup
	//- подключение и вызов попапа POPUP-PAYMENT и POPUP-PAYENTITY
	include ../../sections/popup-payment/popup-payment
	+popup-payment(orderProcessing.popupPayment)
	+popup-payment(orderProcessing.popupPaymentEntity)

	//- подключение и вызов попапа POPUP-METHOD
	include ../../sections/popup-pay-method/popup-pay-method
	+popup-pay-method(orderProcessing.popupPayMethod)

	//- подключение и вызов попапа POPUP-CHECK
	include ../../sections/popup-pay-check/popup-pay-check
	+popup-pay-check(orderProcessing.popupPayCheck)
	+popup-pay-check(orderProcessing.popupThanks)

	//- подключение и вызов секции SECTION-CATALOG
	include ../../sections/section-catalog/section-catalog
	+section-catalog(orderProcessing.sectionCatalog)
