extends ../../layout/main

append variables
	+includeComponents(['Popup'])

block store
	include store/order-processing.store.pug

append head
	title Оформление заказа

block main

	//- подключение и вызов секции SECTION-BREADCRUMBS
	include ../../sections/section-breadcrumbs/section-breadcrumbs
	+section-breadcrumbs(orderProcessing.sectionBreadcrumbs)

block popup
	//- подключение и вызов попапа POPUP-PAY
	include ../../sections/popup-payment/popup-payment
	+popup-payment(orderProcessing.popupPayment)
	+popup-payment(orderProcessing.popupPaymentEntity)

	//- include ../../sections/popup-pay-entity/popup-pay-entity
	//- +popup-payentity(orderProcessing.popupPayentity)
