extends ../../layout/main

block store
	include store/order-processing.store.pug

append head
	title Оформление заказа

block main

	//- подключение и вызов секции SECTION-BREADCRUMBS
	include ../../sections/section-breadcrumbs/section-breadcrumbs
	+section-breadcrumbs(orderProcessing.sectionBreadcrumbs)
