.section-order-reserve {
	display: flex;
	flex-direction: column;

	&__left {
		width: 100%;
		max-width: 896px;
		margin-right: 0;

		border-radius: 37px;
		background-color: #fcfcfc;
	}

	&__right {
		--wet-asphalt: #464646;
		display: flex;
		align-items: center;
		justify-content: center;

		width: 368px;
		height: 1050px;

		color: $white;
		border-radius: 30px;
		background: $wet-asphalt;
		box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.03);
	}
	@include media('xs') {
		&__left {
			position: relative;

			margin-right: 40px;
			padding: 62px 53px 69px;
		}

		&__icon {
			position: absolute;
			top: -43px;
			right: 53px;

			width: 94px;
			height: 94px;
			padding: 35px 29px 26px 26px;

			border-radius: 50%;
			background-image: linear-gradient(45deg, #b66060 0%, #ce7f65);
		}

		&__icon svg {
			width: 39px;
			height: 28px;

			color: #ffffff;
		}

		&__top {
			display: flex;
			justify-content: space-between;
		}

		&__title {
			margin-bottom: 16px;

			letter-spacing: normal;

			color: #464646;

			font-size: 54px;
			font-weight: 900;
			line-height: 1;
		}

		&__room {
			letter-spacing: normal;

			color: #464646;

			font-size: 20px;
			font-weight: 400;
			line-height: 1.2;
		}

		&__line-big {
			max-width: 160px;
			height: 9px;
			margin-bottom: 66px;

			border: none;
			background: var(--blue-gradient);
		}

		&__line-small {
			height: 2px;
			margin-right: -53px;
			// margin-bottom: 29px;
			margin-bottom: 0;
			margin-left: -53px;

			background-color: #efefef;
		}

		&__subtitle {
			margin-top: 30px;
			margin-bottom: 12px;

			letter-spacing: normal;

			color: #464646;

			font-size: 30px;
			font-weight: 700;
			line-height: 1;
		}

		&__info-way {
			letter-spacing: normal;

			opacity: 0.8;
			color: #464646;

			font-size: 14px;
			font-weight: 400;
			line-height: 1.29;
		}

		&__info-period-inner {
			display: flex;
			align-items: center;
			justify-content: end;

			margin-bottom: 31px;
		}

		&__info-period {
			letter-spacing: normal;

			color: #464646;

			font-size: 18px;
			font-weight: 700;
			line-height: 1.22;
		}

		&__info-period-img {
			margin: 0 16px;
		}

		&__items {
			display: flex;
			flex-direction: column;
		}

		&__item {
			display: flex;
			align-items: center;
			justify-content: space-between;

			margin-bottom: 40px;
		}

		&__item-title {
			letter-spacing: normal;

			color: #464646;

			font-size: 22px;
			font-weight: 700;
			line-height: 1.09;
		}

		&__item-text {
			max-width: 180px;

			letter-spacing: normal;

			color: #464646;

			font-size: 14px;
			font-weight: 300;
			line-height: 1.14;
		}

		&__item-sum {
			letter-spacing: normal;

			color: #464646;

			font-size: 18px;
			font-weight: 300;
			line-height: 1.22;
		}

		&__item-add {
			text-align: right;
			letter-spacing: normal;

			color: #464646;

			font-size: 18px;
			font-weight: 300;
			line-height: 1.22;
		}

		&__item-btn {
			margin-bottom: 42px;
			padding: 19px 15px 19px 15px;

			cursor: pointer;
			text-align: center;
			letter-spacing: normal;

			border-radius: 14px;
			background-color: #5f575f;

			font-size: 22px;
			font-weight: 400;
			line-height: 1;
		}

		&__warning {
			display: flex;
			justify-content: space-between;
		}

		&__warning-img {
			width: 34px;
			height: 34px;
			margin-right: 16px;
		}

		&__warning-text {
			max-width: 170px;

			letter-spacing: normal;

			color: #464646;

			font-size: 16px;
			font-weight: 300;
			line-height: 1;
		}

		&__reserve-condition-title {
			margin-top: 42px;
			margin-bottom: 15px;

			letter-spacing: normal;

			color: #464646;

			font-size: 18px;
			font-weight: 800;
			line-height: 1.11;
		}

		&__reserve-condition-text {
			letter-spacing: normal;

			color: #464646;

			font-size: 10px;
			font-weight: 300;
			line-height: 1.4;
		}

		&__footer {
			display: flex;

			color: #464646;
		}

		&__qr{
			width: 123px;
			height: 123px;
		}
	}
}
