.section-information-category {
	margin-bottom: 42px;
	padding-top: 49px;
	padding-right: 43px;
	padding-bottom: 223px;
	padding-left: 42px;
	// background-image: linear-gradient(279deg, #8a8898, #6a6781 0%);
	border-radius: 30px;
	background: rgba(255, 0, 0, 0.096);

	// Левый блок

	&__information-left {
		display: flex;
		flex-direction: column;
	}

	&__information-subtitle {
		// color: #fff;

		margin-bottom: 15px;

		letter-spacing: normal;

		font-size: 24px;
		font-weight: 300;
		line-height: 0.83;
	}

	&__information-left-title {
		// color: #fff;
		margin-bottom: 21px;

		letter-spacing: normal;
		word-break: break-word;

		font-size: 40px;
		font-weight: 800;
		line-height: 0.8;
	}

	&__information-line {
		// border-bottom: 4px solid linear-gradient(#ce7f65, #b66060);
		max-width: 285px;
		margin-bottom: 18px;

		border-bottom: 9px solid #b66060;
	}

	&__information-left-text {
		// color: #fff;
		margin-bottom: 22px;

		letter-spacing: normal;

		font-size: 22px;
		font-weight: 300;
		line-height: 1.09;
	}

	&__information-left-img-wrapper {
		display: flex;
		flex-direction: column;
		gap: 15px;
	}

	&__information-left-img {
		max-width: 280px;
		max-height: 81px;
	}

	&__information-left-info {
		max-width: 182px;

		letter-spacing: normal;
		// max-height: 60px;
		font-size: 12px;
		font-style: normal;
		line-height: 1;
		// color: #fff;
	}

	// Правый блок
	&__information-right {
		display: none;
	}

	&__information-right-img {
		display: none;
		// position: absolute;
		// z-index: -1;
		// width: 100%;
		// height: 100%;
	}

	@include media(xs) {
		&__section-information-category {
			background-image: linear-gradient(279deg, #8a8898, #6a6781 0%);
			// padding: 0;
			// padding-top: 0;
			// padding-right: 0;
			// padding-left: 0;
			// padding-bottom: 0;

			// position: relative;
		}

		&__information-wrapper {
			position: relative;
			// padding-right: 0;
			// padding-left: 0;
			// padding-bottom: 0;
			// padding-bottom: 0;

			display: flex;
			// background: #000000;

			padding-top: 0;

			// margin-bottom: 40px;
			// padding-top: 35px;

			color: #000000;
			// border: 1px solid rgb(174, 4, 4);
			// background-image: linear-gradient(279deg, #8a8898, #6a6781 0%);
			// justify-content: space-between;
			gap: 55px;
		}

		// Левый блок

		&__information-left {
			display: flex;
			flex-direction: column;

			padding-top: 35px;
		}

		&__information-subtitle {
			margin-bottom: 10px;

			letter-spacing: normal;

			color: #ffffff;

			font-size: 24px;
			font-weight: 300;
			line-height: 0.83;
		}

		&__information-left-text {
			max-width: 296px;
			margin-bottom: 56px;

			letter-spacing: normal;

			color: #ffffff;

			font-size: 24px;
			font-weight: 300;
			line-height: 1;
		}

		&__information-left-title {
			max-width: 392px;
			margin-bottom: 20px;

			letter-spacing: normal;

			color: #ffffff;

			font-size: 58px;
			font-weight: 800;
			line-height: 0.79;
		}

		&__information-line {
			// border-bottom: 4px solid linear-gradient(#ce7f65, #b66060);
			max-width: 280px;
			margin-bottom: 23px;

			border-bottom: 9px solid #b66060;
		}

		&__information-left-img-wrapper {
			display: flex;
			flex-direction: row;

			margin-bottom: 37px;
			gap: 27px;
		}

		&__information-left-img {
			max-width: 204px;
			max-height: 60px;
		}

		&__information-left-info {
			max-width: 128px;
			max-height: 60px;
			padding-top: 6px;

			letter-spacing: normal;

			opacity: 0.75;

			color: #ffffff;

			font-size: 12px;
			font-weight: 400;
			line-height: 1;
		}

		// Правый блок

		&__information-right {
			display: flex;
			flex-direction: column;

			max-width: 891px;
			padding-top: 35px;
		}

		&__information-right-title {
			margin-bottom: 13px;

			letter-spacing: normal;

			color: #ffffff;

			font-size: 24px;
			font-weight: 800;
			line-height: 0.83;
		}

		&__information-right-img {
			position: absolute;
			z-index: -1;

			display: block;

			width: 100%;
			height: 100%;
		}

		&__information-right-text-wrapper {
			display: flex;
			flex-wrap: wrap;

			letter-spacing: normal;

			// color: #ffffff;
			opacity: 0.7;

			font-size: 20px;
			font-weight: 400;
			line-height: 1;
			gap: 14px;
		}
	}
}

@include media(xs) {
	.section-information-category {
		// background-image: linear-gradient(279deg, #8a8898, #6a6781 0%);
		padding: 0;

		border-radius: 0;
		background: none;
		// padding-top: 0;
		// padding-right: 0;
		// padding-left: 0;
		// padding-bottom: 0;

		// position: relative;
	}
}
