mixin Popup(props)
	//- проверка данных получаемых из props
	include ../../shared/helpers/pug/shortcut-check-store

	- let parent = BEM('parent') ? BEM('parent') : 'body';

	//- верстка компонента
	+b('popup', {}, 'div')
		+b(parent, {e: '&:body'}, 'div')
			block
			+e('close', {}, 'button') Закрыть
