.popup{
	position: fixed;
	top: 0;
	left: 0;

	width: 100vw;
	height: 100vh;

	background-color: rgba(84, 85, 88, 0.93);

	&__body{
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		// --white: #fcfcfc;
		max-width: 896px;
		height: fit-content;
		margin: auto;
		margin-bottom: 27px;
  
		border-radius: 37px;
    
		background: $white;
    
		box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.03);
	}
}