.popup {
	position: fixed;

	z-index: 10;
	top: 0;
	left: 0;

	display: flex;
	overflow: hidden;

	width: 0;
	height: 0;

	background-color: rgba(84, 85, 88, 0.93);
	padding-block: 20px;

	&__body {
		margin: auto;
		padding: 51px 42px 48px;

		transition: transform 0.3s;
		transform: scale(0.3);


		border-radius: 37px;

		background: $white;

		box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.03);
	}

	&__close{
		display: block;

		margin-left: auto;

		cursor: pointer;

		text-decoration: underline;
		letter-spacing: normal;

		color: $wet-asphalt;
		border: 0;
		background: none;

		font-family: $font-default;
		font-size: $fs-20;
		font-weight: 800;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.2;
	}

	@include media('xs') {
		&__body {
			padding: 51px 53px 43px;
		}
	}
}

.js-popup-open {
	overflow: auto;

	width: 100vw;
	height: 100vh;

	.popup__body {
		transform: scale(1);
	}
}
