-
	const sectionOrdersList = {
		elem: {
			Card: {
				elemArr: [
					{
						data: {
							text: 'TESTING PERSONAL AREAD TEST Sashat1',
							desc: '123',
							buttonText: 'Button23',
							//- order: 'Заказ №210522/1-MT',
							firm: 'ИП Петров Иван',
							sum: '6 233 944 р.',
							weight: '≈ 4,548 т',
							count: 'Всего наимнований (12) на сумму 6 233 944 руб.(в том числе НДС 20%)',
							numberInWords: 'Сто пятьдесят восемь миллионов двести тридцать три тысячи девятьсот сорок четыре руб. 00 копеек'
						},
						elem: {
							TextOrder: {
								data: {
									text: 'Заказ №210522/1-MT'
								},
								bem: {
									size: 'fs-28',
									color: 'wet-asphalt'
								}
							}
						}
					},
					{
						data: {
							text: 'TESTING PERSONAL AREAD TEST Sashat1',
							desc: '123',
							buttonText: 'Button23',
							order: 'Заказ №210522/1-MT',
							firm: 'ИП Петров Иван',
							sum: '6 233 944 р.',
							weight: '≈ 4,548 т',
							count: 'Всего наимнований (12) на сумму 6 233 944 руб.(в том числе НДС 20%)',
							numberInWords: 'Сто пятьдесят восемь миллионов двести тридцать три тысячи девятьсот сорок четыре руб. 00 копеек'
						},
					},
					{
						data: {
							text: 'TESTING PERSONAL AREAD TEST Sashat1',
							desc: '123',
							buttonText: 'Button23',
							order: 'Заказ №210522/1-MT',
							firm: 'ИП Петров Иван',
							sum: '6 233 944 р.',
							weight: '≈ 4,548 т',
							count: 'Всего наимнований (12) на сумму 6 233 944 руб.(в том числе НДС 20%)',
							numberInWords: 'Сто пятьдесят восемь миллионов двести тридцать три тысячи девятьсот сорок четыре руб. 00 копеек'
						},
					},
				]
			}
		},
		//- данные секции
		dataArr: [
			{
				data: {
					text: 'TESTING PERSONAL AREAD TEST Sashat1',
					desc: '123',
					buttonText: 'Button23',
					order: '№210522/1-MT',
					firm: 'ИП Петров Иван',
					sum: '6 233 944',
					weight: '4,548',
					count: '12',
					numberInWords: 'Сто пятьдесят восемь миллионов двести тридцать три тысячи девятьсот сорок четыре руб. 00 копеек'
				},
			},
			{
				data: {
					text: 'TESTING PERSONAL AREAD TEST Sashat2',
					desc: '7777',
					buttonText: 'Button444',
					order: '№210522/2-MT',
					firm: 'Петров Иван',
					sum: '6 233 944',
					weight: '4,548',
					count: '12',
					numberInWords: 'Сто пятьдесят восемь миллионов двести тридцать три тысячи девятьсот сорок четыре руб. 00 копеек'
				},
			},
						{
				data: {
					text: 'TESTING PERSONAL AREAD TEST Sashat2',
					desc: '7777',
					buttonText: 'Button444',
					order: '№210522/1-MT',
					firm: 'ООО «Черномор»',
					sum: '6 233 944',
					weight: '4,548',
					count: '12',
					numberInWords: 'Сто пятьдесят восемь миллионов двести тридцать три тысячи девятьсот сорок четыре руб. 00 копеек'
				},
			}
		]
	};
