-
	const sectionOrdersList = {
		data: {
			title: 'Личный кабинет',
			subtitle: 'Конфеденциальность личных данных',
			placeholderName:'Фамилия Имя',
			placeholderInn:'ИНН',
			placeholderEmail:'E-mail',
			placeholderTel:'Моб. телефон',
			buttonPassword:'Сменить пароль',
			buttonData:'Изменить данные',
			text:'Резерв товаров из вашего списка товаров на складе сроком на 14 суток. Приобретая услугу Вы соглашаетесь с тем, что стоимость товара на момент окончания срока резерва может изменится. Резерв товаров из вашего списка товаров на складе сроком на 14 суток. Приобретая услугу Вы соглашаетесь с тем, что стоимость товара на момент окончания срока резерва может изменится.',
		},
		elem: {
			Card: {
				elemArr: [
					{
						data: {
							text: 'TESTING PERSONAL AREAD TEST Sashat1',
							desc: '123',
							buttonText: 'Button23',
							//- order: 'Заказ №210522/1-MT',
							firm: 'ИП Петров Иван',
							sum: '6 233 944 ',
							weight: '≈ 4,548 т',
							count: 'Всего наименований (12)\n на сумму 6 233 944 руб.\n (в том числе НДС 20%)',
							numberInWords: 'Сто пятьдесят восемь миллионов двести\n тридцать три тысячи девятьсот сорок четыре\n руб. 00 копеек',
							description:'Копия документов на оплату отправлена на вашу электронную почту. В течении ближайшего времени с вами свяжеться менеджер, чтобы обсудить делали заказа.',
							date: '(действителен до 21.05.2022)'
						},
						elem: {
							TextOrder: {
								data: {
									text: 'Заказ №210522/1-MT'
								},
								bem: {
									size: 'fs-28',
									color: 'wet-asphalt'
								}
							}
						},
						opt: {
							link: true,
						},
						dataArr: {
							linkPdf: [
								{
									data: {
									href: '#',
									linkText: 'Скачать счет PDF',
									date: '(действителен до 21.05.2022)'
									}
								},
								{
									data: {
										href: '#',
										linkText: 'Бланк заказа PDF',
										date: '(действителен до 21.05.2022)'
									}
								}
							]
						}
					},
					{
						data: {
							text: 'TESTING PERSONAL AREAD TEST Sashat1',
							desc: '123',
							buttonText: 'Button23',
							order: 'Заказ №210522/2-MT',
							firm: 'Петров Иван',
							sum: '6 233 944',
							weight: '≈ 4,548 т',
							count: 'Всего наименований (12)\n на сумму 6 233 944 руб.\n (в том числе НДС 20%)',
							numberInWords: 'Сто пятьдесят восемь миллионов двести\n тридцать три тысячи девятьсот сорок четыре\n руб. 00 копеек',
							description:'Копия документов на оплату отправлена на вашу электронную почту. В течении ближайшего времени с вами свяжеться менеджер, чтобы обсудить делали заказа.',
						},
						elem: {
							TextOrder: {
								data: {
									text: 'Заказ №210522/2-MT'
								},
								bem: {
									size: 'fs-28',
									color: 'wet-asphalt'
								}
							}
						},
						dataArr: {
							linkPdf: [
								{
									data: {
										href: '#',
										linkText: 'Бланк заказа PDF',
										date: '(действителен до 21.05.2022)'
									}
								}
							]
						}
					},
					{
						data: {
							text: 'TESTING PERSONAL AREAD TEST Sashat1',
							desc: '123',
							buttonText: 'Button23',
							order: 'Заказ №210522/1-MT',
							firm: 'ООО «Черномор»',
							sum: '6 233 944 ',
							weight: '≈ 4,548 т',
							count: 'Всего наименований (12)\n на сумму 6 233 944 руб.\n (в том числе НДС 20%)',
							numberInWords: 'Сто пятьдесят восемь миллионов двести\n тридцать три тысячи девятьсот сорок четыре\n руб. 00 копеек',
							description:'Копия документов на оплату отправлена на вашу электронную почту. В течении ближайшего времени с вами свяжеться менеджер, чтобы обсудить делали заказа.',
							date: '(действителен до 21.05.2022)'
						},
						elem: {
							TextOrder: {
								data: {
									text: 'Заказ №210522/1-MT'
								},
								bem: {
									size: 'fs-28',
									color: 'wet-asphalt'
								}
							}
						},
						opt: {
							link: true,
						},
						bem: {
							hide: 'hide'
						},
						dataArr: {
							linkPdf: [
								{
									data: {
									href: '#',
									linkText: 'Скачать счет PDF',
									date: '(действителен до 21.05.2022)'
									}
								},
								{
									data: {
										href: '#',
										linkText: 'Бланк заказа PDF',
										date: '(действителен до 21.05.2022)'
									}
								}
							]
						}
					},
				]
			}
		},
		//- данные секции
		dataArr: [
			{
				data: {
					text: 'TESTING PERSONAL AREAD TEST Sashat1',
					desc: '123',
					buttonText: 'Button23',
					order: '№210522/1-MT',
					firm: 'ИП Петров Иван',
					sum: '6 233 944',
					weight: '4,548',
					count: '12',
					numberInWords: 'Сто пятьдесят восемь миллионов двести тридцать три тысячи девятьсот сорок четыре руб. 00 копеек',
				},
			},
			{
				data: {
					text: 'TESTING PERSONAL AREAD TEST Sashat2',
					desc: '7777',
					buttonText: 'Button444',
					order: '№210522/2-MT',
					firm: 'Петров Иван',
					sum: '6 233 944',
					weight: '4,548',
					count: '12',
					numberInWords: 'Сто пятьдесят восемь миллионов двести тридцать три тысячи девятьсот сорок четыре руб. 00 копеек',
				},
			},
				{
				data: {
					text: 'TESTING PERSONAL AREAD TEST Sashat2',
					desc: '7777',
					buttonText: 'Button444',
					order: '№210522/1-MT',
					firm: 'ООО «Черномор»',
					sum: '6 233 944',
					weight: '4,548',
					count: '12',
					numberInWords: 'Сто пятьдесят восемь миллионов двести тридцать три тысячи девятьсот сорок четыре руб. 00 копеек'
				},
			}
		]
	};
