-
	const sectionOrdersList = {
		//- данные секции
		data: {
			text: 'TESTING PERSONAL AREAD TEST Ахмед'
			//- данные text, id и любой другой атрибут
		},
		bem: {
			//- классы стилей
		},
		opt: {
			//- boolean (heading: true)
		},
		elem: {
			row: {
				bem: {
					rowCols: 'row-cols-5'
				},
			},
		}
	};
