-
	const sectionOrdersList = {
		//- данные секции
		data: {
			text: 'TESTING PERSONAL AREAD TEST Sashat'
		},
		arrData: [
			{
				data: {
					text: 'TESTING PERSONAL AREAD TEST Sashat1',
					desc: '123',
					buttonText: 'Button23'
				},
			},
			{
				data: {
					text: 'TESTING PERSONAL AREAD TEST Sashat2',
					desc: '7777',
					buttonText: 'Button444'
				},
			}
		]
	};
