//- инстанст функции для дробления store на отдельные секции
- let personalArea = addSections();

//- секция SECTION-BREADCRUMBS
include personal-area-section-breadcrumbs
- personalArea.section = 'sectionBreadcrumbs';

//- секция SECTION-ORDERS-LIST
include personal-area-section-orders-list
- personalArea.section = 'sectionOrdersList';
