extends ../../layout/main

append variables
	+includeComponents(['ContactInformationFooter', 'Accordion', 'AccordionList', 'TableProductRow', 'Pagination', 'ProductItem'])

block store
	include store/catalog.store.pug

append head
	title Каталог

block main

	//- подключение и вызов секции SECTION-BREADCRUMBS
	include ../../sections/section-breadcrumbs/section-breadcrumbs
	+section-breadcrumbs(catalog.sectionBreadcrumbs)

	//- подключение и вызов секции SECTION-BREADCRUMBS
	include ../../sections/section-catalog/section-catalog
	+section-catalog(catalog.sectionCatalog)
