mixin section-orders-list(section)
	//- проверка данных получаемых из section
	include ../../shared/helpers/pug/shortcut-check-store

	//- верстка секции
	+b('section-orders-list', {}, 'section')
		+Row(S_ELEM('Row'))
			+e('left', {}, 'div')
				for item in S_ELEM_ARR('Card')
					+Card(item)
			+e('right', {}, 'div') slider
