mixin section-orders-list(section)
	//- проверка данных получаемых из section
	include ../../shared/helpers/pug/shortcut-check-store

	//- верстка секции
	+b('section-orders-list', {}, 'section')
		p TESTING PERSONAL AREAD TEST
		+Row(S_ELEM('row'))
			div ddfgfdg
			p ssdf
