.section-orders-list {
	// empty
	

}

.cart{
	max-width: 896px;
	max-height: 321px;
	margin-bottom: 27px;

	border-radius: 37px;
	background: $gainsborough;
	box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.03);
	// padding: 25.5px 26.5px 37px;
}

.title{
	display: flex;
	justify-content: space-between;

	padding: 25.5px 25.5px 9.5px 25.5px;

	&__order{
		letter-spacing: normal;

		color: #464646;
		// font-family: 'BlissPro';
		font-size: 28px;
		font-weight: 800;
		font-style: normal;
		font-stretch: normal;
		line-height: 0.86;
	}

	&__firm{
		text-align: right;
		letter-spacing: normal;

		color: #464646;
		// font-family: 'BlissPro';
		font-size: 28px;
		font-weight: 800;
		font-style: normal;
		font-stretch: normal;
		line-height: 0.86;
	}
}

.line{
	margin-bottom: 32px;

	border: solid 1px #efefef;
}

.call {
	display: flex;
	justify-content: space-between;

	padding-bottom: 74px;
}

.summ {
	display: flex;
	flex-direction: column;

	&:first-child{
		padding: 0 24px 0 53px;
	}

	&:last-child{
		padding: 0 53px 0 36px;
	}

	&_left{
		gap: 6px;

		width: 19.7%;
	}

	&_center{
		gap: 12px;

		width: 29.7%;
	}

	&_right{
		gap: 12px;

		width: 42.8%;
	}

	&__line{
		border-width: 4px;
		border-style: solid;
		border-image-source: linear-gradient(271deg, #ce7f65, #b66060);
		border-image-slice: 1;
	}

	&__total{
		letter-spacing: normal;

		color: #464646;

		font-size: 16px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.25;

		&_summ{
			font-size: 28px;
			font-weight: 800;
			line-height: 0.86;
		}

		&_bold{
			font-weight: bold;
		}

		&_small{
			font-size: 12px;
			font-weight: 300;
			line-height: 1.33;
		}

		&_mini{
			font-size: 10px;
			font-weight: 300;
			line-height: 1.2;
		}

		&_wrap{
			display: flex;
			flex-direction: column;
		}
	}
}

.text {
	font-size: 28px;

	&__t{
		line-height: 24px;
	}
}