mixin MobileCallback(props)
	//- проверка данных получаемых из props
	include ../../shared/helpers/pug/shortcut-check-store

	//- верстка компонента
	+b('mobile-callback', {}, 'div')
		+e('phone-icon', {}, 'img')(src='../../layout/assets/images/icon-phone.png')
		+e('basket-icon', {}, 'div')
			include ../../layout/assets/images/basket.svg
