mixin MobileCallback(props)
	//- проверка данных получаемых из props
	include ../../shared/helpers/pug/shortcut-check-store

	//- верстка компонента
	+b('mobile-callback', {}, 'div')
		+e('wrap-link', {}, 'a')(href='tel:+74955456420')
			+e('phone-icon', {}, 'img')(src='../../layout/assets/images/icon-phone.png')
		+e('wrap-link', {}, 'a')(href='#!')
			+e('basket-icon', {}, 'div')
				include ../../layout/assets/images/basket.svg
