extends ../../layout/main

block store
	include store/index.store.pug

append head
	title Главная

block main

	//- подключение и вызов секции SECTION-SLIDER
	include ../../sections/section-slider/section-slider
	+section-slider

	//- подключение и вызов секции SECTION-INFORMATION-CATEGORY
	include ../../sections/section-information-category/section-information-category
	+section-information-category(index.sectionInformationCategory)
	//- +section-information-category(index.sectionInformationCategory)
	//- +section-information-category(index.sectionInformationCategory)
