extends ../../layout/main

append variables
	- let noMargin = 'no-margin-bottom'
	+includeComponents(['ContactInformationFooter', 'Slider', 'Accordion', 'AccordionList', 'TableProductRow', 'Pagination', 'ProductItem', 'ProductItemDetails', 'Popup', 'Select'])

block store
	include store/index.store.pug

append head
	title Главная

block main

	//- подключение и вызов секции SECTION-SLIDER
	include ../../sections/section-slider/section-slider
	+section-slider()

	//- подключение и вызов секции SECTION-CATEGORY_TYPES
	include ../../sections/section-category-types/section-category-types
	+section-category-types(index.sectionCategoryTypes)

	//- подключение и вызов секции SECTION-INFORMATION-CATEGORY
	include ../../sections/section-information-category/section-information-category
	+section-information-category(index.sectionInformationCategory1)
	+section-information-category(index.sectionInformationCategory2)
	+section-information-category(index.sectionInformationCategory3)

	//- подключение и вызов секции SECTION-CATALOG
	include ../../sections/section-catalog/section-catalog
	+section-catalog(index.sectionCatalog)

block pre-footer
	//- подключение и вызов секции SECTION-METAL
	include ../../sections/section-metal/section-metal
	+section-metal(index.sectionMetal)
