extends ../../layout/main

block store
	include store/index.store.pug

append head
	title Главная

block main

	//- подключение и вызов секции SECTION-SLIDER
	include ../../sections/section-slider/section-slider
	+section-slider

block pre-footer

	//- подключение и вызов секции SECTION-METAL
	include ../../sections/section-metal/section-metal
	+section-metal(index.sectionMetal)
