include ../../../node_modules/bempug/index
-
	BEMPUG.modifier = '_';
	BEMPUG.afterParse[ '' ] = function( block ) {
		block.classes = [];
	}

doctype html
html
	head
		title qqqqqqqqq
	body
		.profile
			h1 Hellosds Hyruzzled sdsdsdsd
		+b('ddd')
			+e('ddeee')
