.card{
	--white: #fcfcfc;
	max-width: 896px;
	max-height: 321px;
	margin-bottom: 27px;

	border-radius: 37px;
	
	background: $white;
	
	box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.03);
}

.title{
	display: flex;
	justify-content: space-between;

	padding: 51px 53px 19px 53px;

	&__order{
		color: $wet-asphalt;

		font-size: 28px;
		font-weight: 800;
		line-height: 0.86;
	}

	&__firm{
		text-align: right;
		letter-spacing: normal;

		color: $wet-asphalt;

		font-size: 28px;
		font-weight: 800;
		font-style: normal;
		font-stretch: normal;
		line-height: 0.86;
	}
}

.text {
	font-weight: 800;
	line-height: 0.86;
}

.line{
	height: 1px;
	margin-bottom: 24px;

	border: 0;
	background: #efefef;
}

.call {
	display: flex;
	justify-content: space-between;

	padding: 0 65px 74px 55px;
}

.summ {
	display: flex;
	flex-direction: column;

	&_left{
		gap: 6px;

		width: 155px;
	}

	&_center{
		gap: 12px;

		width: 235px;
	}

	&_right{
		gap: 12px;

		width: 333px;
	}

	&__line{
		width: 123px;

		border-width: 2px;
		border-style: solid;
		border-image-source: linear-gradient(271deg, #ce7f65, #b66060);
		border-image-slice: 1;
	}

	&__link {
		display: flex;
		gap: 19px;
		
	}

	&__download {
		color: $wet-asphalt;

		&:hover {
			--wet-asphalt: #464646c6;
			color: $wet-asphalt;
		}
	}

	&__total{
		display: flex;
		flex-direction: row;

		white-space: pre-line;

		color: $wet-asphalt;

		font-size: 16px;
		line-height: 1.25;

		&_summ{
			font-size: 28px;
			font-weight: 800;
			line-height: 0.86;
		}

		&_bold{
			font-weight: bold;
		}

		&_small{
			font-size: 12px;
			font-weight: 300;
			line-height: 1.33;
		}
		
		&_mini{
			font-size: 10px;
			font-weight: 300;
			line-height: 1.2;
		}

		&_wrap{
			display: flex;
			flex-direction: column;
			row-gap: 10px;
		}
	}
}