-
	let sectionProductDetails = {
		data: {
			category: 'Арматурный прокат',
			articule: 'Арт. 0000545-MT',
			title: 'Лист горячекатный, 60мм, 1500х600 (A240)',
			subtitle: 'Просечно-вытяжной лист, 16 мм (изготавливается по технологии горячекатного листа)',
			cartTitle: 'В вашей корзине (3)',
			count: '0,500 т',
			total: 'Итого:',
			totalPrice: '100 000',
			totalPriceValue: 'p',
			measure: '≈ 0,500 т / 6,4 м2',
			button: 'В корзину',
			description: 'Нажимая вы соглашаетесь с условиями и политикой конфеденциальности'
		},
		dataArr: {
			categories: [
				{
					data: {
						title: "Категория А240",
						href: "#"
					}
				},
				{
					data: {
						title: "Лист горячекатный",
						href: "#"
					}
				},
				{
					data: {
						title: "В листах",
						href: "#"
					}
				},
				{
					data: {
						title: "Стандарт ГОСТ 34028-2016",
						href: "#"
					}
				},
			],
			filters: [
				{
					data: {
						title: 'Тонны'
					},
					bem: {
						jsClass: 'active'
					}
				},
				{
					data: {
						title: 'М2'
					}
				},
				{
					data: {
						title: 'Шт.'
					}
				},
			]
		},
		elem: {
			AccordionList: {
				elemArr: [
					{
						elem: {
							Accordion: {
								data: {
									title: 'Характеристики',
								},
								bem: {
									size: 'fz-20',
									styleContent: 'reset'
								},
							},
						},
						dataArr: {
							links: [
								{
									title: 'Категория А240',
								},
								{
									title: 'Лист горячекатный',
								},
								{
									title: 'В листах',
								},
								{
									title: 'Стандарт ГОСТ 34028-2016',
								},
							]
						}
					},
				]
			},
			ProductItemDetails: {
				data: {
					title: 'Труба профильная, 5 мм, 3000х60',
					subtitle: 'Просечно-вытяжной лист, 16 мм (изготавливается по технологии горячекатного листа)',
					count: '0,015 т',
					total: 'Итого:',
					totalPrice: '840',
					totalPriceValue: ' p.',
					measure: '≈ 0,015 т / 3 м',
					button: 'В корзину',
					description: 'Нажимая вы соглашаетесь с условиями и политикой конфеденциальности'
				},
				elemArr: [
					{
						data: {
							title: 'Тонны'
						},
						bem: {
							jsClass: 'active'
						}
					},
					{
						data: {
							title: 'М2'
						}
					},
					{
						data: {
							title: 'Шт.'
						}
					}
				]
			},
			Tabs: {
				dataArr: {
					tabButtons: [
						{
							data: {
								tabButton: 'Описание товара',
								dataTabButton: '1'
							}
						},
						{
							data: {
								tabButton: 'Документы',
								dataTabButton: '2'
							}
						},
						{
							data: {
								tabButton: 'Оплата и доставка',
								dataTabButton: '3'
							}
						},
						{
							data: {
								tabButton: 'Расчитать по вашей смете',
								dataTabButton: '4'
							}
						}
					],
					tabContents: [
						{
							data: {
								tabContent: 'Арматура А240/А-I – гладкая арматура, относится к классу А-I, представляет собой металлический профиль, для изготовления которого используется легированная сталь с пониженным количеством углерода. Это единственная разновидность арматуры, которая не имеет рифления. Арматура А240 трактуется так: А - обозначает горячекатаный прокат, 240 – указывает на предел текучести металла и составляет 240 Н/мм2. Производится такая арматура методом горячей прокатки с дополнительным низкотемпературным отпуском, и именно благодаря этому достигается красивая ровная гладкая поверхность. Готовая арматура должна быть ровной, гладкой, без трещин и пятен, с правильной геометрией, не должно быть сколов и ржавчины. Гладкая арматура часто используют в качестве соединительных прутов для вязки каркаса, удерживая основные стержни в нужных местах. В качестве такого дополнительного компонента ее используют во многих типах сооружений, в том числе подземных и водных. Арматура А240 обладает рядом преимуществ: надежность, особенности производства позволяют использовать ее для создания сложных конструкций, расположенных на наиболее ответственных участках, устойчивость к любым видам коррозии, устойчивость перед воздействием химических и биологических факторов, отличная гибкость, твердость и высокий уровень прочности, доступная стоимость и довольно широкий ассортимент. Реализуется металлическая арматура либо в мотках, либо пачками в виде прутков.',
								dataTabContent: '1'
							}
						},
						{
							data: {
								tabContent: 'Арматура А240/А-I – гладкая арматура, относится к классу А-I, представляет собой металлический профиль, для изготовления которого используется легированная сталь с пониженным количеством углерода. Это единственная разновидность арматуры, которая не имеет рифления. Арматура А240 трактуется так: А - обозначает горячекатаный прокат, 240 – указывает на предел текучести металла и составляет 240 Н/мм2. Производится такая арматура методом горячей прокатки с дополнительным низкотемпературным отпуском, и именно благодаря этому достигается красивая ровная гладкая поверхность. Готовая арматура должна быть ровной, гладкой, без трещин и пятен, с правильной геометрией, не должно быть сколов и ржавчины.',
								dataTabContent: '2'
							}
						},
						{
							data: {
								tabContent: 'Арматура А240/А-I – гладкая арматура, относится к классу А-I, представляет собой металлический профиль, для изготовления которого используется легированная сталь с пониженным количеством углерода. Это единственная разновидность арматуры, которая не имеет рифления. Арматура А240 трактуется так: А - обозначает горячекатаный прокат, 240 – указывает на предел текучести металла и составляет 240 Н/мм2. Производится такая арматура методом горячей прокатки с дополнительным низкотемпературным отпуском, и именно благодаря этому достигается красивая ровная гладкая поверхность. Готовая арматура должна быть ровной, гладкой, без трещин и пятен, с правильной геометрией, не должно быть сколов и ржавчины.',
								dataTabContent: '3'
							}
						},
						{
							data: {
								tabContent: 'Арматура А240/А-I – гладкая арматура, относится к классу А-I, представляет собой металлический профиль, для изготовления которого используется легированная сталь с пониженным количеством углерода. Это единственная разновидность арматуры, которая не имеет рифления. Арматура А240 трактуется так: А - обозначает горячекатаный прокат, 240 – указывает на предел текучести металла и составляет 240 Н/мм2. Производится такая арматура методом горячей прокатки с дополнительным низкотемпературным отпуском, и именно благодаря этому достигается красивая ровная гладкая поверхность. Готовая арматура должна быть ровной, гладкой, без трещин и пятен, с правильной геометрией, не должно быть сколов и ржавчины. \n Арматура А240/А-I – гладкая арматура, относится к классу А-I, представляет собой металлический профиль, для изготовления которого используется легированная сталь с пониженным количеством углерода. Это единственная разновидность арматуры, которая не имеет рифления. Арматура А240 трактуется так: А - обозначает горячекатаный прокат, 240 – указывает на предел текучести металла и составляет 240 Н/мм2. Производится такая арматура методом горячей прокатки с дополнительным низкотемпературным отпуском, и именно благодаря этому достигается красивая ровная гладкая поверхность. Готовая арматура должна быть ровной, гладкой, без трещин и пятен, с правильной геометрией, не должно быть сколов и ржавчины.',
								dataTabContent: '4'
							}
						}
					]
				}
			},
			TableProductRowContent: {
				elemArr: [
					{
						elem: {
							Text: {
								elemArr: [
									{
										dataArr: {
											arrText: [
												{
													text: 'Круг алюминиевый 1,5 мм АМГ6'
												},
											],
										},
										opt: {
											arrayData: true,
											p: true
										}
									},
									{
										dataArr: {
											arrText: [
												{
													text: '3000'
												},
											],
										},
										opt: {
											arrayData: true,
											p: true
										}
									},
									{
										dataArr: {
											arrText: [
												{
													text: '1,558 т.'
												},
											],
										},
										opt: {
											arrayData: true,
											p: true
										}
									},
									{
										dataArr: {
											arrText: [
												{
													text: 'Изменить'
												},
											],
										},
										opt: {
											arrayData: true,
											p: true
										}
									},
									{
										dataArr: {
											arrText: [
												{
													text: '37 472 549 / р.'
												},
											],
										},
										opt: {
											arrayData: true,
											p: true
										}
									},
									{
										dataArr: {
											arrText: [
												{
													text: '/basket.svg',
													img: true,
													popup: 'product-item-details'
												},
											],
										},
										opt: {
											arrayData: true
										}
									},
								]
							}
						},
					},
					{
						elem: {
							Text: {
								elemArr: [
									{
										dataArr: {
											arrText: [
												{
													text: 'Круг алюминиевый 1,5 мм АМГ6'
												},
											],
										},
										opt: {
											arrayData: true,
											p: true
										}
									},
									{
										dataArr: {
											arrText: [
												{
													text: '3000'
												},
											],
										},
										opt: {
											arrayData: true,
											p: true
										}
									},
									{
										dataArr: {
											arrText: [
												{
													text: '0,958 т.'
												},
											],
										},
										opt: {
											arrayData: true,
											p: true
										}
									},
									{
										dataArr: {
											arrText: [
												{
													text: 'Изменить'
												},
											],
										},
										opt: {
											arrayData: true,
											p: true
										}
									},
									{
										dataArr: {
											arrText: [
												{
													text: '2 472 549 / р.'
												},
											],
										},
										opt: {
											arrayData: true,
											p: true
										}
									},
									{
										dataArr: {
											arrText: [
												{
													text: '/basket.svg',
													img: true,
													popup: 'product-item-details'
												},
											],
										},
										opt: {
											arrayData: true
										}
									},
								]
							}
						},
					},
					{
						elem: {
							Text: {
								elemArr: [
									{
										dataArr: {
											arrText: [
												{
													text: 'Круг алюминиевый 2 мм АМГ6'
												},
											],
										},
										opt: {
											arrayData: true,
											p: true
										}
									},
									{
										dataArr: {
											arrText: [
												{
													text: '3000'
												},
											],
										},
										opt: {
											arrayData: true,
											p: true
										}
									},
									{
										dataArr: {
											arrText: [
												{
													text: '0,200 т.'
												},
											],
										},
										opt: {
											arrayData: true,
											p: true
										}
									},
									{
										dataArr: {
											arrText: [
												{
													text: 'Изменить'
												},
											],
										},
										opt: {
											arrayData: true,
											p: true
										}
									},
									{
										dataArr: {
											arrText: [
												{
													text: '500 549 / р.'
												},
											],
										},
										opt: {
											arrayData: true,
											p: true
										}
									},
									{
										dataArr: {
											arrText: [
												{
													text: '/basket.svg',
													img: true,
													popup: 'product-item-details'
												},
											],
										},
										opt: {
											arrayData: true
										}
									},
								]
							}
						},
					},
				]
			},
			Select: {
				data: {
					title: 'Диаметр, 60 мм',
				},
				elemArr: [
					{
						data: {
							title: "Толщина, 10 мм",
						}
					},
					{
						data: {
							title: "Толщина, 20 мм",
						}
					},
					{
						data: {
							title: "Толщина, 30 мм",
						}
					},
					{
						data: {
							title: "Толщина, 40 мм",
						}
					},
					{
						data: {
							title: "Толщина, 50 мм",
						}
					},
				]
			},
			ProductItem: {
				elemArr: [
					{
						data: {
							basketDescription: 'Добавьте в корзину и рассчитайте точный необходимий обьем',
						},
						elem: {
							Text: {
								elemArr: [
									{
										dataArr: {
											arrText: [
												{
													text: '60 мм'
												},
												{
													text: '1500 x 600 мм'
												},
											],
										},
										opt: {
											arrayData: true,
											p: true
										}
									},
									{
										dataArr: {
											arrText: [
												{
													text: 'за 1 тонну'
												},
												{
													text: '115 400 р.'
												},
											],
										},
										opt: {
											arrayData: true,
											p: true
										}
									},
									{
										dataArr: {
											arrText: [
												{
													text: 'за 1 м2'
												},
												{
													text: '12 400 р.'
												},
											],
										},
										opt: {
											arrayData: true,
											p: true
										}
									},
									{
										dataArr: {
											arrText: [
												{
													text: 'за 1 лист'
												},
												{
													text: '35 800 р.'
												},
											],
										},
										opt: {
											arrayData: true,
											p: true
										}
									},
								]
							}
						},
					},
				]
			},
		}
	}
