//- инстанст функции для дробления store на отдельные секции
- let productDetails = addSections();

//- секция SECTION-BREADCRUMBS
include product-details-section-breadcrumbs
- productDetails.section = 'sectionBreadcrumbs';

//- секция SECTION-CATALOG
include product-details-section-catalog
- productDetails.section = 'sectionCatalog';
