*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-size: 10px;
	scroll-behavior: smooth;
}

body {
	font-family: $font-default;
	font-size: $fz-default;
	font-weight: 300;
	font-style: normal;
	line-height: 1.14;
}

img {
	vertical-align: middle;
}

