*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-size: 10px;
	scroll-behavior: smooth;
}

body {
	font-family: $font-default;
	font-size: $fs-default;
	font-weight: 300;
	font-style: normal;
	line-height: 1.14;
}

img {
	vertical-align: middle;
}

.body {
	background: linear-gradient(318deg, #678c92, #586e8b);
}
