*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-size: 10px;
	scroll-behavior: smooth;
}

body {
	color: $white;

	font-family: $font-default;
	font-size: $fs-default;
	font-weight: 300;
	font-style: normal;
	line-height: 1.14;
}

img {
	vertical-align: middle;
}

a {
	color: $white;

	&:hover {
		--white: #ffffffcc;
		transition: all 0.3s;

		color: $white;
	}
}

.body {
	background: $blue-gradient;
}

.main {
	margin-top: 7px;
	margin-bottom: 90px;

	&_no-margin-bottom {
		margin-top: 15px;
		margin-bottom: 0;
	}

	@include media('xs') {
		margin-top: 70px;
		margin-bottom: 160px;

		&_no-margin-bottom {
			margin-top: 30px;
			margin-bottom: 0;
		}
	}
}

.bg-footer {
	background: linear-gradient(306deg, #636267, #47474b 0%);
}

html, section, .bg-footer {
	min-width: 390px;

	@include media('lg') {
		min-width: 1406px;
	}

	@include media('xs') {
		min-width: 1228px;
	}
}
