*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-size: 10px;
	scroll-behavior: smooth;
}

body {
	color: $white;

	font-family: $font-default;
	font-size: $fs-default;
	font-weight: 300;
	font-style: normal;
	line-height: 1.14;
}

img {
	vertical-align: middle;
}

a {
	color: $white;

	&:hover {
		--white: #ffffffcc;
		transition: all 0.3s;

		color: $white;
	}
}

.body {
	background: $blue-gradient;
}

.main {
	margin-top: 50px;
	margin-bottom: 90px;

	@include media('xs') {
		margin-top: 70px;
		margin-bottom: 160px;
	}
}

.bg-footer {
	background: linear-gradient(306deg, #636267, #47474b 0%);
}
