@import "utilites/margin";
@import "utilites/gap";

.no-scroll {
	overflow: hidden;
}

//// *** СТИЛИ ОТСТУПОВ PADDING ***
//// ==> padding
//.p {
//	&-0 {
//		padding: 0;
//	}
//
//	&-10 {
//		padding: 10px;
//	}
//
//	&-20 {
//		padding: 20px;
//	}
//
//	&-30 {
//		padding: 30px;
//	}
//
//	&-40 {
//		padding: 40px;
//	}
//
//	&-50 {
//		padding: 50px;
//	}
//
//	&-60 {
//		padding: 60px;
//	}
//
//	&-80 {
//		padding: 80px;
//	}
//
//	&-100 {
//		padding: 100px;
//	}
//
//	// для медиазапроса LG
//	@include to-lg {
//		&-lg-0 {
//			padding: 0;
//		}
//
//		&-lg-10 {
//			padding: 10px;
//		}
//
//		&-lg-20 {
//			padding: 20px;
//		}
//
//		&-lg-30 {
//			padding: 30px;
//		}
//
//		&-lg-40 {
//			padding: 40px;
//		}
//
//		&-lg-50 {
//			padding: 50px;
//		}
//
//		&-lg-60 {
//			padding: 60px;
//		}
//
//		&-lg-80 {
//			padding: 80px;
//		}
//
//		&-lg-100 {
//			padding: 100px;
//		}
//	}
//
//	// для медиазапроса XS
//	@include to-xs {
//		&-xs-0 {
//			padding: 0;
//		}
//
//		&-xs-10 {
//			padding: 10px;
//		}
//
//		&-xs-20 {
//			padding: 20px;
//		}
//
//		&-xs-30 {
//			padding: 30px;
//		}
//
//		&-xs-40 {
//			padding: 40px;
//		}
//
//		&-xs-50 {
//			padding: 50px;
//		}
//
//		&-xs-60 {
//			padding: 60px;
//		}
//
//		&-xs-80 {
//			padding: 80px;
//		}
//
//		&-xs-100 {
//			padding: 100px;
//		}
//	}
//}
//
//// ==> padding-top
//.pt {
//	&-0 {
//		padding-top: 0;
//	}
//
//	&-10 {
//		padding-top: 10px;
//	}
//
//	&-20 {
//		padding-top: 20px;
//	}
//
//	&-30 {
//		padding-top: 30px;
//	}
//
//	&-40 {
//		padding-top: 40px;
//	}
//
//	&-50 {
//		padding-top: 50px;
//	}
//
//	&-60 {
//		padding-top: 60px;
//	}
//
//	&-80 {
//		padding-top: 80px;
//	}
//
//	&-100 {
//		padding-top: 100px;
//	}
//
//	// для медиазапроса LG
//	@include to-lg {
//		&-lg-0 {
//			padding-top: 0;
//		}
//
//		&-lg-10 {
//			padding-top: 10px;
//		}
//
//		&-lg-20 {
//			padding-top: 20px;
//		}
//
//		&-lg-30 {
//			padding-top: 30px;
//		}
//
//		&-lg-40 {
//			padding-top: 40px;
//		}
//
//		&-lg-50 {
//			padding-top: 50px;
//		}
//
//		&-lg-80 {
//			padding-top: 80px;
//		}
//
//		&-lg-100 {
//			padding-top: 100px;
//		}
//	}
//
//	// для медиазапроса SM
//	@include to-sm {
//		&-sm-0 {
//			padding-top: 0;
//		}
//
//		&-sm-10 {
//			padding-top: 10px;
//		}
//
//		&-sm-20 {
//			padding-top: 20px;
//		}
//
//		&-sm-30 {
//			padding-top: 30px;
//		}
//
//		&-sm-40 {
//			padding-top: 40px;
//		}
//
//		&-sm-50 {
//			padding-top: 50px;
//		}
//
//		&-sm-80 {
//			padding-top: 80px;
//		}
//
//		&-sm-100 {
//			padding-top: 100px;
//		}
//	}
//
//	// для медиазапроса XS
//	@include to-xs {
//		&-xs-0 {
//			padding-top: 0;
//		}
//
//		&-xs-10 {
//			padding-top: 10px;
//		}
//
//		&-xs-20 {
//			padding-top: 20px;
//		}
//
//		&-xs-30 {
//			padding-top: 30px;
//		}
//
//		&-xs-40 {
//			padding-top: 40px;
//		}
//
//		&-xs-50 {
//			padding-top: 50px;
//		}
//
//		&-xs-80 {
//			padding-top: 80px;
//		}
//
//		&-xs-100 {
//			padding-top: 100px;
//		}
//	}
//}
//
//// ==> padding-right
//.pr {
//	&-0 {
//		padding-right: 0;
//	}
//
//	&-10 {
//		padding-right: 10px;
//	}
//
//	&-20 {
//		padding-right: 20px;
//	}
//
//	&-30 {
//		padding-right: 30px;
//	}
//
//	&-40 {
//		padding-right: 40px;
//	}
//
//	&-50 {
//		padding-right: 50px;
//	}
//
//	&-80 {
//		padding-right: 80px;
//	}
//
//	&-100 {
//		padding-right: 100px;
//	}
//
//	// для медиазапроса LG
//	@include to-lg {
//		&-lg-0 {
//			padding-right: 0;
//		}
//
//		&-lg-10 {
//			padding-right: 10px;
//		}
//
//		&-lg-20 {
//			padding-right: 20px;
//		}
//
//		&-lg-30 {
//			padding-right: 30px;
//		}
//
//		&-lg-40 {
//			padding-right: 40px;
//		}
//
//		&-lg-50 {
//			padding-right: 50px;
//		}
//
//		&-lg-80 {
//			padding-right: 80px;
//		}
//
//		&-lg-100 {
//			padding-right: 100px;
//		}
//	}
//
//	// для медиазапроса XS
//	@include to-xs {
//		&-xs-0 {
//			padding-right: 0;
//		}
//
//		&-xs-10 {
//			padding-right: 10px;
//		}
//
//		&-xs-20 {
//			padding-right: 20px;
//		}
//
//		&-xs-30 {
//			padding-right: 30px;
//		}
//
//		&-xs-40 {
//			padding-right: 40px;
//		}
//
//		&-xs-50 {
//			padding-right: 50px;
//		}
//
//		&-xs-80 {
//			padding-right: 80px;
//		}
//
//		&-xs-100 {
//			padding-right: 100px;
//		}
//	}
//}
//
//// ==> padding-bottom
//.pb {
//	&-0 {
//		padding-bottom: 0;
//	}
//
//	&-10 {
//		padding-bottom: 10px;
//	}
//
//	&-20 {
//		padding-bottom: 20px;
//	}
//
//	&-30 {
//		padding-bottom: 30px;
//	}
//
//	&-40 {
//		padding-bottom: 40px;
//	}
//
//	&-50 {
//		padding-bottom: 50px;
//	}
//
//	&-60 {
//		padding-bottom: 60px;
//	}
//
//	&-80 {
//		padding-bottom: 80px;
//	}
//
//	&-100 {
//		padding-bottom: 100px;
//	}
//
//	// для медиазапроса LG
//	@include to-lg {
//		&-lg-0 {
//			padding-bottom: 0;
//		}
//
//		&-lg-10 {
//			padding-bottom: 10px;
//		}
//
//		&-lg-20 {
//			padding-bottom: 20px;
//		}
//
//		&-lg-30 {
//			padding-bottom: 30px;
//		}
//
//		&-lg-40 {
//			padding-bottom: 40px;
//		}
//
//		&-lg-50 {
//			padding-bottom: 50px;
//		}
//
//		&-lg-80 {
//			padding-bottom: 80px;
//		}
//
//		&-lg-100 {
//			padding-bottom: 100px;
//		}
//	}
//
//	// для медиазапроса XS
//	@include to-xs {
//		&-xs-0 {
//			padding-bottom: 0;
//		}
//
//		&-xs-10 {
//			padding-bottom: 10px;
//		}
//
//		&-xs-20 {
//			padding-bottom: 20px;
//		}
//
//		&-xs-30 {
//			padding-bottom: 30px;
//		}
//
//		&-xs-40 {
//			padding-bottom: 40px;
//		}
//
//		&-xs-50 {
//			padding-bottom: 50px;
//		}
//
//		&-xs-80 {
//			padding-bottom: 80px;
//		}
//
//		&-xs-100 {
//			padding-bottom: 100px;
//		}
//	}
//}
//
//// ==> padding-left
//.pl {
//	&-0 {
//		padding-left: 0;
//	}
//
//	&-10 {
//		padding-left: 10px;
//	}
//
//	&-20 {
//		padding-left: 20px;
//	}
//
//	&-30 {
//		padding-left: 30px;
//	}
//
//	&-40 {
//		padding-left: 40px;
//	}
//
//	&-50 {
//		padding-left: 50px;
//	}
//
//	&-80 {
//		padding-left: 80px;
//	}
//
//	&-100 {
//		padding-left: 100px;
//	}
//
//	// для медиазапроса LG
//	@include to-lg {
//		&-lg-0 {
//			padding-left: 0;
//		}
//
//		&-lg-10 {
//			padding-left: 10px;
//		}
//
//		&-lg-20 {
//			padding-left: 20px;
//		}
//
//		&-lg-30 {
//			padding-left: 30px;
//		}
//
//		&-lg-40 {
//			padding-left: 40px;
//		}
//
//		&-lg-50 {
//			padding-left: 50px;
//		}
//
//		&-lg-80 {
//			padding-left: 80px;
//		}
//
//		&-lg-100 {
//			padding-left: 100px;
//		}
//	}
//
//	// для медиазапроса XS
//	@include to-xs {
//		&-xs-0 {
//			padding-left: 0;
//		}
//
//		&-xs-10 {
//			padding-left: 10px;
//		}
//
//		&-xs-20 {
//			padding-left: 20px;
//		}
//
//		&-xs-30 {
//			padding-left: 30px;
//		}
//
//		&-xs-40 {
//			padding-left: 40px;
//		}
//
//		&-xs-50 {
//			padding-left: 50px;
//		}
//
//		&-xs-80 {
//			padding-left: 80px;
//		}
//
//		&-xs-100 {
//			padding-left: 100px;
//		}
//	}
//}
//
//// ==> padding-right && padding-left
//.px {
//	&-0 {
//		padding-right: 0;
//		padding-left: 0;
//	}
//
//	&-10 {
//		padding-right: 10px;
//		padding-left: 10px;
//	}
//
//	&-20 {
//		padding-right: 20px;
//		padding-left: 20px;
//	}
//
//	&-30 {
//		padding-right: 30px;
//		padding-left: 30px;
//	}
//
//	&-40 {
//		padding-right: 40px;
//		padding-left: 40px;
//	}
//
//	&-50 {
//		padding-right: 50px;
//		padding-left: 50px;
//	}
//
//	&-60 {
//		padding-right: 50px;
//		padding-left: 50px;
//	}
//
//	&-80 {
//		padding-right: 80px;
//		padding-left: 80px;
//	}
//
//	&-100 {
//		padding-right: 100px;
//		padding-left: 100px;
//	}
//
//	// для медиазапроса LG
//	@include to-lg {
//		&-lg-0 {
//			padding-right: 0;
//			padding-left: 0;
//		}
//
//		&-lg-10 {
//			padding-right: 10px;
//			padding-left: 10px;
//		}
//
//		&-lg-20 {
//			padding-right: 20px;
//			padding-left: 20px;
//		}
//
//		&-lg-30 {
//			padding-right: 30px;
//			padding-left: 30px;
//		}
//
//		&-lg-40 {
//			padding-right: 40px;
//			padding-left: 40px;
//		}
//
//		&-lg-50 {
//			padding-right: 50px;
//			padding-left: 50px;
//		}
//
//		&-lg-80 {
//			padding-right: 80px;
//			padding-left: 80px;
//		}
//
//		&-lg-100 {
//			padding-right: 100px;
//			padding-left: 100px;
//		}
//	}
//
//	@include to-sm {
//		&-sm-0 {
//			padding-right: 0;
//			padding-left: 0;
//		}
//
//		&-sm-10 {
//			padding-right: 10px;
//			padding-left: 10px;
//		}
//
//		&-sm-20 {
//			padding-right: 20px;
//			padding-left: 20px;
//		}
//
//		&-sm-30 {
//			padding-right: 30px;
//			padding-left: 30px;
//		}
//
//		&-sm-40 {
//			padding-right: 40px;
//			padding-left: 40px;
//		}
//
//		&-sm-50 {
//			padding-right: 50px;
//			padding-left: 50px;
//		}
//
//		&-sm-80 {
//			padding-right: 80px;
//			padding-left: 80px;
//		}
//
//		&-sm-100 {
//			padding-right: 100px;
//			padding-left: 100px;
//		}
//	}
//
//	// для медиазапроса XS
//	@include to-xs {
//		&-xs-0 {
//			padding-right: 0;
//			padding-left: 0;
//		}
//
//		&-xs-10 {
//			padding-right: 10px;
//			padding-left: 10px;
//		}
//
//		&-xs-20 {
//			padding-right: 20px;
//			padding-left: 20px;
//		}
//
//		&-xs-30 {
//			padding-right: 30px;
//			padding-left: 30px;
//		}
//
//		&-xs-40 {
//			padding-right: 40px;
//			padding-left: 40px;
//		}
//
//		&-xs-50 {
//			padding-right: 50px;
//			padding-left: 50px;
//		}
//
//		&-xs-80 {
//			padding-right: 80px;
//			padding-left: 80px;
//		}
//
//		&-xs-100 {
//			padding-right: 100px;
//			padding-left: 100px;
//		}
//	}
//}
//
//// ==> padding-top && padding-bottom
//.py {
//	&-0 {
//		padding-top: 0;
//		padding-bottom: 0;
//	}
//
//	&-10 {
//		padding-top: 10px;
//		padding-bottom: 10px;
//	}
//
//	&-20 {
//		padding-top: 20px;
//		padding-bottom: 20px;
//	}
//
//	&-30 {
//		padding-top: 30px;
//		padding-bottom: 30px;
//	}
//
//	&-40 {
//		padding-top: 40px;
//		padding-bottom: 40px;
//	}
//
//	&-50 {
//		padding-top: 50px;
//		padding-bottom: 50px;
//	}
//
//	&-60 {
//		padding-top: 50px;
//		padding-bottom: 50px;
//	}
//
//	&-80 {
//		padding-top: 80px;
//		padding-bottom: 80px;
//	}
//
//	&-100 {
//		padding-top: 100px;
//		padding-bottom: 100px;
//	}
//
//	// для медиазапроса LG
//	@include to-lg {
//		&-lg-0 {
//			padding-top: 0;
//			padding-bottom: 0;
//		}
//
//		&-lg-10 {
//			padding-top: 10px;
//			padding-bottom: 10px;
//		}
//
//		&-lg-20 {
//			padding-top: 20px;
//			padding-bottom: 20px;
//		}
//
//		&-lg-30 {
//			padding-top: 30px;
//			padding-bottom: 30px;
//		}
//
//		&-lg-40 {
//			padding-top: 40px;
//			padding-bottom: 40px;
//		}
//
//		&-lg-50 {
//			padding-top: 50px;
//			padding-bottom: 50px;
//		}
//
//		&-lg-80 {
//			padding-top: 80px;
//			padding-bottom: 80px;
//		}
//
//		&-lg-100 {
//			padding-top: 100px;
//			padding-bottom: 100px;
//		}
//	}
//
//	// для медиазапроса SM
//	@include to-sm {
//		&-sm-0 {
//			padding-top: 0;
//			padding-bottom: 0;
//		}
//
//		&-sm-10 {
//			padding-top: 10px;
//			padding-bottom: 10px;
//		}
//
//		&-sm-20 {
//			padding-top: 20px;
//			padding-bottom: 20px;
//		}
//
//		&-sm-30 {
//			padding-top: 30px;
//			padding-bottom: 30px;
//		}
//
//		&-sm-40 {
//			padding-top: 40px;
//			padding-bottom: 40px;
//		}
//
//		&-sm-50 {
//			padding-top: 50px;
//			padding-bottom: 50px;
//		}
//
//		&-sm-80 {
//			padding-top: 80px;
//			padding-bottom: 80px;
//		}
//
//		&-sm-100 {
//			padding-top: 100px;
//			padding-bottom: 100px;
//		}
//	}
//
//	// для медиазапроса XS
//	@include to-xs {
//		&-xs-0 {
//			padding-top: 0;
//			padding-bottom: 0;
//		}
//
//		&-xs-10 {
//			padding-top: 10px;
//			padding-bottom: 10px;
//		}
//
//		&-xs-20 {
//			padding-top: 20px;
//			padding-bottom: 20px;
//		}
//
//		&-xs-30 {
//			padding-top: 30px;
//			padding-bottom: 30px;
//		}
//
//		&-xs-40 {
//			padding-top: 40px;
//			padding-bottom: 40px;
//		}
//
//		&-xs-50 {
//			padding-top: 50px;
//			padding-bottom: 50px;
//		}
//
//		&-xs-80 {
//			padding-top: 80px;
//			padding-bottom: 80px;
//		}
//
//		&-xs-100 {
//			padding-top: 100px;
//			padding-bottom: 100px;
//		}
//	}
//}

//// *** СТИЛИ ТИПА ОТОБРАЖЕНИЯ ЭЛЕМЕНТОВ ***
//.d {
//	// ==> display-block
//	&-block {
//		display: block;
//	}
//
//	&-lg-block {
//		@include to-lg {
//			display: block;
//		}
//	}
//
//	&-xs-block {
//		@include to-xs {
//			display: block;
//		}
//	}
//
//	// ==> display-flex
//	&-flex {
//		display: flex;
//	}
//
//	&-lg-flex {
//		@include to-lg {
//			display: flex;
//		}
//	}
//
//	&-xs-flex {
//		@include to-xs {
//			display: flex;
//		}
//	}
//
//	// ==> display-grid
//	&-grid {
//		display: grid;
//	}
//
//	&-lg-grid {
//		@include to-lg {
//			display: grid;
//		}
//	}
//
//	&-xs-grid {
//		@include to-xs {
//			display: grid;
//		}
//	}
//
//	// ==> display-none
//	&-none {
//		display: none;
//	}
//
//	&-lg-none {
//		@include to-lg {
//			display: none;
//		}
//	}
//
//	&-xs-none {
//		@include to-xs {
//			display: none;
//		}
//	}
//}
//
//// *** СТИЛИ УПРАВЛЕНИЯ FLEX КОНТЕЙНЕРАМИ ***
//.flex {
//	// ==> flex-direction-row
//	&-row {
//		flex-direction: row;
//	}
//
//	&-lg-row {
//		@include to-lg {
//			flex-direction: row;
//		}
//	}
//
//	&-xs-row {
//		@include to-xs {
//			flex-direction: row;
//		}
//	}
//
//	// ==> flex-direction-column
//	&-column {
//		flex-direction: column;
//	}
//
//	&-lg-column {
//		@include to-lg {
//			flex-direction: column;
//		}
//	}
//
//	&-xs-column {
//		@include to-xs {
//			flex-direction: column;
//		}
//	}
//
//	// ==> flex-direction-row-reverse
//	&-row-reverse {
//		flex-direction: row-reverse;
//	}
//
//	&-lg-row-reverse {
//		@include to-lg {
//			flex-direction: row-reverse;
//		}
//	}
//
//	&-xs-row-reverse {
//		@include to-xs {
//			flex-direction: row-reverse;
//		}
//	}
//
//	// ==> flex-direction-column-reverse
//	&-column-reverse {
//		flex-direction: column-reverse;
//	}
//
//	&-lg-column-reverse {
//		@include to-lg {
//			flex-direction: column-reverse;
//		}
//	}
//
//	&-xs-column-reverse {
//		@include to-xs {
//			flex-direction: column-reverse;
//		}
//	}
//
//	// ==> flex-direction-wrap
//	&-wrap {
//		flex-wrap: wrap;
//	}
//
//	&-lg-wrap {
//		@include to-lg {
//			flex-wrap: wrap;
//		}
//	}
//
//	&-xs-wrap {
//		@include to-xs {
//			flex-wrap: wrap;
//		}
//	}
//
//	// ==> flex-direction-nowrap
//	&-nowrap {
//		flex-wrap: nowrap;
//	}
//
//	&-lg-nowrap {
//		@include to-lg {
//			flex-wrap: nowrap;
//		}
//	}
//
//	&-xs-nowrap {
//		@include to-xs {
//			flex-wrap: nowrap;
//		}
//	}
//
//	// ==> flex-direction-wrap-reverse
//	&-wrap-reverse {
//		flex-wrap: wrap-reverse;
//	}
//
//	&-lg-wrap-reverse {
//		@include to-lg {
//			flex-wrap: wrap-reverse;
//		}
//	}
//
//	&-xs-wrap-reverse {
//		@include to-xs {
//			flex-wrap: wrap-reverse;
//		}
//	}
//}

// *** СТИЛИ ВЫРАВНИВАНИЯ СЕТКИ ***
// ==> justify-content
.justify-content {
	&-start {
		justify-content: flex-start;
	}

	&-end {
		justify-content: flex-end;
	}

	&-center {
		justify-content: center;
	}

	&-between {
		justify-content: space-between;
	}

	&-around {
		justify-content: space-around;
	}

	// для медиазапросов
	@each $key, $value in $breakpoints {
		@if $key != 'xl' {
			@include media($key) {
				&-#{classMedia($key)}-start {
					justify-content: flex-start;
				}

				&-#{classMedia($key)}-end {
					justify-content: flex-end;
				}

				&-#{classMedia($key)}-center {
					justify-content: center;
				}

				&-#{classMedia($key)}-between {
					justify-content: space-between;
				}

				&-#{classMedia($key)}-around {
					justify-content: space-around;
				}
			}
		}
	}
}

// ==> align-items
.align-items {
	&-start {
		align-items: flex-start;
	}

	&-end {
		align-items: flex-end;
	}

	&-center {
		align-items: center;
	}

	&-baseline {
		align-items: baseline;
	}

	&-stretch {
		align-items: stretch;
	}

	// для медиазапросов
	@each $key, $value in $breakpoints {
		@if $key != 'xl' {
			@include media($key) {
				&-#{classMedia($key)}-start {
					align-items: flex-start;
				}

				&-#{classMedia($key)}-end {
					align-items: flex-end;
				}

				&-#{classMedia($key)}-center {
					align-items: center;
				}

				&-#{classMedia($key)}-baseline {
					align-items: baseline;
				}

				&-#{classMedia($key)}-stretch {
					align-items: stretch;
				}
			}
		}
	}
}

//
//// ==> align-content
//.align-content {
//	&-content-start {
//		align-content: flex-start;
//	}
//
//	&-end {
//		align-content: flex-end;
//	}
//
//	&-center {
//		align-content: center;
//	}
//
//	&-between {
//		align-content: space-between;
//	}
//
//	&-around {
//		align-content: space-around;
//	}
//
//	&-stretch {
//		align-content: stretch;
//	}
//
//	// для медиазапроса LG
//	@include to-lg {
//		&-lg-content-start {
//			align-content: flex-start;
//		}
//
//		&-lg-end {
//			align-content: flex-end;
//		}
//
//		&-lg-center {
//			align-content: center;
//		}
//
//		&-lg-between {
//			align-content: space-between;
//		}
//
//		&-lg-around {
//			align-content: space-around;
//		}
//
//		&-lg-stretch {
//			align-content: stretch;
//		}
//	}
//
//	// для медиазапроса XS
//	@include to-xs {
//		&-xs-content-start {
//			align-content: flex-start;
//		}
//
//		&-xs-end {
//			align-content: flex-end;
//		}
//
//		&-xs-center {
//			align-content: center;
//		}
//
//		&-xs-between {
//			align-content: space-between;
//		}
//
//		&-xs-around {
//			align-content: space-around;
//		}
//
//		&-xs-stretch {
//			align-content: stretch;
//		}
//	}
//}
//
//// ==> align-self
//.align-self {
//	&-auto {
//		align-self: auto;
//	}
//
//	&-start {
//		align-self: flex-start;
//	}
//
//	&-end {
//		align-self: flex-end;
//	}
//
//	&-center {
//		align-self: center;
//	}
//
//	&-baseline {
//		align-self: baseline;
//	}
//
//	&-stretch {
//		align-self: stretch;
//	}
//
//	// для медиазапроса LG
//	@include to-lg {
//		&-lg-auto {
//			align-self: auto;
//		}
//
//		&-lg-start {
//			align-self: flex-start;
//		}
//
//		&-lg-end {
//			align-self: flex-end;
//		}
//
//		&-lg-center {
//			align-self: center;
//		}
//
//		&-lg-baseline {
//			align-self: baseline;
//		}
//
//		&-lg-stretch {
//			align-self: stretch;
//		}
//	}
//
//	// для медиазапроса XS
//	@include to-xs {
//		&-xs-auto {
//			align-self: auto;
//		}
//
//		&-xs-start {
//			align-self: flex-start;
//		}
//
//		&-xs-end {
//			align-self: flex-end;
//		}
//
//		&-xs-center {
//			align-self: center;
//		}
//
//		&-xs-baseline {
//			align-self: baseline;
//		}
//
//		&-xs-stretch {
//			align-self: stretch;
//		}
//	}
//}
//
//// ==> order (изменение порядка колонок)
//.order {
//	&-first {
//		order: -1;
//	}
//
//	&-last {
//		order: 13;
//	}
//
//	&-0 {
//		order: 0;
//	}
//
//	&-1 {
//		order: 1;
//	}
//
//	&-2 {
//		order: 2;
//	}
//
//	&-3 {
//		order: 3;
//	}
//
//	&-4 {
//		order: 4;
//	}
//
//	&-5 {
//		order: 5;
//	}
//
//	&-6 {
//		order: 6;
//	}
//
//	&-7 {
//		order: 7;
//	}
//
//	&-8 {
//		order: 8;
//	}
//
//	&-9 {
//		order: 9;
//	}
//
//	&-10 {
//		order: 10;
//	}
//
//	&-11 {
//		order: 11;
//	}
//
//	&-12 {
//		order: 12;
//	}
//}
//
//// отмена отступов у колонок (вешается на row)
//.no-gutters {
//	margin-right: 0;
//	margin-left: 0;
//}
//
//.no-gutters > .col,
//.no-gutters > [class*="col-"] {
//	padding-right: 0;
//	padding-left: 0;
//}
//
//.z-index-1 {
//	z-index: 1;
//}
