mixin section-privacy-policy(section)
	//- проверка данных получаемых из section
	include ../../shared/helpers/pug/shortcut-check-store

	//- верстка секции
	+BlockLayout({bem: {classSection: 'section-privacy-policy'}})
		+BlockLayoutLeft
			+Tabs(S_ELEM('Tabs'))
				+e('content', {p: 'tabs', b: 'js-active'}, 'div')(data-tab-content='1')
					+e('title-inner', {}, 'div')
						+Text(S_ELEM('TextTitle'))
						+e('line-big', {}, 'div')
					+e('title-content', {}, 'h3') Арматура А240/А-I – гладкая арматура, относится к классу А-I
					+e('text-content', {}, 'p') представляет собой металлический профиль, для изготовления которого используется легированная сталь с пониженным количеством углерода. Это единственная разновидность арматуры, которая не имеет рифления. Арматура А240 трактуется так: А - обозначает горячекатаный прокат, 240 – указывает на предел текучести металла и составляет 240 Н/мм2. Производится такая арматура методом горячей прокатки с дополнительным низкотемпературным отпуском, и именно благодаря этому достигается красивая ровная гладкая поверхность. Готовая арматура должна быть ровной, гладкой, без трещин и пятен, с правильной геометрией, не должно быть сколов и ржавчины.
						|	Гладкая арматура часто используют в качестве соединительных прутов для вязки каркаса, удерживая основные стержни в нужных местах. В качестве такого дополнительного компонента ее используют во многих типах сооружений, в том числе подземных и водных. Арматура А240 обладает рядом преимуществ: надежность, особенности производства позволяют использовать ее для создания сложных конструкций, расположенных на наиболее ответственных участках, устойчивость к любым видам коррозии, устойчивость перед воздействием химических и биологических факторов, отличная гибкость, твердость и высокий уровень прочности, доступная стоимость и довольно широкий ассортимент.
						|	Реализуется металлическая арматура либо в мотках, либо пачками в виде прутков.
				+e('content', {p: 'tabs'}, 'div')(data-tab-content='2')
					+e('title-inner', {}, 'div')
						+Text(S_ELEM('TextTitle2'))
						+e('line-big', {}, 'div')
					+e('title-content', {}, 'h3') Арматура А240/А-II – круглая арматура, относится к классу А-II
					+e('text-content', {}, 'p') представляет собой металлический профиль, для изготовления которого используется легированная сталь с пониженным количеством углерода. Это единственная разновидность арматуры, которая не имеет рифления. Арматура А240 трактуется так: А - обозначает горячекатаный прокат, 240 – указывает на предел текучести металла и составляет 240 Н/мм2. Производится такая арматура методом горячей прокатки с дополнительным низкотемпературным отпуском, и именно благодаря этому достигается красивая ровная гладкая поверхность. Готовая арматура должна быть ровной, гладкой, без трещин и пятен, с правильной геометрией, не должно быть сколов и ржавчины.
						|  Гладкая арматура часто используют в качестве соединительных прутов для вязки каркаса, удерживая основные стержни в нужных местах. В качестве такого дополнительного компонента ее используют во многих типах сооружений, в том числе подземных и водных. Арматура А240 обладает рядом преимуществ: надежность, особенности производства позволяют использовать ее для создания сложных конструкций, расположенных на наиболее ответственных участках, устойчивость к любым видам коррозии, устойчивость перед воздействием химических и биологических факторов, отличная гибкость, твердость и высокий уровень прочности, доступная стоимость и довольно широкий ассортимент.
						|  Реализуется металлическая арматура либо в мотках, либо пачками в виде прутков.
				+e('content', {p: 'tabs'}, 'div')(data-tab-content='3')
					+e('title-inner', {}, 'div')
						+Text(S_ELEM('TextTitle3'))
						+e('line-big', {}, 'div')
					+e('title-content', {}, 'h3') Арматура А240/А-III – квадратная арматура, относится к классу А-III
					+e('text-content', {}, 'p') представляет собой металлический профиль, для изготовления которого используется легированная сталь с пониженным количеством углерода. Это единственная разновидность арматуры, которая не имеет рифления. Арматура А240 трактуется так: А - обозначает горячекатаный прокат, 240 – указывает на предел текучести металла и составляет 240 Н/мм2. Производится такая арматура методом горячей прокатки с дополнительным низкотемпературным отпуском, и именно благодаря этому достигается красивая ровная гладкая поверхность. Готовая арматура должна быть ровной, гладкой, без трещин и пятен, с правильной геометрией, не должно быть сколов и ржавчины.
						|  Гладкая арматура часто используют в качестве соединительных прутов для вязки каркаса, удерживая основные стержни в нужных местах. В качестве такого дополнительного компонента ее используют во многих типах сооружений, в том числе подземных и водных. Арматура А240 обладает рядом преимуществ: надежность, особенности производства позволяют использовать ее для создания сложных конструкций, расположенных на наиболее ответственных участках, устойчивость к любым видам коррозии, устойчивость перед воздействием химических и биологических факторов, отличная гибкость, твердость и высокий уровень прочности, доступная стоимость и довольно широкий ассортимент.
						|  Реализуется металлическая арматура либо в мотках, либо пачками в виде прутков.
				+e('content', {p: 'tabs'}, 'div')(data-tab-content='4')
					+e('title-inner', {}, 'div')
						+Text(S_ELEM('TextTitle4'))
						+e('line-big', {}, 'div')
					+e('title-content', {}, 'h3') Труба А240/В-I – квадратная арматура, относится к классу В-I
					+e('text-content', {}, 'p') представляет собой металлический профиль, для изготовления которого используется легированная сталь с пониженным количеством углерода. Это единственная разновидность арматуры, которая не имеет рифления. Арматура А240 трактуется так: А - обозначает горячекатаный прокат, 240 – указывает на предел текучести металла и составляет 240 Н/мм2. Производится такая арматура методом горячей прокатки с дополнительным низкотемпературным отпуском, и именно благодаря этому достигается красивая ровная гладкая поверхность. Готовая арматура должна быть ровной, гладкой, без трещин и пятен, с правильной геометрией, не должно быть сколов и ржавчины.
						|  Гладкая арматура часто используют в качестве соединительных прутов для вязки каркаса, удерживая основные стержни в нужных местах. В качестве такого дополнительного компонента ее используют во многих типах сооружений, в том числе подземных и водных. Арматура А240 обладает рядом преимуществ: надежность, особенности производства позволяют использовать ее для создания сложных конструкций, расположенных на наиболее ответственных участках, устойчивость к любым видам коррозии, устойчивость перед воздействием химических и биологических факторов, отличная гибкость, твердость и высокий уровень прочности, доступная стоимость и довольно широкий ассортимент.
				+e('content', {p: 'tabs'}, 'div')(data-tab-content='5')
					+e('title-inner', {}, 'div')
						+Text(S_ELEM('TextTitle5'))
						+e('line-big', {}, 'div')
					+e('title-content', {}, 'h3') Труба А240/В-II – квадратная арматура, относится к классу В-II
					+e('text-content', {}, 'p') представляет собой металлический профиль, для изготовления которого используется легированная сталь с пониженным количеством углерода. Это единственная разновидность арматуры, которая не имеет рифления. Арматура А240 трактуется так: А - обозначает горячекатаный прокат, 240 – указывает на предел текучести металла и составляет 240 Н/мм2. Производится такая арматура методом горячей прокатки с дополнительным низкотемпературным отпуском, и именно благодаря этому достигается красивая ровная гладкая поверхность. Готовая арматура должна быть ровной, гладкой, без трещин и пятен, с правильной геометрией, не должно быть сколов и ржавчины.
						|  Гладкая арматура часто используют в качестве соединительных прутов для вязки каркаса, удерживая основные стержни в нужных местах. В качестве
			+e('line', {}, 'hr')
			+e('footer', {}, 'div')
				+e('qr', {}, 'img')(src=`${pathFile}${S_DATA('qr')}`)
				for item in S_ELEM_ARR('ContactInformationFooter')
					+ContactInformationFooter(item)
