extends ../../layout/main

append variables
	+includeComponents(['BlockLayout', 'ContactInformationFooter', 'Accordion', 'AccordionList', 'TableProductRow', 'Pagination', 'ProductItem', 'ProductItemDetails', 'Popup', 'Select', 'Tabs', 'ProductSlider', 'CalculationOrder'])

block store
	include store/privacy-policy.store.pug

append head
	title Информация о продукте

block main

	//- подключение и вызов секции SECTION-BREADCRUMBS
	include ../../sections/section-breadcrumbs/section-breadcrumbs
	+section-breadcrumbs(privacyPolicy.sectionBreadcrumbs)

	//- подключение и вызов секции SECTION-PRODUCT-DETAILS
	include ../../sections/section-product-details/section-product-details
	+section-product-details(privacyPolicy.sectionProductDetails)

	//- подключение и вызов секции SECTION-CATALOG
	include ../../sections/section-catalog/section-catalog
	+section-catalog(privacyPolicy.sectionCatalog)
