mixin header(section)
	//- проверка данных получаемых из section
	include ../../shared/helpers/pug/shortcut-check-store

	//- верстка секции
	+b('header', {}, 'header')
		+e('heading', {}, 'h1') #{S_DATA('text')}

		img(src=`${pathFile}${S_DATA('logo')}` alt='fdfd')
		p test
