mixin header(section)
	//- проверка данных получаемых из section
	include ../../shared/helpers/pug/shortcut-check-store

	//- верстка секции
	+b('header', {}, 'header')
		+Row(S_ELEM('Row'))
			+e('logo', {}, 'img')(src=`${pathFile}${S_DATA('logo')}` alt='логотип metaloteka')
			for item in S_ELEM_ARR('ContactHeader')
				+ContactHeader(item)

			+e('', {}, 'div')
				span 245 т
				+Text({data: {text: 'отгружено за неделю'}})

		+Row
			for item in S_DATA_ARR('key1')
				//- проверка данных получаемых из section
				include ../../shared/helpers/pug/shortcut-check-store
				p #{I_DATA('text')}

			p Российский металлопрокат
		+Row
			nav Ссылки
		+Row
			p Поиск
