.header {
	$self: &;

	padding-top: 0;

	&__connection {
		display: contents;
	}

	&__line {
		display: block;
		order: 3;

		width: calc(100% + 46px);
		height: 2px;
		margin: 0 -25px;

		background-color: rgba($color: #ffffff, $alpha: 0.21);

		&:nth-child(1) {
			order: 5;
		}
	}

	&__logo {
		order: 4;

		padding:33px;
	}

	&__shipped {
		display: none;
	}

	&__wrap-basket {
		margin-left: 28px;
		padding: 50px 27px 30px;

		border-bottom: none;
	}

	&__basket {
		position: relative;

		cursor: pointer;

		border: none;
		background: inherit;

		&_full {
			#{$self}__basket-icon {
				--white: #ffffff;
				color: $white;
			}
		}
	}

	&__basket-num {
		position: absolute;
		top: -10px;
		right: -5px;

		display: flex;
		align-items: center;
		justify-content: center;

		width: 44px;
		height: 44px;

		color: $white;
		border-radius: 50%;
		background: linear-gradient(45deg, #b66060 0%, #ce7f65);

		font-size: $fs-big;
		font-weight: 900;
		line-height: 1;
	}

	&__basket-icon {
		--white: #ffffff9f;
		color: $white;
	}

	&__nav {
		display: none;
	}

	&__nav-link {
		display: flex;
	}

	&__link {
		margin-right: 30px;

		text-decoration: none;

		font-size: 18px;
		line-height: 1.11;
	}

	&__date {
		display: flex;
		column-gap: 5px;
	}

	&__name {
		font-size: 18px;
		line-height: 1.11;
	}

	&__exit {
		text-decoration: none;

		font-size: 18px;
		font-weight: bold;
		line-height: 1.11;
	}

	&__catalog {
		display: none;
	}

	&__right {
		display: none;
	}

	@include media('xs') {
		padding-top: 35px;

		&__connection {
			display: flex;
			flex-wrap: wrap;

			padding-bottom: 25px;

			border-bottom: 2px solid rgba($color: #ffffff, $alpha: 0.21);
		}

		&__line {
			display: none;
		}

		&__logo {
			order: 0;

			padding: 0;
		}

		&__wrap-basket {
			padding: 10px 27px 30px;

			border-bottom: 2px solid rgba($color: #ffffff, $alpha: 0.21);
		}

		&__shipped {
			display: block;

			padding-bottom: 28px;

			border-bottom: 2px solid rgba($color: #ffffff, $alpha: 0.21);
		}

		&__number-shipped {
			font-size: $fs-title2;
			font-weight: 900;
			line-height: 0.89;
		}

		&__divider-shipped {
			height: 8px;
			margin-block: 5px;

			background: $red-gradient;
		}

		&__nav {
			display: block;

			padding-top: 32px;
			padding-bottom: 40px;
		}

		&__nav-link {
			display: flex;
			flex-wrap: wrap;
		}

		&__catalog {
			display: flex;
			align-items: center;
			justify-content: center;

			width: 100%;
			max-width: 300px;
			height: 85px;

			cursor: pointer;

			color:$wet-asphalt;
			border: none;
			border-radius: 10px;
			background-color: $white;

			&:hover {
				--white: #ffffffcc;
				background-color: $white;
			}

			&.notEvents {
				pointer-events: none;
			}
		}

		&__right {
			display: flex;

			width: 100%;
			max-width: 1035px;
			height: 85px;
		}

		&__search {
			display: flex;
			align-items: center;
			justify-content: center;

			width: 100%;
			max-width: 860px;
			height: 100%;
			padding-left: 50px;

			border: none;
			border-radius: 10px 0 0 10px;
			outline: none;
			background-color: #ffffff;

			font-size: 24px;
			font-weight: 300;
			line-height: 1.08;
		}

		&__button-search {
			width: 175px;
			height: 100%;

			color:$wet-asphalt;
			border: none;
			border-radius: 0 10px 10px 0;
			background-color: #ffffff;

			&:hover {
				cursor: pointer;
			}
		}
	}
}
