mixin includeComponents(components)
	for component in components
		case component
			when 'ContactHeader'
				include ContactHeader/ContactHeader
		case component
			when 'ContactFooter'
				include ContactFooter/ContactFooter
		case component
			when 'ContactInformation'
				include ContactInformation/ContactInformation
		case component
			when 'ContactInformationFooter'
				include ContactInformationFooter/ContactInformationFooter
		case component
			when 'Card'
				include Card/Card
