mixin includeComponents(components)
	for component in components
		case component
			when 'ContactHeader'
				include ContactHeader/ContactHeader
		case component
			when 'ContactInformation'
				include ContactInformation/ContactInformation
		case component
			when 'ContactInformationFooter'
				include ContactInformationFooter/ContactInformationFooter
