mixin includeComponents(components)
	for component in components
		case component
			when 'ContactHeader'
				include ContactHeader/ContactHeader
		case component
			when 'ContactHeaderWarning'
				include ContactHeaderWarning/ContactHeaderWarning
		case component
			when 'ContactInformation'
				include ContactInformation/ContactInformation
		case component
			when 'ContactInformationFooter'
				include ContactInformationFooter/ContactInformationFooter
		case component
			when 'ProductList'
				include ProductList/ProductList
		case component
			when 'Tabs'
				include Tabs/Tabs
		case component
			when 'Card'
				include Card/Card
		case component
			when 'BlockLayout'
				include BlockLayout/BlockLayout
		case component
			when 'Accordion'
				include Accordion/Accordion
		case component
			when 'Slider'
				include Slider/Slider
		case component
			when 'Popup'
				include Popup/Popup
