mixin includeComponents(components)
	for component in components
		case component
			when 'ContactHeader'
				include ContactHeader/ContactHeader
		case component
			when 'ContactHeaderWarning'
				include ContactHeaderWarning/ContactHeaderWarning
		case component
			when 'ContactInformation'
				include ContactInformation/ContactInformation
		case component
			when 'ContactInformationFooter'
				include ContactInformationFooter/ContactInformationFooter
		case component
			when 'Tabs'
				include Tabs/Tabs
		case component
			when 'Card'
				include Card/Card
		case component
			when 'Popup'
				include Popup/Popup
