mixin includeComponents(components)
	for component in components
		case component
			when 'ContactHeader'
				include ContactHeader/ContactHeader
		case component
			when 'ContactInformation'
				include contactInformation/contactInformation
