-
	//- проверка данных получаемых из props миксинов
	let callShortcutCheckStore = shortcutCheckStore(props);
	let DATA = callShortcutCheckStore.DATA;
	let BEM = callShortcutCheckStore.BEM;
	let OPT = callShortcutCheckStore.OPT;
	let ELEM = callShortcutCheckStore.ELEM;
	let ARR = callShortcutCheckStore.ARR;
