// Функция для медиазапроса - "within"
@function getPreviousSize($currentSize) {
	$keys: map-keys($breakpoints);
	$index: index($keys, $currentSize) - 1;
	$value: map-values($breakpoints);
	@return nth($value, $index);
}

// Функция для Container
@function container-width($media) {
	@each $breakpoint, $value in $container {
		@if $media == $breakpoint {
			@return $value + px;
		}
	}
}

// Для хелперов. Подставляет название медиазапроса.
@function classMedia($nameKey) {
	$keys: map-keys($breakpoints);
	$index: index($keys, $nameKey) + 1;

	@if $index <= length($keys) {
		@return "#{nth($keys, $index)}";
	}
}
