// *** CSS ПЕРЕМЕННЫЕ ***
:root {
	// +++ color standard +++ //
	// Пременную '--white' цвета можно переопределить следующими цветами:
	// - #ffffff36 - белый с опасити 0.21
	// - #ffffff9f - белый с опасити 0.62
	// - #ffffffcc - белый с опасити 0.85
	// - #fcfcfc - темновато белый
	// - #f4f2f2 - дымчато белый №1
	// - #efefef - дымчато белый №2
	// - #f8f7f7 - дымчато белый №3
	--white: #ffffff;
	// <END

	--dark-white: #fcfcfc;
	--smoke-white-first: #f4f2f2;
	--smoke-white-second: #efefef;

	// Пременную '--wet-asphalt' цвета можно переопределить следующими цветами:
	// - #46464692 - мокрый освальт с опасити 0.57
	// - #464646b3 - мокрый освальт с опасити 0.70
	// - #464646cc - мокрый освальт с опасити 0.80
	// - #464646c6 - мокрый освальт с опасити 0.78
	--wet-asphalt: #464646;
	// <END

	--chestnut: #bf6c62;
	--light-gray: #bbbbbb;
	--gainsborough: #e4e1e1;
	--liverny-light: #5f575f;
	--liverny-dark: #4d484d;
	--transparent: transparent;
	--light-slate-gray: #638490;

	// +++ color gradient +++ //
	--blue-gradient: linear-gradient(225deg, #678c92, #586e8b);
	--violet-gradient: linear-gradient(225deg, #6a6781, #8a8898);
	--red-gradient: linear-gradient(315deg, #ce7f65, #b66060);
	--turquoise-blue-gradient: linear-gradient(225deg, #588b75, #5d6c77);
	--gray-gradient: linear-gradient(171deg, #636267 0%, #47474b 100%), linear-gradient(351deg, #504750 100%, #5f575f 0%);

	// +++ font-family +++ //
	--font-default: 'BlissPro', 'sans-serif';

	// +++ font-size +++ //
	--fs-default: 1.4rem;
	--fs-small: 1.2rem;
	--fs-big: 1.6rem;
	--fs-title5: 3rem;
	--fs-title4: 3.8rem;
	--fs-title3: 4.6rem;
	--fs-title2: 5.4rem;
	--fs-title1: 7.2rem;
	--fs-10: 1rem;
	--fs-18: 1.8rem;
	--fs-20: 2rem;
	--fs-22: 2.2rem;
	--fs-24: 2.4rem;
	--fs-26: 2.6rem;
	--fs-28: 2.8rem;
	--fs-32: 3.2rem;
	--fs-36: 3.6rem;
	--fs-40: 4rem;
	--fs-50: 5rem;

	// TODO: в будущем понять актуальность в stylelint после 0 пикселей
	--column-gap: 0px; /* stylelint-disable-line length-zero-no-unit */
}

// *** SCSS ПЕРЕМЕННЫЕ ***
$column-gap: var(--column-gap, 0);

// +++ color standard +++ //
$white: var(--white);
$wet-asphalt: var(--wet-asphalt);
$chestnut: var(--chestnut);
$gainsborough: var(--gainsborough);
$liverny-light: var(--liverny-light);
$liverny-dark: var(--liverny-dark);
$transparent: var(--transparent);
$light-slate-gray: var(--light-slate-gray);
$light-gray: var(--light-gray);

// +++ color gradient +++ //
$blue-gradient: var(--blue-gradient);
$violet-gradient: var(--violet-gradient);
$red-gradient: var(--red-gradient);
$turquoise-blue-gradient: var(--turquoise-blue-gradient);
$gray-gradient: var(--gray-gradient);

// +++ font-family +++ //
$font-default: var(--font-default);

// +++ font-size +++ //
$fs-default: var(--fs-default);
$fs-small: var(--fs-small);
$fs-big: var(--fs-big);
$fs-title5: var(--fs-title5);
$fs-title4: var(--fs-title4);
$fs-title3: var(--fs-title3);
$fs-title2: var(--fs-title2);
$fs-title1: var(--fs-title1);
$fs-10: var(--fs-10);
$fs-18: var(--fs-18);
$fs-20: var(--fs-20);
$fs-22: var(--fs-22);
$fs-24: var(--fs-24);
$fs-26: var(--fs-26);
$fs-28: var(--fs-28);
$fs-32: var(--fs-32);
$fs-36: var(--fs-36);
$fs-40: var(--fs-40);
$fs-46: var(--fs-46);
$fs-50: var(--fs-50);
$fs-54: var(--fs-54);
$fs-72: var(--fs-72);

// ===> переменная начала пути к файлам картинки
$path-file: '../layout/assets/images';

// ==> переменные экранов отображения
$breakpoints: (
	xs: 414,
	xl: 1406,
) !default;

$media-direction: 'min' !default;

// ==> переменные для контайнера
$container: (
	xs: 414,
	xl: 1406,
) !default;
