-
	const header = {
		data: {
			logo: '/logo.svg',
			text: 'HEADER TESTING RRRR'
		},
		elem: {
			ContactHeader: {
				elemArr: [
					{
						data: {
							contact: 'г.Москва',
							icon: '/icon-pin-map.svg'
						},
						bem: {
							margin: 'ml-lg-60'
						},
						elem: {
							Text: {
								data: {
									text: 'Регион доставки'
								},
								opt: {
									isElementClass: true
								}
							}
						}
					},
					{
						data: {
							contact: '+7 495 545 64 20',
							href: 'tel:+74955456420'
						},
						bem: {
							margin: 'ml-lg-20'
						},
						opt: {
							link: true
						},
						elem: {
							Text: {
								data: {
									text: 'Телефон клиентской поддержки'
								},
								opt: {
									isElementClass: true
								}
							}
						}
					},
					{
						data: {
							contact: 'info@metaloteka.ru',
							href: 'mailto:info@metaloteka.ru'
						},
						bem: {
							margin: 'ml-lg-20'
						},
						opt: {
							link: true
						},
						elem: {
							Text: {
								data: {
									text: 'Адрес электронной почты'
								},
								opt: {
									isElementClass: true
								}
							}
						}
					}
				]
			},
			RowTop: {
				bem: {
					alignItems: 'align-items-xl-center',
					justify: 'justify-content-between'
				}
			},
			RowBottom: {
				bem: {
					justify: 'justify-content-between',
					customClass: 'noWrap'
				}
			},
			ContactHeaderWarning: {
				elemArr: [
				{
					data: {
						title: 'Российский металлопрокат',
						icon: '/icon-warning.svg',
						warning:'В связи с высокой волатильность\n отпускных цен комбинатов актуальные\n цены на металл уточняйте\n у менеджеров'
					}
				}
			]
			},
		},
		dataArr: {
			key: [
				{
					data: {
						link: 'О компании',
						href: '#'
					}
				},
				{
					data: {
						link: 'Каталог продукции',
						href: '/catalog.html'
					}
				},
				{
					data: {
						link: 'Доставка',
						href: '#'
					}
				},
				{
					data: {
						link: 'Оплата',
						href:'/cart-page.html'
					}
				},
				{
					data: {
						link: 'Госты',
						href: '#'
					}
				},
				{
					data: {
						link: 'Контакты',
						href: '/contacts.html'
					}
				},
			],
		}
	}
