-
	const header = {
		data: {
			logo: '/logo.svg',
			text: 'HEADER TESTING RRRR'
		},
		elem: {
			ContactHeader: {
				arrData: [
					{
						data: {
							contact: 'г. Москва',
							icon: '/icon-pin-map.svg'
						},
						bem: {
							margin: 'ml-xl-60'
						},
						elem: {
							Text: {
								data: {
									text: 'Регион'
								},
								opt: {
									isElementClass: true
								}
							}
						}
					},
					{
						data: {
							contact: '+7 495 545 64 20',
							href: 'tel:+74955456420'
						},
						bem: {
							margin: 'ml-xl-35'
						},
						opt: {
							link: true
						},
						elem: {
							Text: {
								data: {
									text: 'Телефон клиентской поддержки'
								},
								opt: {
									isElementClass: true
								}
							}
						}
					},
					{
						data: {
							contact: 'info@metaloteka.ru',
							href: 'mailto:info@metaloteka.ru'
						},
						bem: {
							margin: 'ml-xl-35'
						},
						opt: {
							link: true
						},
						elem: {
							Text: {
								data: {
									text: 'Адрес электронной почты'
								},
								opt: {
									isElementClass: true
								}
							}
						}
					}
				]
			},
			Row: {
				bem: {
					alignItems: 'align-items-xl-center'
				}
			}
		},
	}
