//- инстанст функции для дробления store на отдельные секции
- let main = addSections();

//- секция HEADER
include main-header
- main.section = 'header';

//- секция FOOTER
include main-footer
- main.section = 'footer';

//- попап POPUP-AUTHORIZATION
include main-popup-authorization
- main.section = 'popupAuthorization';
