-
	const footer = {
		elem: {
			row: {
				data: {},
				bem: { rowCols: 'row-cols-xl-3' },
				opt: {}, elem: {}
			},
			footerMetaloteka: {
				data: {},
				bem: { rowCols: 'footer-metaloteka' },
				opt: {}, elem: {}
			},
			footerClients: {
				data: {},
				bem: { rowCols: 'footer-clients' },
				opt: {}, elem: {}
			},
			footerCatalog: {
				data: {},
				bem: { rowCols: 'footer-catalog' },
				opt: {}, elem: {}
			},
			footerContacts: {
				data: {},
				bem: { rowCols: 'footer-сontacts' },
				opt: {}, elem: {}
			},
			infoMetaloteka: {
				data: {},
				bem: { rowCols: 'info-metaloteka' },
				opt: {}, elem: {}
			},
			privacyPolicy: {
				data: {},
				bem: { rowCols: 'privacy-policy' },
				opt: {}, elem: {}
			},
			blogtest: {
				data: {},
				bem: { rowCols: 'blogtest' },
				opt: {}, elem: {}
			},
			col : {
				data: {},
				bem: { rowCols: 'ert' },
				opt: {}, elem: {}
			}
		},
		"metaloteka": "Металотека",
		"katalog": "Каталог",
		"company": "О компании",
		"catalogProduct": "Каталог продукции",
		"priceList": "Прайс-лист",
		"delivery": "Доставка",
		"payment": "Оплата",
		"сooperation": "Сотрудничество",
		"wholesaleSales": "Оптовые продажи",
		"requisites": "Реквизиты",
		"contacts": "Контакты",
		"sheetMetal": "Листовой прокат",
		"rebarRolling": "Арматурный прокат",
		"hardwareProducts": "Метизная продукция",
		"pipeRolling": "Трубный прокат",
		"stainlessSteel": "Нержавеющая сталь",
		"ferrousMetals": "Цветные металлы",
		"infoMetaloteka": "Metaloteka, 2021. Все ресурсы сайта www.metaloteka.ru, включая (но не ограничиваясь) текстовую, графическую, фотографическую и видео информацию, структуру, дизайн и оформление страниц, товарные знаки, доменное имя, фирменное наименование являются объектами авторского права и прав на интеллектуальную собственность, защищены российским законодательством и международными соглашениями об охране авторских прав и интеллектуальной собственности. Указанные на сайте цены не являются публичной офертой (ст. 435 ГК РФ).ы",
		"мoscow": "Москва",
	}
