//- -
//- 	const contactInformation = {
//- 		sectionContact:{
//- 			elemArr : [
//- 				{
//- 					data: {
//- 						icon: '/icon-pin-map.svg',
//- 						contact: 'г. Москва',
//- 						address: 'Московская обл., \n г.Дзержинский, \n	ул.Алексеевская, д.5А',
//- 						schedule: '9:30-18:00 (пн.-пт.) \n 9:30-15:00 (сб.,вс.)',
//- 						location: 'Территория склада располагается рядом с торговым центро «Триал Маркет». Территория склада располагается рядом с торговым центро «Триал Маркет»',
//- 						},
//- 						data: {
//- 							link: 'На карте',
//- 							href: '#'
//- 						},
//- 						data: {
//- 							phone: '8 (495) 223-11-41',
//- 							href: 'tel:+74952231141'
//- 						},
//- 						data: {
//- 							mail: 'msk@metaloteka.ru',
//- 							href: 'mailto:msk@metaloteka.ru'
//- 						}
							}
//- 				]
//- 			}
//- 		}
