-
	const footer = {
		data: {
			srcLogo: './logo.svg',
			logo: '/logo.svg',
			logoMail: '/logo-mail.svg',
			logoVk: '/logo-vk.svg',
			logoTg: '/logo-tg.svg',
			logoMetalotekafont: '/metaloteka-font-logo.svg',
			subtitle: 'Металлопрокат оптом и в розницу',
			titleCatalog: 'Каталог',
			titleClients: 'Клиентам',
			city: 'Москва',
			address: 'г.Москва, ул.Воскресенская, 84 Бизнес-центр «Чистые пруды»',
			phoneNumber:"+7 495 545 64 20",
			phoneInfo:"Телефон клиентской поддержки",
			mailAddress:"client@metaloteka.ru",
			mailInfo:"Адрес электронной почты",
			whatsappWiber:"Whatsapp | Viber",
			whatsappWiberInfo:"Напишите нам в мессенджер",
			webStudio:"Сайт разработан веб-студией Брэнд Бэйкер",
			privacyPolicy:"Сайт разработан веб-студией Брэнд Бэйкер",
			privacyMap:"Карта сайта",
			infoMetaloteka: "Metaloteka, 2021. Все ресурсы сайта www.metaloteka.ru, включая (но не ограничиваясь) текстовую, графическую, фотографическую и видео информацию, структуру, дизайн и оформление страниц, товарные знаки, доменное имя, фирменное наименование являются объектами авторского права и прав на интеллектуальную собственность, защищены российским законодательством и международными соглашениями об охране авторских прав и интеллектуальной собственности. Указанные на сайте цены не являются публичной офертой (ст. 435 ГК РФ).",
		},
		bem: {
			modFooter: 'ml-xl-60'
		},
		elem: {
			ComponyLeft: {
				arrData: [
					{
						data: {
								text: '1'
						},
						bem:{
							//- lh: 'line-height',
							margin: 'ml-xl-60'
						}
					},
					{

						data: {
								text: '2'
						},
						bem:{
							lh: 'line-height'
						}
					},
					{

						data: {
								text: '3'
						},
						bem:{
							lh: 'line-height'
						}
					}
				]
			},
			ComponyRight: {
				arrData: [
					{
						data: {
								text: '441'
						},
					},
					{
						data: {
							text: 'trt441'
						},
					},
				]
			},
			Row: {
				bem: {
					rowCols: 'row-cols-xl-3 row-cols-2',
					gap: 'rg-20 rg-xl-30'
				}
			},
			RowFooterMetaloteka: {
				rowCols: 'row-cols-xl-3 row-cols-2',
				gap: 'rg-20 rg-xl-30'
			},
			footerClients: {
				data: {},
				bem: { rowCols: 'row-cols-xl-3' },
				opt: {}, elem: {}
			},
			footerCatalog: {
				data: {},
				bem: { rowCols: 'footer-catalog' },
				opt: {}, elem: {}
			},
			footerContacts: {
				data: {},
				bem: { rowCols: 'footer-сontacts' },
				opt: {}, elem: {}
			},
			infoMetaloteka: {
				data: {},
				bem: { rowCols: 'info-metaloteka' },
				opt: {}, elem: {}
			},
			blogtest: {
				data: {},
				bem: { rowCols: 'blogtest' },
				opt: {}, elem: {}
			},
			col : {
				data: {},
				bem: { rowCols: 'ert' },
				opt: {}, elem: {}
			}
		},
		dataArr: {
				catalog: [
					{
						data: {
							text: "Листовой прокат",
							link: 'fdf'
						},
						bem: {
							margin: 'ml-xl-60'
						}
					},
					{
						data: {
							text: "Арматурный прокат"
						}
					},
					{
						data: {
							text: "Метизная продукция"
						}
					},
					{
						data: {
							text: "Трубный прокат"
						}
					},
					{
						data: {
							text: "Нержавеющая сталь"
						}
					},
					{
						data: {
							text: "Цветные металлы"
						}
					},
				],
				clients: [
					{
						data: {
							text: "О компании",
						},
						bem: {

						}
					},
					{
						data: {
							text: "Каталог продукции"
						}
					},
					{
						data: {
							text: "Доставка"
						}
					},
					{
						data: {
							text: "Оплата"
						}
					},
					{
						data: {
							text: "Сотрудничество"
						}
					},
					{
						data: {
							text: "Оптовые продажи"
						}
					},
					{
						data: {
							text: "Реквезиты организации"
						}
					},
					{
						data: {
							text: "Контакты"
						}
					},
				],
				contacts: [
					{
						data: {
							text: "Москва",
						},
						bem: {
							margin: 'ml-xl-60'

						}
					},
					{
						data: {
							text: "г.Москва, ул.Воскресенская, 84 Бизнес-центр «Чистые пруды»"
						}
					},
				],
		},
	}
