-
	const sectionContact = {
		data: {
			textMobile: 'Металотека',
			qr: ''
		},
		elem: {
			Row: {
				bem: {
					gap: 'cg-40 rg-40',
				}
			},
			ContactInformation: {
				elemArr: [
					{
						data: {
							name : 'Москва',
							address: 'Московская обл., \n г.Дзержинский, \n	ул.Алексеевская, д.5А',
							schedule: '9:30-18:00 (пн.-пт.) \n 9:30-15:00 (сб.,вс.)',
							location: 'Территория склада располагается рядом с торговым центро «Триал Маркет». Территория склада располагается рядом с торговым центро «Триал Маркет»',
							mapText: 'На карте',
							mapLink: '#',
						},
						dataArr: {
							telephone: [
								{
									data: {
										text: '8 (495) 223-11-41',
										href: 'tel:+74952231141'
									}
								},
							],
							mail : [
								{
									data: {
										mail: 'msk@metaloteka.ru',
										mailHref: 'mailto:msk@metaloteka.ru'
									}
								}
							]
						},
						opt: {
							city: true,
						}
					},
					{
						data: {
							address: 'г. Москва \n	ул.Алексеевская, д.5А',
							schedule: '9:30-18:00 (пн.-пт.) \n 9:30-15:00 (сб.,вс.)',
							location: 'Территория склада располагается рядом с торговым центро «Триал Маркет»',
							mapText: 'На карте',
							mapLink: '#',
						},
						dataArr: {
							telephone: [
								{
									data: {
										text: '8 (988) 400-20-30',
										href: 'tel:+79884002030'
									}
								},
								{
									data: {
										text: '8 (999) 400-20-30',
										href: 'tel:+79994002030'
									}
								},
							],
							mail : [
								{
									data: {
										mail: 'alekseev.anton@metaloteka.ru',
										mailHref: 'mailto:alekseev.anton@metaloteka.ru'
									}
								}
							]
						},
					},
					{
						data: {
							name:'Краснодар',
							address: 'г. Краснодар \n ул.Алексеевская, д.5А ',
							schedule: '9:30-18:00 (пн.-пт.) \n 9:30-15:00 (сб.,вс.)',
							location: 'Территория склада располагается рядом с торговым центро «Триал Маркет».',
							mapText: 'На карте',
							mapLink: '#',
						},
						dataArr: {
							telephone: [
								{
									data: {
										text: '8 (988) 400-20-30',
										href: 'tel:+79884002030'
									}
								},
								{
									data: {
										text: '8 (999) 400-20-30',
										href: 'tel:+79994002030'
									}
								},
							],
							mail : [
								{
									data: {
										mail: 'alekseev.anton@metaloteka.ru',
										mailHref: 'mailto:alekseev.anton@metaloteka.ru'
									}
								}
							]
						},
						opt: {
							city: true,
						}
					}
				]
			},
			ContactInformationFooter : {
				elemArr: [
					//- {
					//- 	data: {
					//- 		icon: '/icon-qr.svg',
					//- 		name: 'Metaloteka',
					//- 		text: 'Металлопрокат оптом и в розницу',
					//- 		qr: 'QR-код для загрузки реквизитов в мобильное приложение банка',
					//- 		support: 'Телефон клиентской поддержки',
					//- 		orders: 'Онлайн заявки и заказы обрабатываем с 9:00-18:00',
					//- 		answers: 'Напишите нам и мы постараемся ответить на все ваши вопросы'
					//- 	},
					//- 	dataArr: {
					//- 		telephone: [
					//- 			{
					//- 				data: {
					//- 					text: '+7 495 545 64 20',
					//- 					href: 'tel:+74955456420'
					//- 				}
					//- 			},
					//- 		],
					//- 		mail : [
					//- 			{
					//- 				data: {
					//- 					mail: 'msk@metaloteka.ru',
					//- 					mailHref: 'mailto:msk@metaloteka.ru'
					//- 				}
					//- 			}
					//- 		]
					//- 	}
					//- },
					//- {
					//- 	data: {
					//- 	title: 'Metaloteka',
					//- 	subtitle: 'Металлопрокат оптом и в розницу',
					//- 	text: 'QR-код для загрузки реквизитов в мобильное приложение банка',
					//- 	},
					//- 	opt: {
					//- 		title: true,
					//- 	}
					//- },
							{
								data: {
										text: '+7 495 545 64 20',
										href: 'tel:+74955456420',
								},
								dataArr: {
									texts: [
										{
											data: {
												text: 'Телефон клиентской поддержки',
											},
											bem: {
												weihgt: 'bold'
											}
										},
										{
											text: 'Онлайн заявки и заказы обрабатываем с 9:00-18:00',
										}
									]
								}
							},
							{
								data: {
										text: '+7 495 545 64 20',
										href: 'tel:+74955456420',
								},
								opt: {
									link: true
								},
								dataArr: {
									texts: [
										{
											data: {
												text: 'Телефон клиентской поддержки',
											},
											bem: {
												weihgt: 'bold'
											}
										},
										{
											text: 'Онлайн заявки и заказы обрабатываем с 9:00-18:00',
										}
									]
								}
							},
							{
								data: {
									link: {
										text: 'msk@metaloteka.ru',
										href: 'mailto:msk@metaloteka.ru'
									},
									texts: [
										{
											text: 'Напишите нам и мы постараемся ответить на все ваши вопросы',
										}
									]
								}
							}
				]
			}
		},
	};
