-
	const sectionContact = {
		data: {
			textMobile: 'Металотека',
			qr: '/icon-qr.svg'
		},
		elem: {
			Row: {
				bem: {
					gap: 'cg-40 rg-40',
				}
			},
			ContactInformation: {
				elemArr: [
					{
						data: {
							name : 'Москва',
							address: 'Московская обл., \n г.Дзержинский, \n	ул.Алексеевская, д.5А',
							schedule: '9:30-18:00 (пн.-пт.) \n 9:30-15:00 (сб.,вс.)',
							location: 'Территория склада располагается рядом с торговым центро «Триал Маркет». Территория склада располагается рядом с торговым центро «Триал Маркет»',
							mapText: 'На карте',
							mapLink: '#',
						},
						dataArr: {
							telephone: [
								{
									data: {
										text: '8 (495) 223-11-41',
										href: 'tel:+74952231141'
									}
								},
							],
							mail : [
								{
									data: {
										mail: 'msk@metaloteka.ru',
										mailHref: 'mailto:msk@metaloteka.ru'
									}
								}
							]
						},
						opt: {
							contactInformation: true,
						},
						bem: {
							margin: 'mb-50'
						}
					},
					{
						data: {
							address: 'г. Москва \n	ул.Алексеевская, д.5А',
							schedule: '9:30-18:00 (пн.-пт.) \n 9:30-15:00 (сб.,вс.)',
							location: 'Территория склада располагается рядом с торговым центро «Триал Маркет»',
							mapText: 'На карте',
							mapLink: '#',
						},
						dataArr: {
							telephone: [
								{
									data: {
										text: '8 (988) 400-20-30',
										href: 'tel:+79884002030'
									}
								},
								{
									data: {
										text: '8 (999) 400-20-30',
										href: 'tel:+79994002030'
									}
								},
							],
							mail : [
								{
									data: {
										mail: 'alekseev.anton@metaloteka.ru',
										mailHref: 'mailto:alekseev.anton@metaloteka.ru'
									}
								}
							]
						},
						bem: {
							margin: 'mb-40'
						}
					},
					{
						data: {
							name:'Краснодар',
							address: 'г. Краснодар \n ул.Алексеевская, д.5А ',
							schedule: '9:30-18:00 (пн.-пт.) \n 9:30-15:00 (сб.,вс.)',
							location: 'Территория склада располагается рядом с торговым центро «Триал Маркет».',
							mapText: 'На карте',
							mapLink: '#',
						},
						bem: {
										hide: 'hide'
						},
						dataArr: {
							telephone: [
								{
									data: {
										text: '8 (988) 400-20-30',
										href: 'tel:+79884002030'
									}
								},
								{
									data: {
										text: '8 (999) 400-20-30',
										href: 'tel:+79994002030'
									}
								},
							],
							mail : [
								{
									data: {
										mail: 'alekseev.anton@metaloteka.ru',
										mailHref: 'mailto:alekseev.anton@metaloteka.ru'
									}
								}
							]
						},
						opt: {
							contactInformation: true,
						},
						bem: {
							margin: 'mb-65'
						}
					}
				]
			},
			Tabs: {
				dataArr: {
					tabButtons: [
						{
							data: {
								tabButton: 'Самовывоз',
								dataTabButton: '1'
							}
						},
						{
							data: {
								tabButton: 'Оплата и доставка',
								dataTabButton: '2'
							}
						},
						{
							data: {
								tabButton: 'Резерв товара',
								dataTabButton: '3'
							}
						},
						{
							data: {
								tabButton: 'Реквизиты',
								dataTabButton: '4'
							}
						}
					],
					tabContents: [
						{
							data: {
								tabContent: 'Арматура А240/А-I – гладкая арматура, относится к классу А-I, представляет собой металлический профиль, для изготовления которого используется легированная сталь с пониженным количеством углерода. Это единственная разновидность арматуры, которая не имеет рифления. Арматура А240 трактуется так: А - обозначает горячекатаный прокат, 240 – указывает на предел текучести металла и составляет 240 Н/мм2. Производится такая арматура методом горячей прокатки с дополнительным низкотемпературным отпуском, и именно благодаря этому достигается красивая ровная гладкая поверхность. Готовая арматура должна быть ровной, гладкой, без трещин и пятен, с правильной геометрией, не должно быть сколов и ржавчины. \n Арматура А240/А-I – гладкая арматура, относится к классу А-I, представляет собой металлический профиль, для изготовления которого используется легированная сталь с пониженным количеством углерода. Это единственная разновидность арматуры, которая не имеет рифления. Арматура А240 трактуется так: А - обозначает горячекатаный прокат, 240 – указывает на предел текучести металла и составляет 240 Н/мм2. Производится такая арматура методом горячей прокатки с дополнительным низкотемпературным отпуском, и именно благодаря этому достигается красивая ровная гладкая поверхность. Готовая арматура должна быть ровной, гладкой, без трещин и пятен, с правильной геометрией, не должно быть сколов и ржавчины.',
								dataTabContent: '1'
							}
						},
						{
							data: {
								tabContent: 'Арматура А240/А-I – гладкая арматура, относится к классу А-I, представляет собой металлический профиль, для изготовления которого используется легированная сталь с пониженным количеством углерода. Это единственная разновидность арматуры, которая не имеет рифления. Арматура А240 трактуется так: А - обозначает горячекатаный прокат, 240 – указывает на предел текучести металла и составляет 240 Н/мм2. Производится такая арматура методом горячей прокатки с дополнительным низкотемпературным отпуском, и именно благодаря этому достигается красивая ровная гладкая поверхность. Готовая арматура должна быть ровной, гладкой, без трещин и пятен, с правильной геометрией, не должно быть сколов и ржавчины.',
								dataTabContent: '2'
							}
						},
						{
							data: {
								tabContent: 'Арматура А240/А-I – гладкая арматура, относится к классу А-I, представляет собой металлический профиль, для изготовления которого используется легированная сталь с пониженным количеством углерода. Это единственная разновидность арматуры, которая не имеет рифления. Арматура А240 трактуется так: А - обозначает горячекатаный прокат, 240 – указывает на предел текучести металла и составляет 240 Н/мм2. Производится такая арматура методом горячей прокатки с дополнительным низкотемпературным отпуском, и именно благодаря этому достигается красивая ровная гладкая поверхность. Готовая арматура должна быть ровной, гладкой, без трещин и пятен, с правильной геометрией, не должно быть сколов и ржавчины.',
								dataTabContent: '3'
							}
						},
						{
							data: {
								tabContent: 'Арматура А240/А-I – гладкая арматура, относится к классу А-I, представляет собой металлический профиль, для изготовления которого используется легированная сталь с пониженным количеством углерода. Это единственная разновидность арматуры, которая не имеет рифления. Арматура А240 трактуется так: А - обозначает горячекатаный прокат, 240 – указывает на предел текучести металла и составляет 240 Н/мм2. Производится такая арматура методом горячей прокатки с дополнительным низкотемпературным отпуском, и именно благодаря этому достигается красивая ровная гладкая поверхность. Готовая арматура должна быть ровной, гладкой, без трещин и пятен, с правильной геометрией, не должно быть сколов и ржавчины. \n Арматура А240/А-I – гладкая арматура, относится к классу А-I, представляет собой металлический профиль, для изготовления которого используется легированная сталь с пониженным количеством углерода. Это единственная разновидность арматуры, которая не имеет рифления. Арматура А240 трактуется так: А - обозначает горячекатаный прокат, 240 – указывает на предел текучести металла и составляет 240 Н/мм2. Производится такая арматура методом горячей прокатки с дополнительным низкотемпературным отпуском, и именно благодаря этому достигается красивая ровная гладкая поверхность. Готовая арматура должна быть ровной, гладкой, без трещин и пятен, с правильной геометрией, не должно быть сколов и ржавчины.',
								dataTabContent: '4'
							}
						}
					]
				}
			},
			ContactInformationFooter : {
				elemArr: [
					{
						data: {
						title: 'Metaloteka',
						subtitle: 'Металлопрокат оптом и в розницу',
						},
						opt: {
							heading: true,
							subtitle: true
						},
						dataArr: {
							texts: [
								{
									data: {
										text: 'QR-код для загрузки\n реквизитов в мобильное\n приложение банка'
									},
								}
							]
						}
					},
					{
						data: {
								link: '+7 495 545 64 20',
								href: 'tel:+74955456420',
						},
						opt: {
							link: true,
						},
						dataArr: {
							texts: [
								{
									data: {
										text: 'Телефон клиентской\n поддержки',
									},

								},
								{
									data: {
										text: 'Онлайн заявки и заказы обрабатываем с 9:00-18:00',
									},
									bem: {
										weihgt: 'bold'
									}
								}
							]
						}
					},
					{
						data: {
							link: 'info@metaloteka.ru',
							href: 'mailto:info@metaloteka.ru'
						},
						opt: {
							link: true,
						},
						dataArr: {
							texts: [
								{
									data: {
										text: 'Напишите нам\n и мы постараемся ответить на все\n ваши вопросы'
									}
								}
							]
						}
					}
				]
			}
		},
	};
