mixin section-bread-crumbs
	+b('bread-crumbs', {}, 'section')
		+e('inner', {}, 'div')
			+e('link',{}, 'a')(href='/') Главная
			+e('link', {}, 'span') /
			+e('link', {}, 'span') Контакты
		+e('back', {}, 'a')(href='#') Назад
