mixin section-slider
	+b('section-slider', {}, 'section')
		+Container
			+Row
				+Slider
					+e('slides', {b: 'swiper-wrapper'}, 'div')
						+e('slide', {b: 'swiper-slide'}, 'div')
							+e('img', {}, 'img')(src=`${pathFile}/index/index-slide1.webp` alt='слайд1')
						+e('slide', { b: 'swiper-slide' }, 'div')
							+e('img', {}, 'img')(src=`${pathFile}/index/index-slide2.webp` alt='слайд2')
