extends ../../layout/main

block store
	include store/product-details.store.pug

append head
	title Информация о продукте

block main

	//- подключение и вызов секции SECTION-BREADCRUMBS
	include ../../sections/section-breadcrumbs/section-breadcrumbs
	+section-breadcrumbs(productDetails.sectionBreadcrumbs)
