extends ../../layout/main

append variables
	+includeComponents(['ContactInformationFooter', 'Accordion', 'AccordionList', 'TableProductRow', 'Pagination', 'ProductItem', 'ProductItemDetails', 'Popup', 'Select'])

block store
	include store/product-details.store.pug

append head
	title Информация о продукте

block main

	//- подключение и вызов секции SECTION-BREADCRUMBS
	include ../../sections/section-breadcrumbs/section-breadcrumbs
	+section-breadcrumbs(productDetails.sectionBreadcrumbs)

	//- подключение и вызов секции SECTION-CATALOG
	include ../../sections/section-catalog/section-catalog
	+section-catalog(productDetails.sectionCatalog)
