-
	const popupPayment = {
		data: {
			titleOrder: 'Оплата резерва №210522/1-RSRV',
			titleFirm: 'ИП Петров Иван',
			summTotal: 'Итого:',
			sumTotalNumber: '64 000',
			sumTotalRuble: 'р.',
			sumTotalDays: '14 дней',
			sumTotalBold: 'Всего наимнований (1) на сумму 64 000 руб. (в том числе НДС 20%)',
			sumTotalSmall: 'Сто пятьдесят восемь миллионов двести тридцать три тысячи девятьсот сорок четыре руб. 00 копеек',
			sumTotalMini: 'Копия документов на оплату отправлена на вашу электронную почту. В течении ближайшего времени с вами свяжеться менеджер, чтобы обсудить делали заказа.',
			sumTotalLinkDownload: 'Скачать счет PDF',
			sumTotalLinkDate: '(действителен до 21.05.2022)',
			sumTotalLinkDownload2: 'Бланк резерва PDF',
			sumTotalLinkDate2: '(действителен до 21.05.2022)',
			informSubtitle: 'Оплата резерва',
			buttonPayButtonOffice: 'Оплата резерва',
			informText: 'Резерв товаров из вашего списка товаров на складе сроком на 14 суток. Приобретая услугу Вы соглашаетесь с тем, что стоимость товара на момент окончания срока резерва может изменится. По окончанию срока резерва товара на складе мы не гарантируем его последующее наличие. Цены не являются публичной офертой, содержит ориентировочный уровень цен. Окончательную цену (и уровень скидок) - оговаривайте с менеджером. Приобретая услугу Вы соглашаетесь с тем, что стоимость товара на момент окончания срока резерва может изменится. Резерв товаров из вашего списка товаров на складе сроком на 14 суток. Приобретая услугу Вы соглашаетесь с тем, что стоимость товара на момент окончания срока резерва может изменится. По окончанию срока резерва товара на складе мы не гарантируем его последующее наличие.',
			informScroll: 'Развернуть'
		},
		elem: {
			Popup: {
				data: {
					dataPopupName: 'payment'
				},
				bem: {
					parent: 'popup-payment'
				},
			},
			//- Button: {
			//- 	elemArr: [
			//- 				{
			//- 		data: {
			//- 			text: 'Оплатить по счету'
			//- 		},
			//- 		opt: {
			//- 			disabled: true
			//- 		}
			//- 	},
			//- 	{
			//- 		data: {
			//- 			text: 'Оплатить онлайн'
			//- 		}
			//- 	},
			//- 	{
			//- 		data: {
			//- 			text: 'Оплатить в офисе'
			//- 		}
			//- 	}
			//- 	]
			//- }
		},
		dataArr: {
			buttonPay: [
				{
					data: {
						text: 'Оплатить по счету'
					}
				},
				{
					data: {
						text: 'Оплатить онлайн'
					}
				},
				{
					data: {
						text: 'Оплатить в офисе'
					}
				}
			]
		}
	};
