-
	const sectionPopupList = {
		data: {
			popupPayment: 'Оплата (Резерв) - popupPayment',
			popupPaymentEntity: 'Оплата (Юридическое лицо) - popupPaymentEntity',
			popupPaymentIndividual: 'Оплата (Физическое лицо) - popupPaymentIndividual',
			popupPayMethod: 'Оплата (ОНЛАЙН) - popupPayMethod',
			popupPayCheck: 'Оплата (По счету) - popupPayCheck',
			popupThanks: 'Оплата (В офисе) - popupThanks',
			authorization: 'Авторизация -  authorization'
		},
	}
