-
	const popupThanks = {
		data: {

		},
		elem: {
			Popup: {
				data: {
					dataPopupName: 'pay-thanks'
				},
				bem: {
					parent: 'popup-pay-check'
				},
			},
			TextInformDocs: {
				data: {
					text: 'Спасибо за заказ!'
				},
				bem: {
					size: 'fs-32',
					color: 'wet-asphalt',
					fw: 'fw-bold',
					elementClassIndividual: 'inform-docs-thanks'
				},
				opt: {
					p: true,
					isElementClass: true
				}
			},
			TextEmail: {
				data: {
					text: 'ivanov.ivan@yandex.ru'
				},
				bem: {
					size: 'fs-20',
					color: 'light-slate-gray',
					fw: 'fw-bold',
					elementClassIndividual: 'email-thanks'
				},
				opt: {
					p: true,
					isElementClass: true
				}
			},
			TextInform: {
				data: {
					text: 'В ближайшее время с вами свяжется наш менеджер для уточнения деталей!'
				},
				bem: {
					size: 'fs-20',
					color: 'wet-asphalt',
					elementClassIndividual: 'text-inform-thanks'
				},
				opt: {
					p: true,
					isElementClass: true
				}
			}
		}
	};
