-
	const popupPasswordRecovery = {
		data: {
			title: 'Восстановление пароля',
			placeholderPasswork: 'Пароль*',
			placeholderLogin: 'Логин / e-mail*',
			buttonEnter: 'Восстановить',
			buttonClose: 'Закрыть'
		},
		bem: {
			fieldItemS: 'field-s',
			fieldItemM: 'field-m',
			fieldItemX: 'field-x',
			fieldItemT: 'field-t',
			fieldItemAcc: 'field-acc',
		},
		elem: {
			Popup: {
				data: {
					dataPopupName: 'popup-password-recovery'
				},
				bem: {
					parent: 'popup-password-recovery'
				},
			},
			TextReservePersonalData: {
				data: {
					text: 'Конфеденциальность личных данных'
				},
				bem: {
					color: 'wet-asphalt',
					size: 'fs-18',
					fw: 'fw-800',
					lh: 'lh-1-1',
					elementClassIndividual: 'reserve-condition-title'
				},
				opt: {
					p: true,
					isElementClass: true
				}
			},
			TextReservePersonalText: {
				data: {
					text: 'Резерв товаров из вашего списка товаров на складе сроком на 14 суток. Приобретая услугу Вы соглашаетесь с тем, что стоимость товара на момент окончания срока резерва может изменится. Резерв товаров из вашего списка товаров на складе сроком на 14 суток. Приобретая услугу Вы соглашаетесь с тем, что стоимость товара на момент окончания срока резерва может изменится.'
				},
				bem: {
					color: 'wet-asphalt-70 ',
					size: 'fs-14',
					fw: 'fw-300',
					lh: 'lh-1-14',
					elementClassIndividual: 'reserve-condition-text'
				},
				opt: {
					p: true,
					isElementClass: true
				}
			},
			TextSendPassword: {
				data: {
					text: 'Новый пароль отправлен на ваш e-mail'
				},
				bem: {
					color: 'wet-asphalt',
					size: 'fs-32',
					fw: 'fw-bold',
					lh: 'lh-0-94',
					elementClassIndividual: 'reserve-condition-send-password'
				},
				opt: {
					p: true,
					isElementClass: true
				}
			},
			TextEmail: {
				data: {
					text: 'ivanov.ivan@yandex.ru'
				},
				bem: {
					color: 'wet-asphalt',
					size: 'fs-20',
					fw: 'fw-normal',
					lh: 'lh-1',
					elementClassIndividual: 'reserve-condition-email'
				},
				opt: {
					p: true,
					isElementClass: true
				}
			},
		},
	};
