.section-nav {
	display: flex;
	align-items: center;
	justify-content: space-between;

	width: 1373px;

	font-size: 20px;
	line-height: 20px;

	&__inner {
		padding: 10px;
	}

	&__link {
		padding: 0 3px;

		text-decoration: none;

		color: $white;
	}

	&__back {
		color: $white;

		font-size: 28px;
	}
}