//- инстанст функции для дробления store на отдельные секции
- let orderProcessing = addSections();

//- секция SECTION-BREADCRUMBS
include order-processing-section-breadcrumbs
- orderProcessing.section = 'sectionBreadcrumbs';

//- блок POPUP-PAYMENT
include order-processing-popup-payment
- orderProcessing.section = 'popupPayment';

//- блок POPUP-PAYMENT-ENTITY
include order-processing-popup-payment-entity
- orderProcessing.section = 'popupPaymentEntity';

//- блок POPUP-PAYENTITY
include order-processing-popup-payentity
- orderProcessing.section = 'popupPayentity';
