//- инстанст функции для дробления store на отдельные секции
- let orderProcessing = addSections();

//- секция SECTION-BREADCRUMBS
include order-processing-section-breadcrumbs
- orderProcessing.section = 'sectionBreadcrumbs';

//- блок POPUP-PAYMENT
include order-processing-popup-payment
- orderProcessing.section = 'popupPayment';

//- блок POPUP-PAYMENT-ENTITY
include order-processing-popup-payment-entity
- orderProcessing.section = 'popupPaymentEntity';

//- блок POPUP-PAY-METHOD
include order-processing-popup-pay-method
- orderProcessing.section = 'popupPayMethod';

//- блок POPUP-PAY-CHECK
include order-processing-popup-pay-check
- orderProcessing.section = 'popupPayCheck';

include order-processing-popup-thanks
- orderProcessing.section = 'popupThanks';

include order-processing-section-order-processing
- orderProcessing.section = 'sectionOrderProcessing';

//- секция SECTION-CATALOG
include order-processing-section-catalog
- orderProcessing.section = 'sectionCatalog';
