-
	const popupPayCheck = {
		data: {
			titleMethod: 'Оплата по счету',
			titleOrder: 'Оплата заказа',
			numberOrder: '№210522/1-MT',
			titleFirm: 'ИП Петров Иван',
			sumTotalNumber: '64 000.00 руб.',
			docs: 'Документы на оплату отправлены на ваш e-mail',
			email: 'ivanov.ivan@yandex.ru',
			sumTotalLinkDownload: 'Скачать счет PDF',
			sumTotalLinkDate: '(действителен до 21.05.2022)',
			sumTotalLinkDownload2: 'Бланк резерва PDF',
			sumTotalLinkDate2: '(действителен до 21.05.2022)',
			informText: 'Копия документов на оплату отправлена на вашу электронную почту. В течении ближайшего времени с вами свяжеться менеджер, чтобы обсудить делали заказа.'
		},
		elem: {
			Popup: {
				data: {
					dataPopupName: 'pay-check'
				},
				bem: {
					parent: 'popup-pay-check'
				},
			},
		}
	};
