-
	const popupAuthorization = {
		data: {
			title: 'Личный кабинет',
			subtitle: 'Конфеденциальность личных данных',
			placeholderName:'Фамилия Имя',
			placeholderInn:'ИНН',
			placeholderEmail:'E-mail',
			placeholderTel:'Моб. телефон',
			buttonPassword:'Сменить пароль',
			buttonData:'Изменить данные',
			text:'Резерв товаров из вашего списка товаров на складе сроком на 14 суток. Приобретая услугу Вы соглашаетесь с тем, что стоимость товара на момент окончания срока резерва может изменится. Резерв товаров из вашего списка товаров на складе сроком на 14 суток. Приобретая услугу Вы соглашаетесь с тем, что стоимость товара на момент окончания срока резерва может изменится.',
		},
		elem: {
			Popup: {
				data: {
					dataPopupName: 'pay-authorization'
				},
				bem: {
					parent: 'popup-authorization'
				},
			},
		},
		dataArr: {
			buttonPay: [
				{
					data: {
						text: 'Оплатить по счету'
					}
				},
				{
					data: {
						text: 'Оплатить онлайн'
					},
					opt: {
						disabled: true
					}
				},
				{
					data: {
						text: 'Оплатить в офисе'
					}
				}
			]
		}
	};
