//- инстанст функции для дробления store на отдельные секции
- let orderProcessing = addSections();

//- секция SECTION-BREADCRUMBS
include order-processing-section-breadcrumbs
- orderProcessing.section = 'sectionBreadcrumbs';
