.accordion {
	$self: &;

	&__title {
		display: flex;
		align-items: center;
		justify-content: space-between;

		padding-top: 23px;
		padding-bottom: 12px;

		cursor: pointer;
		letter-spacing: normal;

		color: $wet-asphalt;

		font-size: 22px;
		font-weight: 700;
		line-height: 1;

		&::after {
			width: 12px;
			height: 12px;

			content: '';
			transition: all 0.3s;
			transform: rotate(45deg);

			opacity: 22%;
			border-top: 3px solid $liverny-light;
			border-right: 3px solid $liverny-light;
		}
	}

	&__body {
		position: relative;

		overflow: hidden;

		transition: all 0.3s;

		//#{$self}__body {
		//	height: 0;
		//}
	}

	&_fz-20 {
		#{$self}__title {
			font-size: $fs-20;
		}
	}

	&_fz-24 {
		#{$self}__title {
			font-size: $fs-24;
			font-weight: 300;
		}
	}

	&_fz-25 {
		#{$self}__title {
			margin-bottom: 20px;

			font-size: $fs-24;
			font-weight: 300;
		}
	}

	&_reset {
		#{$self}__title::after {
			display: none;
		}
	}

	@include media('xs'){
		&__title {
			font-size: $fs-28;
		}
	}
}

.js-active {
	& > .accordion__title {
		&::after {
			transform: rotate(135deg);
		}
	}

	//.accordion__body {
	//	.accordion__body {
	//		height: max-content;
	//	}
	//}
}
