.accordion {
	&__title {
		display: flex;
		align-items: center;
		justify-content: space-between;

		padding-top: 30px;
		padding-bottom: 12px;

		cursor: pointer;
		letter-spacing: normal;

		color: #464646;

		font-size: 30px;
		font-weight: 700;
		line-height: 1;

		&::after {
			display: block;

			content: url('../layout/assets/images/icons-accordion-arrow.svg');
			transition: all 0.3s;
			transform: rotate(90deg);
		}
	}

	&__body {
		position: relative;

		overflow: hidden;

		transition: all 0.3s;
	}
}

.js-active {
	& > .accordion__title {
		&::after {
			transform: rotate(0deg);
		}
	}
}
