mixin Slider(props)
	//- проверка данных получаемых из props
	include ../../shared/helpers/pug/shortcut-check-store

	+b('slider', { b: 'swiper', m: BEM('modifier') }, 'div')
		block
		if OPT('control')
			+e('pagination', { b: 'swiper-pagination' }, 'div')
			include slider-arrow.svg
