.slider {
	&__img {
		max-height: 410px;
	}

	&__pagination {
		text-align: right;

		.swiper-pagination-bullet {
			width: 10px;
			height: 10px;

			border-radius: 0;
			background: $white;
		}
	}
}
