include ../shared/helpers/pug/helpers
include ../../node_modules/bempug/index
-
	BEMPUG.modifier = '_';
	BEMPUG.afterParse[''] = function (block) {
		block.classes = [];
	}
include ../shared/ui

block variables
	- const pathFile = '../../layout/assets/images';

block store

doctype html
html(lang='ru')

	head
		block head
			meta(charset='UTF-8')/
			meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')/
			meta(http-equiv='X-UA-Compatible' content='ie=edge')/

	body

		block header
			include ../sections/header/header

		block main
			p append

		block footer
			include ../sections/footer/footer
